            <td class="meta">
              <span><img src="{{otherUser.avatarURL}}"></span>
            </td>
            <td>
              {{#with model}}
              <h3><a href="/agreement/{{id}}">{{title}}</a></h3>
              {{/with}}
              {{#with statusInfo}}
              <p>{{lastAction}}</p>
            </td>
            <td class="progress">
              <span style="background-position: -200px 0px;"><img src="../img/progress-small.png"></span>
              <p>{{currentState}}</p>
              {{/with}}
            </td>