            <td class="meta">
              <span><img src="{{otherUser.avatarURL}}"></span>
            </td>
            <td>
              {{#with model}}
              {{#if version}}
              <h3><a href="/agreement/v/{{versionID}}">{{title}}</a></h3>
              {{else}}
              <h3><a href="/agreements/new?versionID={{versionID}}">{{title}}</a></h3>
              {{/if}}
              {{/with}}
              {{#with statusInfo}}
              <p>{{lastAction}}</p>
              {{/with}}
            </td>
            <td class="progress">
              <progress max="100" value="{{percentComplete}}">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <!-- <p style="width:{{percentComplete}}%" data-value="{{percentComplete}}">HTML5</p> -->
                <!-- <div class="progress-bar">
                  <span style="width: {{percentComplete}}%"></span>
                </div> -->
                <!-- <div class="small_progress_bar">
                  <span style="width:{{percentComplete}}%"></span>
                </div> -->
                
              </progress>
              <p>{{statusInfo.currentState}}</p>
              
            </td>