<div class="email_signup hide">
  <h1 class="email_screen_title">Wurk Happy is in private beta</h1>
  <span class="helper_text login_helper email_helper">Please sign up for our newsletter to receive early access.</span>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="http://wurkhappy.us2.list-manage1.com/subscribe/post?u=dd4c6997fe3eff3f9e212d962&amp;id=a05bd954a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL"></label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_dd4c6997fe3eff3f9e212d962_a05bd954a8" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button action_button email_button"></div>
  </form>
  </div>
</div>

<script>
$.ajaxChimp.init('#mc-embedded-subscribe-form');
</script>

<!--End mc_embed_signup-->