
      <form accept-charset="utf-8" id="login_form" class="js-form login_form forgot_password_form">
        <h1 style="color: hsl(198, 100%, 39%);">Forgot Password?</h1>
        <span class="helper_text">Please enter your email address. You will be sent an email that will allow you to reset your password.</span>
        <fieldset>
          <div class="server_error" id="server_error"></div>
          <label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
            <input data-type="email" data-required="true" data-trigger="change" type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
          </div>
        </fieldset>
        <fieldset>
          <input type="submit" value="Send Reset Email" class="button action_button" style="padding:0;width:200px;float:right;border:none;border-radius:0;margin-top: 10px;">
        </fieldset>
      </form>