
      <form accept-charset="utf-8" id="login_form" class="js-form login_form forgot_password_form">
        <h1 class="login_screen_title">Forgot Password?</h1>
        <span class="helper_text login_helper">Please enter your email address. You will be sent an email that will allow you to reset your password.</span>
        <fieldset>
          <label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
            <input data-type="email" data-required="true" data-trigger="change" type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
          </div>
        </fieldset>
        <fieldset>
          <input type="submit" value="Send Reset Email" class="submit-button login_button forgot_password_button">
        </fieldset>
      </form>