<div id="intro" class="clear intro_container fade">
    <div class="container">
      <div class="clear">
        <h1 class="headline">Build Amazing Client Relationships</h1>
        <h2 class="subline">Thoughtfully simple agreement, communication, and payment software for freelancers</h2>
      </div>
      <div class="column-one-third">
        <div class="benefit">
          <img src="img/agreement.jpg" alt="Simple Agreement">
        </div>
        <h3 class="benefit_title">Simple Communication</h3>
        <p class="benefit_description">Important conversations.<br> Organized and accessible.</p>
      </div>
      <div class="column-one-third">
        <div class="benefit">
          <img class="img" src="img/buttons.jpg" alt="Simple Billing">
        </div>
        <h3 class="benefit_title">Automatic Billing</h3>
        <p class="benefit_description">Stop Invoicing.<br> We do it for you.</p>
      </div>
      <div class="column-one-third">
        <div class="benefit">
          <img src="img/paid.jpg" alt="Simple Payment">
        </div>
        <h3 class="benefit_title">Easy Online Payment</h3>
        <p class="benefit_description">Easy for your client.<br> Fast for you.</p>
      </div>
    </div>
  </div>
  
  <div class="sub_navigation clear fade">
    <div class="container">
      <ul class="sub_navigation_container">
        <li class="tab current sub_navigation_tab" id="about-button">
          <a class="sub_navigation_link">About</a>
        </li>
            <li class="tab sub_navigation_tab" id="pricing-button">
              <a class="sub_navigation_link">Pricing</a>
            </li>
      </ul>
    </div>
  </div>

  <div id="content" class="content clear fade get_started_container">

    <div class="container tab-content" id="about-container"> <!-- Start "about" tab -->
      <div id="about" class="column-two-third">
        <h2>What is Wurk Happy?</h2>
        <p>Wurk Happy is an online platform that facilitates simple agreement, billing, and payment for freelancers and their clients.</p>
        <p>We make the payment process fast and transparent by improving communication, reducing administration, and decreasing payment processing times.</p>
      </div>
    </div> <!-- End "about" tab -->
    
    <div class="container">
      <div class="column-one-third">
        <form action="/user/new" method="POST" id="create_form" class="create_account_form" accept-charset="utf-8">
          <fieldset>
            <legend class="create_account_legend" id="form-header">Get Started</legend>

            <label id="email-label" for="email">Your Email: <span class="validation" id="email-validation"></span></label>
            <input type="email" data-type="email" data-required="true" data-trigger="change" name="email" id="email-field" class="text-field" placeholder="name@website.com">
            
            <label for="email">Choose a password:</label>
                  <input type="password"  data-required="true" data-trigger="change" name="password" id="password" class="text-field">
          
          </fieldset>
          <fieldset>
            <input type="submit" value="Create Free Account" class="button action_button">
          </fieldset>
        </form>
      </div>
    </div>
  </div>