
      <form parsley-validate action="/account/create" method="POST" accept-charset="utf-8" id="login_form" class="js-form login_form">
        <h1 class="login_screen_title">Login</h1>
        <fieldset>
          <div class="server_error" id="server_error"></div>
          <label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
            <input data-type="email" data-required="true" data-trigger="change" type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
          </div>
          <label for="password">Password:</label>
          <input data-required="true" data-trigger="change" type="password" name="password" value="" id="password" class="text-field" required id="password-validation" />
          <span class="helper_text forgot_password"><a href="#forgot-password">Forgot password?</a></span>
        </fieldset>
        <span class="helper_text other_login">Don't have an account? <a href="#new-account" title="login">Signup</a>.</span>
        <div>
          <input type="submit" value="Log In" class="submit-button login_button">
        </div>
      </form>