
      <form action="/account/create" method="POST" accept-charset="utf-8" id="login_form" class="js-form login_form create_account_form">
        <h1 class="login_screen_title">Create Free Account</h1>
          <span class="helper_text login_helper">Please create an account to start exploring Wurk Happy.</span>
        <fieldset>
          <div class="server_error" id="server_error"></div>
          <label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
            <input data-type="email" data-required="true" data-trigger="change" type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
          </div>
          <label for="password">Choose a password:</label>
          <input data-required="true" data-trigger="change" type="password" name="password" value="" id="password" class="text-field" required id="password-validation" />
        </fieldset>
        {{#if showHaveAccount}}
        <span class="helper_text">Already have an account? <a href="#login" title="login">Login</a>.</span>
        {{/if}}
        <div>
          <input type="submit"
          {{#unless showHaveAccount}}
          style="float:left;"
          {{/unless}}
           value="Create Free Account" class="submit-button create_account_button">
        </div>
        <div style="clear:both;"></div>
      </form>