<div id="logindiv" class="login_form_container hide">
  <div class="container">
    <div class="column-one-third">
      <form action="/account/create" method="POST" accept-charset="utf-8" id="login_form" class="js-form login_form">
        <fieldset>
          <div class="server_error" id="server_error"></div>
          <label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
            <input data-type="email" data-required="true" data-trigger="change" type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
          </div>
          <label for="password">Choose a password:</label>
          <input data-required="true" data-trigger="change" type="password" name="password" value="" id="password" class="text-field" required id="password-validation" />
        </fieldset>
        <fieldset>
          <input type="submit" value="Submit" class="submit-button login_button">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="copyright copyright_login clear">
  <p>Powered by Wurk Happy &mdash; Copyright &#169; 2013 Wurk Happy &mdash; All Rights Reserved</p>
</div>