<div id="pricing" class="column-two-third">
  <h1>Pricing</h1>
  <h2>Simple Pricing. No Hidden Fees.</h2>
  <p>Wurk Happy is free to signup. When you receive payment through our platform, we charge 1.5% up to a maximum fee of $15 if you choose to get paid through digital check and 3.5% if you choose to get paid through credit card.</p>
  <h2>Calculate Your Per Transaction Costs</h2>
  <div>
	  <a href="">Credit Card</a>
	  <a href="">Digital Check</a>
  </div>


  <div class="credit_card_calculator">
  	<div>
  		<div class="">
  			<p>Please enter your average transaction size.</p>
  		</div>
  		<div>
  			<input type="number" min="0" max="1000000">
  		</div>
  	</div>
  </div>
  <div class="digital_check_calculator">
  	<p>Please enter your average transaction size.</p>
  	<input type="number" min="0" max="1000000">
  </div>
  <p>Funds are transferred from bank account to bank account, and are usually available within 1 business day.</p>
  <p><strong>If you choose to get paid by credit card,</strong> we charge 5% per transaction.</p>
  <p>Funds are available within 5-7 business days (though it's often within 1-2 days) after transfer from your account with the payment processor.</p>
</div>