<div id="pricing" class="column-two-third">
  <h2>Straightforward Pricing</h2>
  <p>Wurk Happy only charges a processing fee when you receive payment.</p>
  <p><strong>If you choose to get paid by bank transfer,</strong> we charge 1.5% of the payment received - up to a maximum fee per transaction of $15.</p>
  <p>Funds are transferred from bank account to bank account, and are usually available within 1 business day.</p>
  <p><strong>If you choose to get paid by credit card,</strong> we charge 5% per transaction.</p>
  <p>Funds are available within 5-7 business days (though it's often within 1-2 days) after transfer from your account with the payment processor.</p>
</div>