<div id="intro" class="clear intro">
	<div class="column-three-fourth">
		<h1>{{model.title}}</h1>
	</div>
	<div class="column-one-fourth">
		<ul class="action_button_container">
			{{#if waiting}}
				<h3 class="waiting">Waiting for the other party. Nothing to do here.</h3>
			{{else}}
				{{#if button1Title}}
					<li><a id="action-button1" class="button action_button">{{button1Title}}</a></li>
				{{/if}}
			{{/if}}
			{{#if button2Title}}<li><a id="action-button2" class="button action_button">{{button2Title}}</a></li>{{/if}}
			<!--<li><a id="action-button2" class="button action_button">Edit Agreement</a></li>-->
		</ul>
	</div>
	<script>
		console.log(agreement.currentStatus);
	</script>

</div>
<div id="popup_container"></div>