  <div class="buttons group">
    <ul component-list>


      <li>
        <a class="call-to-action" href="#">Call to Action</a>

        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="call-to-action" href="#"&gt;Call to Action&lt;/a&gt;</code></pre>
        </details>


      </li>



      <li>
        <a class="big-button" href="#">Big Button</a>

        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="big-button" href="#"&gt;Big Button&lt;/a&gt;</code></pre>
        </details>


      </li>



      <li>
        <a class="big-button red" href="#">Warning Button</a>

        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="big-button red" href="#"&gt;Warning Button&lt;/a&gt;</code></pre>
        </details>


      </li>


    </ul>
  </div>