<div class="messages group">
  <ul component-list>
    <li>
      <div class="messages status">
        <h2 class="element-invisisble">status message</h2>
        <p>This is a <em>status</em> message.</p>
      </div>
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages status"&gt;
                                                           &lt;h2 class="element-invisisble"&gt;status message&lt;/h2&gt;
                                                           &lt;p>This is a &lt;em&gt;status&lt;/em&gt; message.&lt;/p&gt;
                                                           &lt;/div&gt;</code></pre>
      </details>
    </li>
    <li>
      <div class="messages warning">
        <h2 class="element-invisisble">warning message</h2>
        <p>This is a <em>warning</em> message.</p>
      </div>
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages warning"&gt;
                                                           &lt;h2 class="element-invisisble"&gt;warning message&lt;/h2&gt;
                                                           &lt;p>This is a &lt;em&gt;warning&lt;/em&gt; message.&lt;/p&gt;
                                                           &lt;/div&gt;</code></pre>
      </details>
    </li>
    <li>
      <div class="messages error">
        <h2 class="element-invisisble">error message</h2>
        <p>This is a <em>error</em> message.</p>
      </div>
      <details>
        <summary>HTML Source</summary>
        <pre class="example"><code class="language-markup">&lt;div class="messages error"&gt;
                                                           &lt;h2 class="element-invisisble"&gt;error message&lt;/h2&gt;
                                                           &lt;p>This is a &lt;em&gt;error&lt;/em&gt; message.&lt;/p&gt;
                                                           &lt;/div&gt;</code></pre>
      </details>
    </li>
</div>