<div id="intro" class="grid intro" style="margin:0;">
	<div class="col-1-2">
		<h1 class="header_title">{{model.title}}</h1>
		<h2 style="margin:0;padding:0;line-height:28px;color:white;font-family:museo_sans;font-size:16px;font-weight:300"><span style="text-transform:uppercase;font-weight:100;font-size: 10px;">for client</span> {{client.firstName}} {{client.lastName}}</h2>
	</div>
	<div class="col-1-2">
		<ul class="action_button_container" style="float:right;margin:0;">
			{{#if newAgreement}}
				<h3 class="waiting">New agreement submitted.</h3>
			{{/if}}
			{{#if archived}}
				<h3 class="waiting">This agreement is archived.</h3>
			{{/if}}
			{{#if waiting}}
				<!-- <h3 class="waiting">Waiting for the other party.</h3> -->
			{{/if}}
			{{#if button1Title}}
				<li style="padding:0;">
					<a href="{{button1Title}}" id="action-button1" class="button action_button">{{button1Title}}
					</a>
				</li>
			{{/if}}
			{{#if button2Title}}
			<li><a href="{{button2Title}}" id="action-button2" class="button orange_button">{{button2Title}}</a></li>
			{{/if}}
		</ul>
		<h2 style="margin-right:30px;text-align:right;width:222px;padding:0;float:right;margin:0;line-height:20px;color:white;font-family:museo_sans;font-size:16px;font-weight:300;margin-right:30px;">{{freelancer.firstName}} {{freelancer.lastName}}<br><span style="text-transform:uppercase;font-weight:100;font-size: 10px;">last completed</span><br><span style="text-transform:uppercase;font-style:italic;font-weight:100;font-size:18px;"> task 1</span></h2>
	</div>
</div>
