<div id="intro" class="clear intro">
	<div class="column-three-fourth">
		<h1>{{model.title}}</h1>
	</div>
	<div class="column-one-fourth">
		<ul class="action_button_container">
			{{#if newAgreement}}
				<h3 class="waiting">New agreement submitted.</h3>
			{{/if}}
			{{#if archived}}
				<h3 class="waiting">This agreement is archived.</h3>
			{{/if}}
			{{#if waiting}}
				<h3 class="waiting">Waiting for the other party. Nothing to do here.</h3>
			{{/if}}
			{{#if button1Title}}
				<li>
					<a href="{{button1Title}}" id="action-button1" class="button action_button">{{button1Title}}
					</a>
				</li>
			{{/if}}
			{{#if button2Title}}
			<li><a href="{{button2Title}}" id="action-button2" class="button action_button">{{button2Title}}</a></li>
			{{/if}}
		</ul>
	</div>
</div>
