<div id="navigation" class="clear">
  <div class="column-three-fourth">
    <ul class="clear">
      <li>
        <p class="logo-sm">
          <a href="/">Wurk Happy</a>
        </p>
      </li>
      <li>
        <a href="../home/freelancer_home.html">
          <strong>Client Agreements</strong>
        </a>
      </li>
      <li>
        <a href="../home/client_home.html">
          <strong>Freelancer Agreements</strong>
        </a>
      </li>
         <!--<li><a href="/templates">Templates</a></li>-->
    </ul>
  </div>
  <div class="column-one-fourth">
    <ul id="admin" class="clear">
      <li><a href="/logout">Log Out</a></li>
      <li <!-- @account_current? --><a href="../account/personal.html">Account</a></li>
         <!--<li><a href="#">Preferences</a></li>-->
    </ul>
  </div>
</div>