
<!-- main app footer-->

<div id="footer" class="clear">

  <div class="column-one-fourth">

    <h3>Archives</h3>

    <ul>
      <li><a href="">All Client Agreements</a></li>
      <li><a href="">All Vendor Agreements</a></li>
      <li><a href="">All People</a></li>
    </ul>

  </div>

  <div class="column-one-fourth">

    <h3>Section 2</h3>

    <ul>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
    </ul>

  </div>

  <div class="column-one-fourth">

    <h3>Section 3</h3>

    <ul>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
    </ul>

  </div>

  <div class="column-one-fourth">

    <h3>Section 4</h3>

    <ul>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Links</a></li>
    </ul>

  </div>

</div>


<div id="copyright" class="clear">

  <p>Powered by Wurk Happy &mdash; Copyright &#169; Wurk Happy &mdash; All Rights Reserved</p>

</div>

</div>


<script data-main="/js/config" src="/js/lib/requirejs/require.js"></script>
<script>
  // Load common code that includes config, then load the app logic for
  // this page. Do the require calls here instead of a separate file
  // so after a build there are only 2 HTTP requests instead of three.
  require(['config'], function(config) {
    // baseUrl is js/ so we can just ask for `app/main` here instead of `js/app/main`.
    require(['app/<!-- @appfile -->']);
  });
</script>
<script type="text/javascript">
  $(window).unload(function() {
    _gaq.push(['_trackEvent', 'Unload']);
  });
</script>
</body>
</html>