    <h1>Your Progress</h1>
    <div class="layout_container" style="position: fixed;
top: 0;
background: hsl(0, 100%, 100%);
left: 50%;
width: 360px;
margin-left: -200px;
z-index: 1;
padding: 15px;
margin-top: 20px;
border: 1px solid hsl(0, 0%, 96%);
box-shadow: 0px 0px 1px 1px hsl(0, 0%, 50%);display:none;">
        <article stlye="position:relative;">
            <h2 style="color:hsl(198, 100%, 35%);">Getting to know Wurk Happy</h2>
            <p class="helper_text">Your progress getting to know Wurk Happy.</p>
          <div style="width:50%;background-color: hsl(95, 56%, 57%);height: 4px;"></div>
          <ol>
            <div style="position:relative;">
              <i class="fa fa-check" style="position: absolute;
                top: 4px;
                left: -20px;"></i>
              <li class='helper_text' style="display:list-item;">Click on our sample agreements to see what you're getting.</li>
            </div>
            <li class='helper_text' style="display:list-item;">Create and send a test agreement to marcus@wurkhappy</li>
          </ol>
        </article></div>