    <div id="getting_started_progress_container">
      <h1>Getting Started</h1>
      <h2>Steps 0 of 2 completed</h2>
    </div>
    
    <div id="getting_started_container" class="layout_container">
        <article stlye="position:relative;">
            <h2 style="color:hsl(198, 100%, 35%);">Getting to know Wurk Happy</h2>
            <p class="helper_text">Your progress getting to know Wurk Happy.</p>
          <div style="width:100%;background-color: hsl(0, 0%, 73%);height: 4px;">
            <span style="background-color:hsl(95, 56%, 57%);width:0%;height:4px;display:block;"></span></div>
          <ol>
            <div style="position:relative;">
              <!-- <i class="fa fa-check" style="position: absolute;
                top: 4px;
                left: -20px;"></i> -->
              <li class='helper_text' style="display:list-item;">Click on our sample agreements to see what you're getting.</li>
            </div>
            <li class='helper_text' style="display:list-item;">Create and send a test agreement to marcus@wurkhappy</li>
          </ol>
        </article>
    </div>