<!-- This is the styleguide nav-->
<div id="prototype-nav">
  <div class="content-wrapper">
    <nav role="navigation">
      <div role="menubar">

        <a href="/" role="menuitem">Home</a>

        <a href="/styleguide/style-tile.html" role="menuitem">Style Tile</a>

        <a href="/styleguide/elements.html" role="menuitem">Elements</a>

        <a href="/styleguide/typography.html" role="menuitem">Typography</a>

        <a href="/styleguide/components.html" role="menuitem">Components</a>

        <a href="/styleguide/colors.html" role="menuitem">Colors</a>

      </div>
    </nav>
  </div>
</div>