<div id="intro" class="clear intro">
	<div class="column-three-fourth">
		<h1>{{model.title}}</h1>
	</div>
	<div class="column-one-fourth">
		<ul class="action_button_container">
			{{#if button1Title}}<li><a href="{{button1Title}}" id="action-button1" class="button action_button">{{button1Title}}</a></li>{{/if}}
		</ul>
		<ul class="action_button_container">
			{{#if button2Title}}<li><a href="{{button2Title}}" id="action-button2" class="button cancel">{{button2Title}}</a></li>{{/if}}
		</ul>
	</div>
</div>
<div id="popup_container"></div>