<div>
	<input class="title" type="text" value="{{title}}"><br>
	{{#unless required}}
		<input {{#if dateExpected}} value="{{dateSlashFormat dateExpected}}"{{else}} placeholder="Choose Date" {{/if}} class="kal" name="dateExpected"  type="text">
	{{/unless}}
</div>
<input class="edit_work_item add_work_item_input" type="text" name="" value="" placeholder="Add task" id="" size="50">
<a href="add_work_item" class="add-more add_comment">Add Task</a>
<ul class="scope_items_container create_scope_item_container"></ul>
<fieldset class="removeButton">
	<p class="remove_icon">
		<a href="remove_milestone" id="remove_icon">Remove deliverable</a>
	</p>
</fieldset>