<h2>Stored Bank Account</h2>

<div class="data-table">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <h3>Checking Account</h3>
        <p>Routing Number: ******234 &mdash; Account Number: *********678</p>
        <p class="remove"><a href="">Delete Bank Account</a></p>
      </td>
    </tr>
  </table>
</div>

<h2>Bank Account Details</h2>

<form action="#" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="pay-checking"><input type="radio" name="saving" value="1" id="pay-checking" checked> Checking Account</label>
    <label for="pay-savings"><input type="radio" name="saving" value="2" id="pay-savings"> Savings Account</label>
  </fieldset>
  <fieldset>
    <label for="">Routing Number</label>
    <input type="text" name="" value="" id="" size="50">
    <label for="">Account Number</label>
    <input type="text" name="" value="" id="" size="50">
  </fieldset>
  <fieldset class="submit-buttons">
    <a href="../home/freelancer_home.html" class="single">Save Bank Details</a>
  </fieldset>
</form>