  <fieldset>
    <label for="">Payment Milestone <span>Examples: initial deposit, certain deliverables, final payment, etc.</span></label>
    <input type="text" name="title" placeholder="Wireframes" id="" size="50">
    <label for="">Payment Amount<span>Please enter an amount between $1.00 and $100,000.00</span></label>
    <input type="text" name="amount" placeholder="$0.00" id="" size="25">
    <label for="">Payment Expected</label>
    <input type="text" class="auto-kal" size="25">
  </fieldset>
  <!--

  Deleted the following: in title, amount: value="{{this.title}}", value="{{this.amount}}"  

  The purpose of this is to put in the saved value. Need to think about the best way of incorporating this.


   -->