<fieldset class="create_milestone_container">
    <label for="">Payment Milestone Name<span>Examples: Certain deliverables, 30% job complete, final payment, etc.</span></label>
    <input type="text" name="title" placeholder="{{model.title}}" id="" size="50"
    {{#if model.title}}
      value="{{model.title}}"
    {{/if}}
    >
    <label for="">Payment Milestone Amount<span>Please enter an amount between $1.00 and $100,000.00</span></label>
    <input class="paymentAmount currency_format" type="text" name="amount" placeholder="{{model.amount}}" id="" size="25"
    {{#if model.amount}}
      value="{{model.amount}}"
    {{/if}}
    >
    <label for="">Expected Payment Date</label>
    <input type="text" name="dateExpected" class="kal" size="25" 
    {{#if model.dateExpected}}
      placeholder="{{dateFormat model.dateExpected}}"
    {{/if}}>
  </fieldset>

<fieldset class="removeButton">
  	<p class="remove_icon">
  		<a <a href="#add_milestone">Remove milestone</a>
  	</p>
  </fieldset>

