  <fieldset>
  	<label for="">Payment Milestone Name<span>Examples: initial deposit, certain deliverables, final payment, etc.</span></label>
  	<input type="text" name="title" value="{{this.title}}" id="" size="50">
  	<label for="">Payment Milestone Amount<span>Please enter an amount between $1.00 and $100,000.00</span></label>
  	<input class="paymentAmount" type="text" name="amount" placeholder="$0.00" id="" size="25">
  	<label for="">Expected Payment Date</label>
  	<input type="text" name="dateExpected" class="kal" size="25">
  </fieldset>
  <fieldset class="removeButton">
  	<p class="remove_icon">
  		<a>Remove milestone</a>
  	</p>
  </fieldset>

