<div class="layout_container col-2-3" style="clear:both;border-right: 1px solid hsl(188, 35%, 84%);">
  <form parsley-validate parsley-bind class="create_milestone_container">
    <a id="removePayment" href="#remove_payment" style="float:right;">Remove Payment</a>
    <label for="">Payment Name</label>
    <span class="helper_text">Examples: 2nd payment, design approval, etc</span>
    <input data-required="true" data-trigger="change" type="text" name="title" placeholder="{{model.title}}" id="" size="50"
    value="{{model.title}}">
    <label id="payment_amount" for="">Payment Amount</label>
    <span class="helper_text">Please enter an amount between $10 and $15,000</span>
    <input data-required="true" data-trigger="change" class="paymentAmount currency_format" type="text" name="amountDue" id="" size="25"
    value="{{model.amountDue}}" required>
    <label for="">Expected Payment Date</label>
    <input data-required="true" data-trigger="change" type="text" name="dateExpected" class="kal" size="25" 
    value="{{dateSlashFormat model.dateExpected}}" required>
  </form>
</div>
