

<div class="deposit_container">
  <label>Agreement Deposit</label>
  <input id="showDeposit" type="checkbox" name="showDeposit" value="true" class="payment_method" >
  <span class="helper_text" style="display:inline;">Do you want a deposit required when the agreement is accepted?</span>
  <div id="depositInputContainer">
    <input 
      data-minamount="3"
      data-minlength="6"
      type="text" id="deposit" class="currency_format" name="amountDue" 
      value="{{depositAmount}}" 
      placeholder="$0.00">
  </div>
</div>


<div class="payment_methods_container">
  <label>Accepted Methods of Payment</label>
    <div style="padding-left:20px;">
      <input type="checkbox" name="acceptsBankTransfer" value="true" class="payment_method"
        {{#if acceptsBankTransfer}}
         checked
         {{/if}}
         >
        <i class="fa fa-money">  <span>Bank Account</span></i><br>
        <input type="checkbox" name="acceptsCreditCard" value="true" class="payment_method" 
        {{#if acceptsCreditCard}}
        checked
        {{/if}}
        >
        <i class="fa fa-credit-card">  <span>Credit Card</span></i>
    </div>
</div>