<form action="" method="get" accept-charset="utf-8">
  <fieldset>
    <label class="create_agreement_label_first" for="role">Role</label>
    {{#if clientID}}
      <input type="radio" name="role" value="freelancerID">Freelancer
      <input class="role_type" type="radio" name="role" value="clientID" checked>Client
    {{else}}
      <input type="radio" name="role" value="freelancerID" checked>Freelancer
      <input class="role_type" type="radio" name="role" value="clientID">Client
    {{/if}}
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title of project" id="" size="50" value="{{title}}">
    <label for="proposedServices">Summary <span>Manage service agreement template in the <a href="">preferences</a> section.</span></label>
    <textarea name="proposedServices" rows="3" cols="100" placeholder="What kind of work will you be doing?" value="{{proposedServices}}">{{proposedServices}}</textarea>
    <fieldset class="submit-buttons">
      <a class="single">Save and Continue</a>
    </fieldset>
  </form>

