<h2 style="margin-bottom:30px;">Agreement Review</h2>
<div class="review_agreement_container">
	<h2 class="review_title">
		{{#unless model.title}}
		Title Goes Here
		{{/unless}}
		{{model.title}}
	</h2>
	<div class="layout_container">
		
		<div style="float:right;">
			{{#if model.acceptsCreditCard}}
				<i class="fa fa-credit-card" style="margin-right:20px;">  <span>Credit Card</span></i>
			{{/if}}
			{{#if model.acceptsBankTransfer}}
				<i class="fa fa-money">  <span>Bank Account</span></i>
			{{/if}}
			{{#if noPaymentMethods}}
				<p> No payment methods selected.</p>
			{{/if}}
		</div>
		<h3>Summary</h3>
		<div class="proposed_services_container">{{{model.proposedServices}}}</div>
		<h3 style="margin-top:10px;margin-bottom:10px;">Services</h3>
		<ul class="no_bullet">
			{{#each model.workItems}}
			<li>
				<h4>{{title}}<span class="helper_text orange" style="display:inline;float:right;">
						{{#if dateExpected}} Due {{dateFormat dateExpected}}{{/if}}
					</span>
				</h4> 
				<ul class="no_bullet">
					{{#each scopeItems}}
					<li class="italic_text">{{title}}</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		</ul>
		<h3 style="margin-top:10px;margin-bottom:10px;">Payment Schedule</h3>
		<ul class="no_bullet ca_payment_list">
			{{#each model.payments}}
			
			<li>
				<h4>{{title}}
				<span class="helper_text orange" style="display:inline;margin-left:20px;"> {{#if this.isDeposit}}{{else}}{{#if dateExpected}} expected {{dateFormat dateExpected}}{{/if}}{{/if}}</span>
				<span class="ca_payment_amount">${{ReplaceNumberWithCommas amountDue}}</span>
				</h4>
			</li>
			{{/each}}
		</ul>
		<div class="divider" style="margin-bottom:10px;clear:both;"></div>
		<div>
			<h3 class="bold_text">Agreement Total:
				<span style="float:right;"> ${{ReplaceNumberWithCommas agreementTotal}} </span>
			</h3>
		</div>
	</div>
</div>
<div class="divider" style="margin-top:45px;"></div>
<div style="margin-top:20px;" class="button_container">
	<a id="continue" href="#send" class="button action_button">Continue</a>
</div>