<div class="notification_container recipient_notification">
  <!-- <p class="notification_text"><i class="fa fa-check"></i> Agreement sent!<p> -->
  </div>
<form parsely-validate action="" method="get" accept-charset="utf-8" id="create_agreement_send_email">
  <fieldset>
    <label for="">Email Address</label>
    <input data-required="true" data-trigger="change" parsley-type="email" type="email" name="clientEmail" placeholder="Please enter recipient's email" id="" size="50" value="{{otherUserEmail}}">
    <label for="">Personal Message in Notification Email</label>
    <textarea name="message" rows="5" cols="100">{{message}}</textarea>
  </fieldset>

  
  {{#if deposit}}
    <div class="request_payment_button_container">
    	<a id="requestDeposit" href="" class="button single cancel">Send Agreement and Request Deposit</a>
	{{else}}
    <div class="send_button_container">
		  <a id="sendAgreement" href="" class="button single cancel">Send Agreement</a>
	{{/if}}
  </div>

</form>
