<div class="notification_container recipient_notification hide"><p class="notification_text"><i class="fa fa-check"></i> Agreement sent!<p></div>
<form action="" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="">Email Address</label>
    <input type="text" name="clientEmail" placeholder="Please enter recipient's email" id="" size="50">
    <label for="">Personal Message in Notification Email</label>
    <textarea name="message" rows="5" cols="100">{{message}}</textarea>
  </fieldset>

  <fieldset class="submit-buttons">
  	{{#if deposit}}
    	<a id="requestDeposit" href="" class="single">Send Agreement and Request Deposit</a>
	{{else}}
		<a id="sendAgreement" href="" class="single">Send Client Agreement</a>
	{{/if}}
  </fieldset>

</form>
