<div id="content" class="clear white_background">

  <form id="estimate_form" action="" method="get" accept-charset="utf-8">
    
    <div class="col-2-3" style="border-right: 1px solid hsl(188, 35%, 84%);">
      <h2>Services</h2 style="margin-left:20px;">
      <div id="services"></div>
      <!-- <div id="bottomDiv"></div> -->
    </div>

    <div class="col-1-3">
    	<h2 style="margin-left:20px;">Services Preview</h2>
    	<div id="servicesPreview" class="layout_container">
    	</div>
    </div>

    <div class="divider" style="padding-top:20px;clear:both;"></div>

    <div style="margin-top:15px;">
    	<a id="addService" href="#add_service" class="button action_button" style="width:250px;float:left;">Add Another Service</a>
      <a id="saveContinue" href="#save_and_continue" class="button action_button" style="width:250px;float:left;margin-left:30px;">Save and Continue</a>
    </div>

  </form>

</div>