
<h2>User Verification</h2>
<p class="helper_text">This will be kept private. We use this information to keep the Wurk Happy community safe.</p>
<form action="" method="get" accept-charset="utf-8" class="verify_user_form">
  <fieldset>
    <label for="">First Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="fullFirstName" placeholder="Your first name" id="" size="37" value="{{fullFirstName}}">
    <label for="">Last Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="lastName" placeholder="You last name" id="" size="37" value="{{lastName}}">
    <label for="">Email<span class="required">*</span></label>
    <input type="text" name="email" placeholder="email@domain.com" id="" size="37" value="{{email}}">
    <label for="">Phone Number<span class="required">*</span></label>
    <input type="text" name="phoneNumber" placeholder="(480) 329-7537" id="" size="37" value="{{phoneFormat phoneNumber}}">
    <label for="">Date of Birth<span class="required">*</span></label>
    <input type="text" name="dobMonth" placeholder="MM" id="" size="5" value="{{dobMonth}}" class="inline_block"><input type="text" name="dobDay" placeholder="DD" id="" size="5" value="{{dobDay}}" class="inline_block"><input type="text" name="dobYear" placeholder="YYYY" id="" size="10" value="{{dobYear}}" class="inline_block">
    <label for="">SSN Last Four Digits<span class="required">*</span></label>
    <input type="text" name="ssnLastFour" placeholder="0004" id="" size="37" value="{{ssnLastFour}}">
    <label for="">Street Address<span class="required">*</span></label>
    <input type="text" name="streetAddress" placeholder="123 Main St." id="" size="37" value="{{streetAddress}}">
    <label for="">Zip Code<span class="required">*</span></label>
    <input type="text" name="postalCode" placeholder="10013" id="" size="37" value="{{postalCode}}">
  </fieldset>
  <fieldset class="submit-buttons">
    <a href="save_personal" id="save-button" class="single">Submit Verification</a>
  </fieldset>
</form>