<div class="new_deliverable_container">
  <fieldset class="create_milestone_container">
    <label for="">Service Name<span>Examples: Design, wireframes, logo, testing</span></label>
    <input type="text" name="title" placeholder="{{model.title}}" id="" size="50"
    {{#if model.title}}
    value="{{model.title}}"
    {{/if}}
    >
    <label for="">Due Date</label>
    <input type="text" name="dateExpected" class="kal" size="25" 
    {{#if model.dateExpected}}
    value="{{dateSlashFormat model.dateExpected}}"
    {{/if}}>
    <div class="tasks_section"></div>
  	<p class="removeButton remove_icon">
  		<a <a href="#add_milestone">Remove</a>
  	</p>
  </fieldset>
</div>
<div class="preview_container">
</div>