//////////////////////////////
//
// Wurk Happy Landing Base Style
//
//////////////////////////////

//////////////////////////////
// Set up Legacy Support
//
// Legacy support variables are set up here so we ensure they cascade over everything in our files.
// Set up using !default so we can change them on a per-project basis by redeclaring them at the top of our final working project's Sass file.
//////////////////////////////
$legacy-support-for-ie6: false !default;
$legacy-support-for-ie7: false !default;
$legacy-support-for-ie8: false !default;
$legacy-support-for-mozilla: false !default;

////////////////////////
// CSS Reset
// @import "normalize"; currently using the meyer reset
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "breakpoint";
@import "singularitygs"; // currently still on old grid system
@import "modular-scale";
@import "color-schemer";
////////////////////////

//////////////////////////////
// GLOBALS
@import "global/variables";
@import "global/functions";
@import "global/mixins";
@import "global/extends";
//////////////////////////////

//////////////////////////////
// BASES
@import "bases/common";
@import "bases/fonts";
//////////////////////////////

//////////////////////////////
// COMPONENTS
@import "components/jquery_ui";
@import "components/notifications";
@import "components/toastr";
@import "components/forms";
@import "components/form_feedback";
@import "components/header";
@import "components/intro";
@import "components/buttons";
@import "components/sub_navigation";
@import "components/agreement_list";
@import "components/create_agreement";
@import "components/agreement";
@import "components/agreement_profile";
@import "components/popup";
@import "components/progress_bars";
@import "components/kalendae";
@import "components/edit_agreement";
@import "components/create_estimate";
@import "components/review_agreement";
@import "components/create_work_item";
@import "components/discussion_container";
@import "components/agreement_history";
@import "components/account";
@import "components/footer";
@import "components/copyright";
//////////////////////////////

//////////////////////////////
// LAYOUTS
@import "layouts/layout";
//////////////////////////////