		<div class="tag_label_container">
			<h3 class="tags_title float_left">Tags:</h3>
			<div class="new_tag_container float_left">
				<input type="text" name="tag" size="1" class="new_tag hide">
				<i tabindex="0" class="fa fa-plus inline add_tag"></i>
			</div>
		</div>
		<div class="enter_tags_sub_container float_left">
		</div>
		<!-- <div class="new_tag_container float_left">
			<input type="text" name="tag" size="1" class="new_tag hide">
			<i tabindex="0" class="fa fa-plus inline add_tag"></i>
		</div> -->
		<a href="#send_message" class="send_comment">Send Message</a>