/* RESET
================================================================================ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  //outline: 0; can't be zero for flying focus to function properly.
}

body {
  line-height: 1.5em;
  background: rgb(255,255,255);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
}


/* Typography
================================================================================ */


body {
  text-align: left;
  font-family: museo_sans;
  background: hsl(210, 13%, 88%) url(/img/bg.png) fixed;
  color: $black_light;
  font-size: 16px;
  font-weight: 300;
}

a,
a:visited {
  text-decoration: none;
  color: $blue;
}

a:hover,
a:active {
  text-decoration: underline;
  color: $orange;
  cursor: pointer;
  text-decoration:none;
}

p{
  padding: 0 20px;
  margin-bottom: 20px;
}

ul{
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  list-style: none;
}


strong {
  font-weight: bold;
}

h1, h2, h3 {
  color: $black;
  padding: 0 20px;
  font-family: museo;
}

h1 strong, h2 strong {
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 100;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

/* Forms
================================================================================ */


form {
  padding: 0 20px 20px 20px;
}

label, .faux-label {
  display: block;
  padding: 20px 0 5px 0;
  margin: 0;
}

label span {
  display: block;
  font-size: .75em;
  color: rgb(150,150,150);
}

input {
  max-width: 350px;
}

input, textarea {
  border: 1px solid rgb(150,150,150);
  padding: 3px;
  margin: 0;
  font-size: 100%;
  font: inherit;
  color: $black_light;
  border-radius: 3px;
}

input[disabled] {
  color: rgb(100,100,100);
  border: 1px solid rgb(200,200,200);
  background-color: rgb(245,245,245);
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin-right: 5px;
}

select {
  margin: 0 10px 0 0;
  width: 140px;
}

fieldset {
  border-top: 1px solid rgb(245,245,245);
  padding: 0 0 20px 0;
  width: 100%;
}

/* COMMON UI classes
================================================================================ */

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.white_background {
  background: white;
  position: relative;
}

.main_content_container {
  -moz-box-shadow:    0px 3px 5px 3px #CDCED3;
  -webkit-box-shadow: 0px 3px 5px 3px #CDCED3;
  box-shadow:         0px 3px 5px 3px #CDCED3;
  background-color: white;
}

.hide {
  display: none;
}
.inline_block{
  display: inline-block;
}
.no_bullet{
  list-style: none;
}

.checkmark {
  background-image: url("/img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0px 4px;
}

.helper_text {
  display: block;
  font-size: 12px;
  color: $grey;
  margin: 0 0 10px 0;
  text-align:left;
  font-weight:400;
}

.secure:before {
  content: url(/img/lock-16x16.png);
  padding: 5px;
}

.divider {
  border-bottom: 1px solid $divider;
  margin: 0 auto;
  width: 100%;
}
.divider_left{
  border-left: 1px solid $divider;
}
.divider_right{
  border-right: 1px solid $divider;
}


.required {
  color: $red;
  display: inline;
}

.hide_overflow {
  overflow: hidden;
}

.gutter {
  margin-left: 40px;
}
.right_align {
  position:absolute;
  top:0;
  right:0; 
}
.fa.fa-check-circle{
  color: $green_light;
  margin-left: -1.1em;
}

.fa-check{
  color: $green_light;
  margin-left: -1.1em;
}

.fa-check.task_check{
  color: inherit;
  margin-left: 0;
  position: relative;
  top: -2px;
  left:-1px;
  font-size:16px;
}
.checkmark_holder{
  position: relative;
}