/* RESET
================================================================================ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

body {
  line-height: 1.5em;
  background: rgb(255,255,255);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Typography
================================================================================ */


body {
  text-align: center;
  font-family: museo_sans;
  background: rgb(220,224,228) url(../img/bg.png) fixed;
  color: rgb(100,100,100);
}

a,
a:visited {
  text-decoration: none;
  color: rgb(0,153,221);
}

a:hover,
a:active {
  text-decoration: underline;
  color: rgb(0,137,198);
  cursor: pointer;
}

p, ul, ol, dl {
  padding: 0 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin-left: 30px;
}

strong {
  font-weight: bold;
}

h1, h2, h3 {
  color: rgb(0,0,0);
  padding: 0 20px;
  font-family: museo;
}

h1 strong, h2 strong {
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 100;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

/* Forms
================================================================================ */


form {
  padding: 0 20px 20px 20px;
}

label, .faux-label {
  display: block;
  padding: 20px 0 5px 0;
  margin: 0;
}

label span {
  display: block;
  font-size: .75em;
  color: rgb(150,150,150);
}

input, textarea {
  border: 1px solid rgb(150,150,150);
  padding: 3px;
  margin: 0;
  font-size: 100%;
  font: inherit;
  display: block;
}

input[disabled] {
  color: rgb(100,100,100);
  border: 1px solid rgb(200,200,200);
  background-color: rgb(245,245,245);
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin-right: 5px;
}

select {
  margin: 0 10px 0 0;
}

fieldset {
  border-top: 1px solid rgb(245,245,245);
  padding: 0 0 20px 0;
}

/* COMMON UI classes
================================================================================ */
.content {
  background-color: rgb(255,255,255);
}

.hide {
  display: none;
}

.checkmark {
  background-image: url("../img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0px 4px;
}