<h2>Bank Account Details</h2>

<form action="#" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="pay-checking"><input type="radio" name="account_type" value="1" id="pay-checking" checked> Checking Account</label>
    <label for="pay-savings"><input type="radio" name="account_type" value="2" id="pay-savings"> Savings Account</label>
  </fieldset>
  <fieldset>
    <label for="">Routing Number</label>
    <input type="text" name="routing_number" value="" id="" size="50">
    <label for="">Account Number</label>
    <input type="text" name="account_number" value="" id="" size="50">
  </fieldset>
  <fieldset class="submit-buttons">
    <a id="save-button" href="" class="single">Add Bank Account</a>
  </fieldset>
</form>