<div class="notification_container account_notification_container hide"><p class="notification_text credit_card_saved"><i class="fa fa-check"></i> Credit card saved<p></div>
<h2>Credit Card Details</h2>

<form action="#" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="">Credit Card Number</label>
    <input type="text" name="card_number" value="" id="" size="50">
    <label for="">Expires On</label>
    <select name="expiration_month" id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <select name="expiration_year" id="">
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
    </select>
    <label for="">Billing Address Zip/Postal Code</label>
    <input type="text" name="postal_code" value="" id="" size="25">
    <label for="">Security Code</label>
    <input type="text" name="security_code" value="" id="" size="25">
  </fieldset>
  <fieldset class="submit-buttons">
    <a id="save-button" class="single">Save Credit Card Details</a>
  </fieldset>
</form>