<h2>Bank Account Details</h2>
<img class="account_secure" src="/img/balanced_secured.png">
<form action="" method="get" accept-charset="utf-8" class="check_image">
  <fieldset>
    <label for="pay-checking"><input type="radio" name="type" value="checking" id="pay-checking" checked> Checking Account</label>
    <label for="pay-savings"><input type="radio" name="type" value="savings" id="pay-savings"> Savings Account</label>
  </fieldset>
  <fieldset>
    <label for="">Full Name of Primary Account Holder</label>
    <input type="text" name="name" placeholder="{{name}}" id="" size="50">
    <label for="">Routing Number</label>
    <input type="text" name="routing_number" value="" id="" size="50">
    <label for="">Account Number</label>
    <input type="text" name="account_number" value="" id="" size="50">
  </fieldset>
  <fieldset class="account_save">
    <a href="save_account" id="save-button" class="button orange_button">Save Bank Account</a>
  </fieldset>
</form>