<div class="notification_container hide"><p class="notification_text bank_account_saved"><i class="fa fa-check"></i> Bank account saved<p></div>
<h2>Bank Account Details</h2>

<form action="#" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="pay-checking"><input type="radio" name="type" value="checking" id="pay-checking" checked> Checking Account</label>
    <label for="pay-savings"><input type="radio" name="type" value="savings" id="pay-savings"> Savings Account</label>
  </fieldset>
  <fieldset>
    <label for="">Name</label>
    <input type="text" name="name" value="{{name}}" id="" size="50">
    <label for="">Routing Number</label>
    <input type="text" name="routing_number" value="" id="" size="50">
    <label for="">Account Number</label>
    <input type="text" name="account_number" value="" id="" size="50">
  </fieldset>
  <fieldset class="submit-buttons">
    <a id="save-button" class="single">Save Bank Account</a>
  </fieldset>
</form>