
<h2>Change Your Password</h2>
<div class="notification_container account_notification_container hide"><p class="notification_text password_saved"><i class="fa fa-check"></i> Password saved<p></div>

<form action="" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="">Current Password</label>
    <input type="text" name="current-pw" value="" id="" size="50">
    <label for="">New Password</label>
    <input type="text" name="new-pw" value="" id="" size="50">
    <label for="">Confirm New Password</label>
    <input type="text" name="confirm-new-pw" value="" id="" size="50">
  </fieldset>
  <fieldset class="submit-buttons">
    <a href="save_password" id="submit-button" class="single">Save New Password</a>
  </fieldset>
</form>

</div>