
<div class="col-1-2">
  <form action="" method="get" accept-charset="utf-8" class="account_personal_form">
    <h3 style="margin-bottom:15px;">Contact</h3>
    <label for="">First Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="firstName" placeholder="Your first name" id="" size="50" value="{{firstName}}">
    <label for="">Last Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="lastName" placeholder="Your last name" id="" size="50" value="{{lastName}}">
    <!-- <label for="">Photo</label>
    <input type="file" name="avatarData" class="upload"> -->
    <label for="">Email</label>
    <input type="text" name="email" placeholder="email@domain.com" id="" size="50" value="{{email}}">
    <label for="">Phone Number</label>
    <input type="text" name="phoneNumber" placeholder="(480) 329-7537" id="" size="50" value="{{phoneFormat phoneNumber}}">
  </form>
</div>



<fieldset class="account_save">
  <a href="save_personal" id="save-button" class="button orange_button">Save Personal Details</a>
</fieldset>