
<h2>Personal Details</h2>
<div class="notification_container hide"><p class="notification_text personal_saved"><i class="fa fa-check"></i>Personal details saved<p></div>
<form action="#" method="get" accept-charset="utf-8">
  <fieldset>
    <label for="">First Name</label>
    <input type="text" name="firstName" placeholder="Joe" id="" size="50" value="{{firstName}}">
    <label for="">Last Name</label>
    <input type="text" name="lastName" placeholder="Smith" id="" size="50" value="{{lastName}}">
    <label for="">Photo</label>
    <input type="file" name="avatarData" class="upload">
    <label for="">Email</label>
    <input type="text" name="email" placeholder="email@domain.com" id="" size="50" value="{{email}}">
    <label for="">Phone Number</label>
    <input type="text" name="phoneNumber" placeholder="(480) 329-7537" id="" size="50" value="{{phoneFormat phoneNumber}}">
  </fieldset>
  <fieldset class="submit-buttons">
    <a id="save-button" class="single">Save Personal Details</a>
  </fieldset>
</form>