
<h2>Personal Details</h2>
<form action="" method="get" accept-charset="utf-8" class="account_personal_form">
  <fieldset>
    <label for="">First Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="firstName" placeholder="Your first name" id="" size="50" value="{{firstName}}">
    <label for="">Last Name<span class="required">*</span></label>
    <input data-required="true" type="text" name="lastName" placeholder="You last name" id="" size="50" value="{{lastName}}">
    <label for="">Photo</label>
    <input type="file" name="avatarData" class="upload">
    <label for="">Email</label>
    <input type="text" name="email" placeholder="email@domain.com" id="" size="50" value="{{email}}">
    <label for="">Phone Number</label>
    <input type="text" name="phoneNumber" placeholder="(480) 329-7537" id="" size="50" value="{{phoneFormat phoneNumber}}">
  </fieldset>
  <fieldset class="submit-buttons">
    <a href="save_personal" id="save-button" class="single">Save Personal Details</a>
  </fieldset>
</form>