<!-- This is the header for the styleguide-->

<!DOCTYPE html>

<!--[if IEMobile 7]>                     <html class="no-js iem7 oldie"  lang="en" dir="ltr"><![endif]-->
<!--[if lt IE 7]>                        <html class="no-js ie6 oldie"   lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]>             <html class="no-js ie7 oldie"   lang="en" dir="ltr"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>             <html class="no-js ie8 oldie"   lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->                   <html class="no-js"             lang="en" dir="ltr"><!--<![endif]-->                                                                                             <!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Wurk Happy Style Guide">
  <meta name="author" content="Wurk Happy Team">
  <title>Wurk Happy | Freelance Agreement Billing and Payment</title>
  <!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <meta name="viewport" content="width=device-width">

  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

  <!-- Wurk Happy CSS -->
  {{if .production}}
    <link rel="stylesheet" href="https://d3kq8dzp7eezz0.cloudfront.net/css-{{.CSSversion}}/main_app.css">

  <link rel="Shortcut Icon" type="image/x-icon" href="https://d3kq8dzp7eezz0.cloudfront.net/favicon.ico" />

  <script type="text/javascript">var actions=[];</script>

  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/analytics.min.js"></script>
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/jquery.js"></script>
  {{else}}
  <link rel="stylesheet" href="/css/main_app.css">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <script type="text/javascript">var actions=[];</script>

  <script src="/js/lib/analytics/analytics.js"></script>
  <script src="/js/lib/jquery/jquery.js"></script>
  {{end}}
  <script type="text/javascript" async>

    analytics.initialize({
        'Google Analytics': {
          trackingId: 'UA-24101674-3'
        },
        'Mixpanel': {
          token: '4333aa84dfd94220eef310c77eab7372',
          nameTag : true,
          people  : false
        },
        'LiveChat':{
          license: '3602861'
        },
        'Intercom': {
          appId: '76f9a1ae4cd19d1eb4555da098e1240d1d10905d',
          activator : '#IntercomDefaultWidget',
          counter   : true
        }
    });
  </script>

  <script type="text/javascript">
  analytics.track('Page viewed', {
    date: new Date()
  });
</script>

  <script type="text/javascript">
  var CKEDITOR_BASEPATH = 'https://d3kq8dzp7eezz0.cloudfront.net/css/ckeditor/';
</script>

</head>
<body>
  <div class="container">

    <div id="navigation" class="clear navigation">
      <div class="column-one-half">
        <div class="main_top_padding">
            <a class="logo" href="/home">Wurk Happy</a>
        </div>
      </div>
      <div class="column-one-half">
        <ul id="admin" class="clear admin_nav navigation_links">
          <li><a href="/user/logout">Log Out</a></li>
          <li> <a href="/account">Account</a></li>
          <li> <a href="/home">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="main_content_container">
    {{ template "content" .}}
  



  <!-- main app footer-->

    <div id="footer" class="clear footer">
      <div class="column-one-fourth">
        <h3 class="footer_title"><a href="/archive">Agreement Archives</a></h3>
      </div>

      <div class="column-one-fourth">
        <h3 class="footer_title"><a href="/about">About</a></h3>
      </div>

      <div class="column-one-fourth">
        <h3 class="footer_title"><a href="http://wurkhappy.tumblr.com/">Blog</a></h3>
      </div>

      <div class="column-one-fourth">
        <h3 class="footer_title"><a href="/legal">Legal</a></h3>
      </div>

    </div>
  </div> <!-- closing the main_content_container -->
  <div class="copyright clear">
    <p>Powered by Wurk Happy &mdash; Copyright &#169; 2013 Wurk Happy &mdash; All Rights Reserved</p>
  </div>


    {{if .production}}
        <script data-main="https://d3kq8dzp7eezz0.cloudfront.net/js-{{.JSversion}}/config" src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/requirejs/require.js"></script>
    {{else}}
    <script data-main="/js/config" src="/js/lib/requirejs/require.js"></script>
    {{end}}
  <script>
  // Load common code that includes config, then load the app logic for
  // this page. Do the require calls here instead of a separate file
  // so after a build there are only 2 HTTP requests instead of three.
  require(['config'], function(config) {
    // baseUrl is js/ so we can just ask for `app/main` here instead of `js/app/main`.
    require(['app/{{.appName}}']);
  });
  </script>

  <!-- identify our users on every page they're logged in -->
  {{if .thisUser}}
      
      <script>
        analytics.identify({{.user.id}}, {
          {{with .thisUser}}
          email            : {{.email}},
          created          : {{.dateCreated}},
          //name             : {{.firstName}} {{.lastName}},
          //phoneNumber      : {{.phone}},
          {{end}}
          agreementCount   : {{.agreementCount}}
          
        });
        
      </script>
      
  {{end}}

  <script>
    $( document ).ready(function() {
        var createAgreement = $('.button');
        var tracks = analytics.trackLink(createAgreement, 'Clicked Create Agreement Button', {
          plan : 'Enterprise'
        });

        analytics.track('On Home Page', {
        revenue        : 39.95,
        shippingMethod : '2-day'
        });
    });
  </script>

</body>
</html>

