<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    

    <title>Wurk Happy</title>
    <meta name="description" content="Simple Freelance Agreement, Communication, and Payment">
    <meta name="author" content="Wurk Happy Team">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    #create {
        padding: 1em;
        margin: 1em 0 0;
        background: #eee;
    }
    .is-editable {
        display: none;
    }
    .is-editable-shown {
        display: block;
        background: #eee;
        padding: 0.5em;
    }
    </style>
    <script>
        var production = {{.production}};
    </script>

    <!--[if (gt IE 8) | (IEMobile)]>
    <link rel="stylesheet" href="/css/main.css">
    <![endif]-->

<!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="/css/main-ie.css">
    <![endif]-->

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <!-- <script src="/js/lib/modernizr.min.js"></script> -->
    {{template "header" .}}
</head>
<body style="width:100%; height:2000px;">
    <!-- What's happening here and the thing and thing. -->
    {{ template "body" .}}

    {{if .production}}
        <script data-main="https://d3kq8dzp7eezz0.cloudfront.net/js-{{.JSversion}}/config" src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/requirejs/require.js"></script>
        <script>
            analytics.track('Hit Landing Page');
        </script>
    {{else}}
    <script data-main="/js/config" src="/js/lib/requirejs/require.js"></script>
    {{end}}
    <script>
    // Load common code that includes config, then load the app logic for
    // this page. Do the require calls here instead of a separate file
    // so after a build there are only 2 HTTP requests instead of three.
    require(['config'], function(config) {
        // baseUrl is js/ so we can just ask for `app/main` here instead of `js/app/main`.
        require(['app/{{.appName}}']);
    });
    </script>

  <script>
    $( document ).ready(function() {
        if (production) {
            var pricing = $('#pricing');
            var about = $('#about');
            var blog = $('#blog');
            var legal = $('#legal');
            var signup = $('#signup');
            var explore = $('#explore');
            var tracks = analytics.trackLink(pricing, 'Clicked Pricing Link');
            var tracks = analytics.trackLink(about, 'Clicked About Link');
            var tracks = analytics.trackLink(blog, 'Clicked Blog Link');
            var tracks = analytics.trackLink(legal, 'Clicked Legal Link');
            var tracks = analytics.trackLink(signup, 'Clicked Signup Link');
            var tracks = analytics.trackLink(explore, 'Clicked Explore Link');
        }
        
    });
  </script>
</body>
</html>
</html>