{{define "header"}}

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <title>Wurk Happy | Simple Agreement Billing and Payment</title>


  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
{{if .production}}
  <link rel="Shortcut Icon" type="images/ico" href="https://d3kq8dzp7eezz0.cloudfront.net/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="https://d3kq8dzp7eezz0.cloudfront.net/css-{{.CSSversion}}/landing.css" media="all" />
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/analytics.min.js"></script>
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/jquery.js"></script>
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/app/plugins/better_browser/public/javascripts/abetterbrowser.js"></script>
{{else}}
  <link rel="Shortcut Icon" type="images/ico" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/landing.css" media="all" />

  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

  <script src="/js/lib/jquery/jquery.js"></script>
  <script src="/js/lib/skrollr/dist/skrollr.min.js"></script>
  <script type="text/javascript"> 
      var $buoop = {}; 
      $buoop.ol = window.onload; 
      window.onload=function(){ 
       try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
       var e = document.createElement("script"); 
       e.setAttribute("type", "text/javascript"); 
       e.setAttribute("src", "//browser-update.org/update.js"); 
       document.body.appendChild(e); 
      } 
    </script> 
{{end}}
  <noscript>
    <style>
      .dim {opacity: .5;}
      #logindiv {display:none}
    </style>
    <div class="noscriptmsg">
      <p>Wurk Happy requires javascript to function properly. <a href="http://www.enable-javascript.com/" target="_blank">Please enable javascript</a> in your web browser.</p>
    </div>
  </noscript>





  <script type="text/javascript">
	  if (production){
	  	analytics.initialize({
	      'Google Analytics' : 'UA-24101674-3',
	      'Mixpanel'         : '4333aa84dfd94220eef310c77eab7372',
	      'Intercom'         : '76f9a1ae4cd19d1eb4555da098e1240d1d10905d',
	      'CrazyEgg'		 : '00197985'
	    });
	  }
  </script>

  <script>
  	if (production){
	  	$( document ).ready(function() {
	       analytics.page('About');
	    });
	}
  </script>


{{end}}

{{define "body"}}

    {{template "topNav" .}}

<div class="fade2">
	<div id="intro" class="clear intro_container fade" style="position:relative;padding:60px;">
		<div>
			<div id="benefits_container" class="about_container">
			    <div class="clear headline_container">
			  		<!-- <h1 class="logo_white">Wurk Happy</h1> -->
			    	<h1 itemprop="title" style="font-size:46px;font-weight:500;" class="headline">
			    		About Wurk Happy</h1>

			    	<h2 class="headline" style="font-family: museo_sans;margin-top:10px;">Wurk Happy is an online platform for freelancers and their clients that combines agreement, invoicing, and payment processing into one simple workflow.</h2>

			    	<h3 class="about_section">How do you make freelancing easier?</h3>
			    	<p>We started asking this question nearly 4 years ago as freedom loving freelancers. Freelancing felt harder than it needed to be. So we started thinking about how there could be a better way to work. We used to spend days crafting contracts that would become useless as soon as the client changed her mind about what kind of work she wanted. Knowing if our clients had the same expectations about what work was to be done and how it was to be deemed complete was very important - especially when it was time to invoice - but constant check-ins were also very time consuming and difficult to document. Billing was never straightfoward. Different clients had different ways to pay. There just wasn't an easy standard.</p>

			    	<p>From these frustrations and the insight of hundreds of freelancers, Wurk Happy was slowly born. From the beginning we set out to build a better process rather than just another tool. In fact, we aimed to be the only real business workflow a freelancer needs - ultra simple to start using, yet powerful enough to cater to all freelance situations.</p>

			    	<p>If you're like us, you crave simplicity. We didn’t appreciate the tools that were out there. We didn’t want to use excel, word, an invoicing app, a payment app, and a project management app just to manage our freelance relationships. We just wanted things to feel simple - so we could enjoy those occasional zen moments that happen in the flow of great work.</p>

			    	<p>As the process came together - agreement, communication, invoicing, and payment, we found that we could make each individual component feel simpler to use because it was part of a deliberate, connected workflow for both the freelancer and client.

			    	<p>We've come a long way towards making a better way to freelance - and we're humbled to be at a point where freelancers really appreciate the work we've put in. But we have a long way to go. Everyday we make Wurk Happy better so we can always provide the best service out there.</p>

			    	<h3 class="about_section">Who is behind this?</h3>
			    	<div class="about_half">
				    	<img title="Wurk Happy Founder: Marcus Ellison" alt="Wurk Happy Founder: Marcus Ellison" src="https://d3kq8dzp7eezz0.cloudfront.net/img/landing/marcus_single4.png">
				    	<h2 itemprop="name" style="color:white;margin-bottom:10px;">Marcus Ellison</h2>
				    	<a href="https://twitter.com/marcojelli" class="twitter-follow-button" data-show-count="false">Follow @marcojelli</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					    <p>Marcus Ellison has been a freelancer for the past 10 years. He started out freelancing in marketing, business development, and operations for arts organizations, creatives and small businesses. For the past few years he has freelanced as a web developer and designer. He received a B.A. from the Gallatin school of Individualized Study at New York University titled “Turning Dreams into Reality”. He also studied at the Gallatin graduate school for an interdisciplinary masters in behavioral economics and disruptive innovation. He enjoys cooking challah French toast, early morning workouts, and dancing to reggae.<br> Connect: <a class="about_link" href="mailto:marcus@wurkhappy.com">marcus@wurkhappy.com</a></p>
					</div>

				    <div class="about_half">
				    	<img title="Wurk Happy Founder:Matt Parker" alt="Wurk Happy Founder: Matt Parker" src="https://d3kq8dzp7eezz0.cloudfront.net/img/landing/matt_single.jpg">
    				    <h2 itemprop="name" style="color:white;margin-bottom:10px;">Matt Parker</h2>
    				    <a href="https://twitter.com/mdparker89" class="twitter-follow-button" data-show-count="false">Follow @mdparker89</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    				    <p>Matt is a freelancer and programmer. He has helped clients ranging from Fortune 500 companies to early stage start ups. Once upon a time, he worked in a cubicle. Now he wants to make sure freedom and work become synonymous. He graduated from Harvard College with a B.A. in Economics. Matt enjoys reading books and writing code.<br> Connect: <a class="about_link" href="mailto:marcus@wurkhappy.com">matt@wurkhappy.com</a></p>

				    </div>

			    <h3 class="about_section" style="clear:both;">Want to Reach us?</h3>
			    <div class="about_half">
			    	<img itemprop="image" title="Wurk Happy Founders: Marcus Ellison & Matt Parker" alt="Wurk Happy Founders: Marcus Ellison & Matt Parker" src="https://d3kq8dzp7eezz0.cloudfront.net/img/landing/together.jpg">
				</div>
				<div class="about_half">
				    <p>Wurk Happy is based in the SOHO area of New York City. If you're near, feel free to stop by our coworking space:</p>
				    <!-- itemprop is microdata to give structured data to search engines -->
				    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					    <span itemprop="streetAddress">
					    	Collab<br>
					      	304 Hudson Street, Suite 601
					    </span><br>
					    <span itemprop="addressLocality">New York City</span>,
					    <span itemprop="addressRegion">NY</span>
					    <span itemprop="postalCode">10013</span>
					</div><br>
				    <p>If you ever have any suggestions, or just want to chat, please <a class="about_link" href="mailto:contact@wurkhappy.com">reach out to us</a>. We would love to hear from you.</p>
				</div>

			  	</div>

			  	<!-- <h1 style="font-family:museo_sans;font-weight:700;margin-bottom:40px;">We believe.</h1>


			    <h2 style="color:white;margin-bottom:10px;">Freelancing is the future of business</h2>
			    <p>Technology is creating opportunities that have never existed. We have seen a shift towards remote working and flexible hours but this is just a start. Through technology, we believe we can empower individuals to have the freedom to choose their lifestyles.</p>

			    <h2 style="color:white;margin-bottom:10px;">Good relationships are the key to good business</h2>
			    <p>Freelancing is no different than any other business. For as long as people have been transacting goods and services, relationships have been at the core of those transactions. New buzzwords and theories may come in and out of fashion but good business will always mean good relationships.</p>

			    <h2 style="color:white;margin-bottom:10px;">Our job is to remove obstacles that stand between you and your client</h2>
			    <p>Freelancing can be hard. As a freelancer, you are a one-person business. This means managing many different tasks. Those tasks while necessary distract you from producing your best work and building a relationship with your client. Let us take care of anything that stops you from achieveing either or those two things.</p> -->
		</div>
	</div>
</div> <!-- class fade2 -->
<script>
	// non-jquery fade function takes ('in' or 'out' as type), duration in miliseconds, element, and flag to designate if I.E. 8 is supported
	//fading in the benefits section on window load adds a nice effect and makes everything appear at the same time.
	/*function fade(type, ms, el, IE) {
	    var isIn = type === 'in',
	        opacity = isIn ? 0 : 1,
	        interval = 50,
	        gap = interval / ms;
	        
	    if(isIn) {
	         el.style.display = 'block';
	         el.style.opacity = opacity;
	         if(IE) {
	            el.style.filter = 'alpha(opacity=' + opacity + ')';
	            el.style.filter = 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + opacity + ')';
	        }
	    }
	    
	    function func() {
	        opacity = isIn ? opacity + gap : opacity - gap; 
	        el.style.opacity = opacity;
	        if(IE) {
	            el.style.filter = 'alpha(opacity=' + opacity * 100 + ')';
	            el.style.filter = 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + opacity * 100 + ')';
	        }
	        
	        if(opacity <= 0 || opacity >= 1) window.clearInterval(fading);
	        if(opacity <= 0) el.style.display = 'none';
	    }
	    
	    var fading = window.setInterval(func, interval);
	}

	window.onload = function() {
		var benefits_container = document.getElementById('benefits_container');
		var communication = document.getElementById('communication');
		var billing = document.getElementById('billing');
		var payment = document.getElementById('payment');
		fade('in', 500, benefits_container, true);
		fade('in', 1000, communication, true);
		fade('in', 1000, billing, true);
		fade('in', 1000, payment, true);
	}*/
</script>

<script>
	var s = skrollr.init();
</script>

<!-- landing footer-->
	 <div id="footer" style="float:left;position:static;background: hsl(0, 0%, 25%);width: 100%;">
    	<div>
    		<div class="landing_footer_column">
		        <h3 class="footer_title"><a id="pricing" href="/pricing">Pricing</a></h3>
		    </div>
		    <div class="landing_footer_column">
		      <h3 class="footer_title"><a id="about" href="/about">About</a></h3>
		    </div>
	        <div class="landing_footer_column">
	        	<h3 class="footer_title"><a id="blog" href="http://wurkhappy.tumblr.com/">Blog</a></h3>
	        </div>

	        <div class="landing_footer_column">
	        	<h3 class="footer_title"><a style="border-right:none;" id="legal" href="/legal">Legal</a></h3>
	        </div>
	    </div>
    </div>
<div class="copyright clear" style="float:left;">
	<p>Powered by Wurk Happy &mdash; Copyright &#169; 2014 Wurk Happy &mdash; All Rights Reserved</p>
</div>
 </div>  
</div>

{{end}}