{{define "content"}}
  <div id="intro" class="clear intro">
    <div class="column-three-fourth">
      <h1>About</h1>
    </div>
  </div>


  <div id="content" class="clear white_background home_container">

    <h1>We believe.</h1>


    <h2>Freelancing is the future of business</h2>
    <p>Technology is creating opportunities that have never existed. We have seen a shift towards remote working and flexible hours but this is just a start. Through technology, we believe we can empower individuals to have the freedom to choose their lifestyles.</p>

    <h2>Good relationships are the key to good business</h2>
    <p>Freelancing is no different than any other business. For as long as people have been transacting goods and services, relationships have been at the core of those transactions. New buzzwords and theories may come in and out of fashion but good business will always mean good relationships.</p>

    <h2>Our job is to remove obstacles that stand between you and your client</h2>
    <p>Freelancing can be hard. As a freelancer, you are a one-person business. This means managing many different tasks. Those tasks while necessary distract you from producing your best work and building a relationship with your client. Let us take care of anything that stops you from achieveing either or those two things.</p>

  </div>
{{end}}
