{{define "content"}}
  <div id="intro" class="clear intro">
    <div class="column-three-fourth">
      <h1>About</h1>
    </div>
  </div>


  <div id="content" class="clear white_background home_container">

    <h1>We will empower anyone to freelance</h1>

    <h2>Our Story...</h2>

    <p>Began with running away from the corporate world. We found traditional jobs to offer little security and decided that working for ourselves may be the answer.</p>

    <p>We also found many obstacles to freelancing. Getting paid can be painful. Staying organized as a one person business requires almost superhuman dedication. It's easy to be overwhelmed by client communication - one email or text message at a time.</p>

    <p> These problems are the same problems that exist in any organization, but they're more acute as freelancers. Hired on a project by project basis, we are required to be more dynamic and more flexible than larger businesses. There is no separate person responsible for billing, or project management, or making sure our client's expectations are aligned daily and weekly.</p>

    <p>Wurk Happy is the answer to the problems we had to solve for ourselves.</p>

    <p>But we didn't build Wurk Happy to just provide the same old solution "online". Wurk Happy is not about "agreements". We're about better, more organized communication. We're not about invoices, we're about making billing automatic. We're not about requesting payment. We're about making payment invisible. We question the processes themselves to understand how we can make them better.</p>

    <h2>And we're only at the beginning...</h2>

    <p>What we're aiming for is deep - building better relationships. This is embedded in our software's DNA. A better relationship is a pat on the back, and the fullfillment of a handshake. This is our goal.</p>

    <p> We believe technology exists not to replace relationships, but to improve them.</p>
    
    <p>We all arrive at freelancing from different places. But what it could be. What Freelancing can be, is a way to have more choices. Choosing to spend more time meditating, or spending time with your children, or even something as simple as having more control over who you work with. This freedom is what we want to help enable and also where we see the world heading. We, as a society, need this.</p>

    <p> The future of work, we believe, is less about work and more about what important to us - family, friends, loved ones - work will be shaped more by the quality of life it enables than by the productivity that can be wring out of it.</p>

    <p> We are building Wurk Happy to build better relationships.</p>

    <h1>Pricing</h1>

    <p>Our pricing is simple and transparent. Only pay when you use Wurk Happy. No hidden fees. Ever.</p>

    <h3><strong>Wurk Happy charges 5% per transaction.</strong></h3>

  </div>
{{end}}
