{{define "content"}}

  <!-- Title Header -->
  <div class="clear intro">
    <div class="column-three-fourth">
      <h1>Account</h1>
    </div>
  </div>



  <!-- Sub-navigation for main content -->
  <div class="clear internal">
    <ul>
      <li class="current"><a href="personal.html">Personal Details</a></li>
      <li><a href="password.html">Change Your Password</a></li>
      <li><a href="creditcard.html">Credit Card Details</a></li>
      <li><a href="bankaccount.html">Bank Account Details</a></li>
    </ul>
  </div>



  <!-- Main Content -->
  <div id="content" class="clear">
    <div id="details-container" class="tab-content">
      <div id="profile_preview">
        <h2>Personal Details</h2>
        <form action="/user/me/account" enctype="multipart/form-data" method="POST" class="js-replace-action" id="profile_update" style="padding:0">
					<span class="column-one-fourth">
						<div class="data-table">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="meta" style="margin:0;">
                    <span><img id="profile_image" src="../img/people/obama-face.png" alt="Profile photo" width="150"
                               height="150" /></span>
                  </td>
                </tr>
              </table>
            </div>
						<div id="profile_photo_upload" style="display:none;padding-left:20px;">
              <fieldset>
                <label for="profilePhoto">Replace Photo</label>
                <input type="file" class="upload" name="profilePhoto" />
              </fieldset>
            </div>
					</span>
					<span class="column-three-fourth">
						<div class="data-table" id="profile_info">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <h3><a href="/user/me/profile" id="profile_full_name">Marcus Ellison</a></h3>
                    <p id="profile_email">marcus@wurkhappy.com</p>
                    <p id="profile_telephone">(917) 972-3943</p>
                  </td>
                </tr>
              </table>
            </div>
						<ul class="action-button" id="user_info_edit_ul" style="width:200px;">
              <li><a href="#" rel="nofollow" id="user_info_edit" class="top js-button">Edit</a></li>
            </ul>
						<div id="profile_form" style="display:none;padding-left:20px;">
              <fieldset>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" value="{{ data['firstName'] or '' }}" size="80" />
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" value="{{ data['lastName'] or '' }}" size="80" />
                <label for="email">Email</label>
                <input type="email" name="email" value="{{ data['email'] }}" size="80" />
                <label for="telephone">Phone Number</label>
                <input type="tel" name="telephone" value="{{ data['telephone'] }}" size="80" />
              </fieldset>
              <fieldset class="submit-buttons" style="padding-bottom:20px;">
                <input type="submit" value="Save Personal Details" />
              </fieldset>
              <!-- Added different color buttons -->
              <fieldset class="submit-buttons">
                <a href="" class="single">Save Personal Details</a>
              </fieldset>
            </div>
					</span>
        </form>
      </div>
    </div>

  </div>
{{end}}
