{{define "content" }}
<script>var thisUser = {{.user}}</script>
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<div id="mainContainer"> <!-- div for main container -->
  <!-- Title Header -->
  <div class="clear intro">
    <div class="column-three-fourth">
      <h1>Account</h1>
    </div>
  </div>



  <!-- Sub-navigation for main content -->
  <div class="clear sub_navigation">
    <ul class="sub_navigation_container">

      <li class="current nav_menu sub_navigation_tab">
        <a class="sub_navigation_link" href="personal">Personal Details</a>
      </li>

      <li class="nav_menu sub_navigation_tab">
        <a class="sub_navigation_link" href="password">Change Your Password</a>
      </li>

      <li class="nav_menu sub_navigation_tab">
        <a class="sub_navigation_link" href="creditcard">Credit Card Details</a>
      </li>
      
      <li class="nav_menu sub_navigation_tab">
        <a class="sub_navigation_link" href="bankaccount">Bank Account Details</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div id="contentWrapper"> <!-- div for content -->
    <div id="content" class="clear content">
      <h2>Profile Preview</h2>
      <div class="data-table">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="meta">
              <span><img src="../img/people/obama-face.png"></span>
            </td>
            <td>
              <h3><a href="detail.html">Joe Smith</a></h3>
              <p>email@domain.com &mdash; (480) 329-7537</p>
            </td>
          </tr>
        </table>
      </div>
      <h2>Personal Details</h2>
      <form action="#" method="get" accept-charset="utf-8">
        <fieldset>
          <label for="">Name</label>
          <input type="text" name="" placeholder="Joe Smith" id="" size="50">
          <label for="">Photo</label>
          <input type="file" class="upload">
          <label for="">Email</label>
          <input type="text" name="" placeholder="email@domain.com" id="" size="50">
          <label for="">Phone Number</label>
          <input type="text" name="" placeholder="(480) 329-7537" id="" size="50">
        </fieldset>
        <fieldset class="submit-buttons">
          <a href="" class="single">Save Personal Details</a>
        </fieldset>
      </form>
    </div>

  </div> <!-- end div for content -->
</div> <!-- end main container -->
{{end}}
