{{define "content"}}

<div class="clear intro">
  <div class="column-three-fourth">
    <h1>Ecommerce Website Design</h1>
    <p><span>Last Activity:</span> Sent by Marcus Ellison on April 12, 2011</p>
  </div>
  <div class="column-one-fourth">
    <ul class="action_button_container">
      <li><a href="payment.html" class="top"><span>Accept Agreement</a></li>
      <li><a href="decline.html" class="bottom"><span>Request Changes</a></li>
    </ul>
  </div>
</div>


<div id="content" class="clear">

  <div id="agreement-profile" class="data-table">

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="meta">
          <span><img src="/img/people/obama-face.png"></span>
        </td>
        <td>
          <h3><a href="detail.html">Joe Smith</a></h3>
          <p>email.address@domain.com &mdash; (480) 329-7537</p>
        </td>
      </tr>
    </table>

  </div>

  <div id="payment-schedule" class="clear">

    <div class="progress-large">
      <span style="background-position: -603px 0px;"><img src="/_images/progress-large.png"></span>
    </div>

    <h2>Payment Milestones for $3000</h2>

    <ul>
      <li><span>Payment Made</span> <strong>$1000</strong> &mdash; Initial Deposit to Get Started on June 28, 2011</li>
      <li><span>In Progress</span><strong>$1000</strong> &mdash; Wireframe Deliverables on July 12, 2011</li>
      <li><strong>$1000</strong> &mdash; Finished Design Templates on August 1, 2011</li>
    </ul>

  </div>

  <div class="column-one-half">

    <h2>Proposed Services</h2>
    <p>We propose to develop a completely custom e-commerce enabled web site for Joe Smith, with the goal of increasing sales and positioning Joe Smith as the online leader in their industry.</p>

  </div>

  <div class="column-one-half">

    <h2>Refund Policies</h2>

    <p>All deposits and payments made are non-refundable.</p>
    <p></p>
    <p></p>

  </div>

  <div id="agreement-history" class="clear">

    <h2>Agreement History</h2>

    <ul>
      <li>Marked as complete on April 29, 2011</li>
      <li>Accepted by <a href="/people/detail.html">Joe Smith</a> on April 18, 2011</li>
      <li>Edited and resent on April 16, 2011</li>
      <li>Declined by <a href="/people/detail.html">Joe Smith</a> on April 14, 2011</li>
      <li>Sent to <a href="/people/detail.html">Joe Smith</a> on April 12, 2011</li>
    </ul>

    <p>If, for whatever reason, you feel this agreement is no longer valid, you can <a href="void.html">void the agreement</a>.</p>

  </div>

</div>

{{end}}