{{define "content"}}
<div id="mainContainer"> <!-- div for main container -->
	<div class="clear intro">
		<div class="column-three-fourth">
			<h1>Create Client Agreement</h1>
		</div>
		<div class="column-one-fourth">
			<ul class="action_button_container">
				<li><a href="#" id="cancelAgreement" class="cancel">Cancel Agreement</a></li>
			</ul>
		</div>
	</div>

	<div id="contentWrapper"> <!-- div for content -->
		<div id="content" class="clear">
			<h2 class="steps">Proposal <span>Step 1 of 3 &mdash; Next: Estimate</span></h2>
			<form action="#" method="get" accept-charset="utf-8">
			      <fieldset>
			        <label for="">Title</label>
			        <input type="text" name="" placeholder="Title of project" id="" size="50">
			        <label for="">Proposed Services <span>Manage service agreement template in the <a href="">preferences</a> section.</span></label>
			        <textarea name="name" rows="8" cols="100" placeholder="What kind of work will you be doing?"></textarea>
			        <label for="">Refund Policies <span>Manage refund policy template in the <a href="">preferences</a> section.</span></label>
			        <textarea name="name" rows="8" cols="100" placeholder="We do not offer refunds"></textarea>
			      </fieldset>
			      <fieldset class="submit-buttons">
			        <a class="single">Save and Continue</a>
			      </fieldset>
			</form>
		</div>
	</div> <!-- end div for main content -->
</div> <!-- end main container -->
{{end}}