{{define "content"}}
<div id="mainContainer">
	<div id="intro" class="clear">

		<div class="column-three-fourth">

			<h1>Create Client Agreement</h1>

		</div>

		<div class="column-one-fourth">

			<ul class="action-button">
				<li><a id="cancelAgreement" class="cancel">Cancel Agreement</a></li>
			</ul>

		</div>

	</div>

	<div id="contentWrapper">
	<div id="content" class="clear">

		<h2 class="steps">Proposal <span>Step 1 of 3 &mdash; Next: Estimate</span></h2>

		<form action="#" method="get" accept-charset="utf-8">
			<fieldset>
				<label for="">Title</label>
				<input type="text" name="" value="Ecommerce Website Design" id="" size="50">
				<label for="">Proposed Services <span>Manage service agreement template in the <a href="">preferences</a> section.</span></label>
				<textarea name="name" rows="8" cols="100">We propose to develop a completely custom e-commerce enabled web site for Joe Smith, with the goal of increasing sales and positioning Joe smith as the online leader in their industry.</textarea>
				<label for="">Refund Policies <span>Manage refund policy template in the <a href="">preferences</a> section.</span></label>
				<textarea name="name" rows="8" cols="100">We do not offer refunds.</textarea>
			</fieldset>
			<fieldset class="submit-buttons">
				<a href="paymentschedule.html" class="single">Save and Continue</a>
			</fieldset>

		</form>

	</div>
	</div>
</div>
{{end}}