{{define "content"}}
<script>
var currentUser = {{.thisUser}};
</script>
<div id="intro" class="clear header home_header">

  <div class="col-1-2">
    <h1>0 Agreements</h1>
  </div>
  <div class="col-1-2">
    <ul class="action_button_container">
      <li style="position:absolute;"><a id="create_agreement" href="/agreements/new" class="button action_button">Create Agreement</a></li>
    </ul>
  </div>

</div>

  <div class="empty_home layout_container">
    <h2 style="text-align:center;margin-bottom: 10px;">Welcome To Wurk Happy!</h2>
    <p>You don't have any live agreements right now. To get started click that big green button up top.</p>
  </div>
{{end}}