{{define "content"}}
<script>
var user = {{.}};
</script>
<div id="reset-pw-wrapper" class="login_form_container hide">
  <div class="container">
    <div class="column-one-third">
      <form accept-charset="utf-8" id="login_form" class="js-form login_form">
        <fieldset>
          <div class="server_error" id="server_error"></div>
          <label class="clear" id="email-label" for="email">Choose a password: <span class="validation" id="email-validation"></span></label>
          <div class="input-box">
          <input data-required="true" data-trigger="change" type="password" name="password" value="" id="password" class="text-field" required id="password-validation" />
          </div>
          <label for="confirm">Confirm Password:</label>
          <input data-required="true" data-trigger="change" type="password" name="confirm" value="" id="password" class="text-field" required id="password-validation" />
        </fieldset>
        <fieldset>
          <input type="submit" value="Save Password" class="submit-button login_button">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="copyright copyright_login clear">
  <p>Powered by Wurk Happy &mdash; Copyright &#169; 2013 Wurk Happy &mdash; All Rights Reserved</p>
</div>

{{end}}