{{define "content"}}
<script>
var agreement = {{.agreement}};
var otherUser = {{.otherUser}};
var thisUser = {{.thisUser}};
</script>

<div id="content" class="clear content">

  <div id="agreement-profile" class="data-table agreement_profile">

    <table border="0" cellspacing="0" cellpadding="0">
      {{if .otherUser}}
      {{with .otherUser}}
      <tr>
        <td class="meta">
          <span><img src="{{.avatarURL}}"></span>
        </td>
        <td>
          <h3><a href="detail.html">{{.firstName}} {{.lastName}}</a></h3>
          <p>{{.email}} {{if .phoneNumber}}&mdash; {{.phoneNumber}}{{end}}</p>
        </td>
      </tr>
      {{end}}
      {{else}}
      Has not been sent to client yet
      {{end}}
    </table>

  </div>

  <div id="payment-schedule" class="clear payment_schedule">
    <div class="progress-large">
      <span style="background-position: -900px 0px;"><img src="../img/progress-large.png"></span>
    </div>
    <h2>Payment Milestones for</h2>
    <ul class="payment_milestone_container">
      {{range .agreement.payments}}
      <li class="payment_milestone"><strong>${{.amount}}</strong> &mdash; {{.title}} <!-- on June 28, 2011 --></li>
      {{end}}
    </ul>
  </div>

  <div class="column-one-half">
    <h2>Proposed Services</h2>
    <p>{{.agreement.proposedServices}}</p>
  </div>

  <div class="column-one-half">
    <h2>Refund Policies</h2>
    <p>{{.agreement.refundPolicy}}</p>
  </div>

  <div id="agreement-history" class="clear agreement_history">
    <h2>Agreement History</h2>
  </div>

  <div class="clear">
    <p class="void_agreement">If, for whatever reason, you feel this agreement is no longer valid, you can <a href="void.html">void the agreement</a>.</p>
  </div>

</div>

{{end}}

