{{define "content"}}
<script>
var agreements = {{.agreements}};
var user = {{.user}};
</script>
<div id="intro" class="clear">

  <div class="column-three-fourth">

    <h1>6 Client Agreements</h1>

  </div>
  <div class="column-one-fourth">

    <ul class="action-button">
      <li><a href="../agreements/new" class="single">Create Agreement</a></li>
    </ul>

  </div>

</div>


<div id="content" class="clear">

  <div class="clear">
    <div id="waitingSection">
      <h2>Waiting for Response</h2>
      <div class="data-table">

        <table border="0" cellspacing="0" cellpadding="0">
        </table>

      </div>
    </div>
    <div id="progressSection">
      <h2>In Progress</h2>
      <div class="data-table">

        <table border="0" cellspacing="0" cellpadding="0">
        </table>

      </div>
    </div>

    <div id="draftSection">
    </div>


  </div>

</div>
{{end}}

