{{define "content"}}
<script>
var agreements = {{.agreements}};
var currentUser = {{.thisUser}};
var otherUsers = {{.otherUsers}};
</script>
  <div id="intro" class="clear home_header">

    <div class="col-1-2">

      <h1 class="header_title">{{.agreementCount}} Agreement(s)</h1>

    </div>
    <div class="col-1-2">

      <ul class="action_button_container">
        <li><a id="create_agreement" href="/agreements/new" class="button action_button">Create Agreement</a></li>
      </ul>

    </div>

  </div>


  <div id="content" class="clear white_background home_container">

    <div class="clear">
      <div id="waitingSection"></div>
      <div id="progressSection"></div>
      <div id="draftSection"></div>
    </div>

  </div>
{{end}}

