{{define "header"}}

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <title>Wurk Happy | Simple Agreement Billing and Payment</title>

  <link rel="Shortcut Icon" type="images/ico" href="favicon.ico" />

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="../css/landing.css" media="all" />

  <script type="text/javascript" src="https://use.typekit.com/wwb5mzu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Parsley -->
<!-- <script type="text/javascript" src="../js/lib/parsleyjs/dist/parsley.min.js"></script> -->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24101674-1']);
    _gaq.push(['_setDomainName', '.wurkhappy.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <noscript>
    <style>
      .dim {opacity: .5;}
      #logindiv {display:none}
    </style>
    <div class="noscriptmsg">
      <p>Wurk Happy requires javascript to function properly. <a href="http://www.enable-javascript.com/" target="_blank">Please enable javascript</a> in your web browser.</p>
    </div>
  </noscript>
{{end}}

{{define "body"}}

    <div class="clear navigation navigation_header_padding">
		<div class="container">
			<div class="column-one-half top_padding">
        		<a class="logo" href="/">Wurk Happy</a>
			</div>
			<div class="column-one-half">
				<ul class="admin_nav">
        			<li id="log_in">
        				<a class="landing_navigation_links" id="login" href="#/login">Log In</a>
        			</li>
					<li id="log_out" class="hide">
						<a  class="landing_navigation_links" id="cancel" href="#">Cancel</a>
					</li>
					<li class="create_account">
						<a class="button action_button" href="#create_form">Create Free Account</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

<div class="fade2">
	<div id="intro" class="clear intro_container fade">
		<div class="container">
	  	<div class="clear">
	    	<h1 class="headline">Simple Agreement, Billing, and Payment</h1>
				<h2 class="subline">Built for Freelancers, Loved by Clients</h2>
	  	</div>
	  	<div class="column-one-third">
				<div class="benefit">
					<img src="img/agreement.jpg" alt="Simple Agreement">
				</div>
	    	<h3 class="benefit_title">Create an Agreement</h3>
	    	<p class="benefit_description">Send a clear, professional<br />agreement in minutes.</p>
	  	</div>
	  	<div class="column-one-third">
				<div class="benefit">
					<img class="img" src="img/buttons.jpg" alt="Simple Billing">
				</div>
	    	<h3 class="benefit_title">Request Payment</h3>
	    	<p class="benefit_description">Get paid and pay with<br />the click of a button.</p>
	  	</div>
	  	<div class="column-one-third">
				<div class="benefit">
					<img src="img/paid.jpg" alt="Simple Payment">
				</div>
	    	<h3 class="benefit_title">Get paid</h3>
				<p class="benefit_description">Receive and send funds online,<br> usually within one business day.</p>
	  	</div>
		</div>
	</div>
	
	<div class="sub_navigation clear fade">
		<div class="container">
			<ul class="sub_navigation_container">
				<li class="tab current sub_navigation_tab" id="about-button">
					<a class="sub_navigation_link">About</a>
				</li>
      			<li class="tab sub_navigation_tab" id="pricing-button">
      				<a class="sub_navigation_link">Pricing</a>
      			</li>
			</ul>
		</div>
	</div>

	<div id="content" class="content clear fade get_started_container">

		<div class="container tab-content" id="about-container"> <!-- Start "about" tab -->
    	<div id="about" class="column-two-third">
      	<h2>What is Wurk Happy?</h2>
      	<p>Wurk Happy is an online platform that facilitates simple agreement, billing, and payment for freelancers and their clients.</p>
				<p>We make the payment process fast and transparent by improving communication, reducing administration, and decreasing payment processing times.</p>
    	</div>
		</div> <!-- End "about" tab -->
	
		<div class="container tab-content hide" id="pricing-container"> <!-- Start "pricing" tab -->
			<div id="pricing" class="column-two-third hide">
      		<h2>Straightforward Pricing</h2>
				<p>Wurk Happy only charges a processing fee when you receive payment.</p>
				<p><strong>If you choose to get paid by bank transfer,</strong> we charge 1.5% of the payment received - up to a maximum fee per transaction of $15.</p>
				<p>Funds are transferred from bank account to bank account, and are usually available within 1 business day.</p>
				<p><strong>If you choose to get paid by credit card,</strong> we charge 5% per transaction.</p>
				<p>Funds are available within 5-7 business days (though it's often within 1-2 days) after transfer from your account with the payment processor.</p>
    	</div>
		</div> <!-- End "pricing" tab -->
		
		<div class="container">
			<div class="column-one-third">
				<form action="/user/new" method="POST" id="create_form" class="create_account_form" accept-charset="utf-8">
					<fieldset>
						<legend class="create_account_legend" id="form-header">Get Started</legend>

						<label id="email-label" for="email">Your Email: <span class="validation" id="email-validation"></span></label>
						<input type="email" data-type="email" data-required="true" data-trigger="change" name="email" id="email-field" class="text-field" placeholder="name@website.com">
						
						<label for="email">Choose a password:</label>
          				<input type="password"  data-required="true" data-trigger="change" name="password" id="password" class="text-field">
					
					</fieldset>
					<fieldset>
						<input type="submit" value="Create Free Account" class="button action_button">
					</fieldset>
				</form>
			</div>
		</div>

	</div>

 </div>  <!-- class fade2 -->

  
  <div class="copyright clear">
    <p>Powered by Wurk Happy &mdash; Copyright &#169; 2013 Wurk Happy &mdash; All Rights Reserved</p>
  </div>
</div>

{{end}}