{{define "header"}}

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <title>Wurk Happy | Simple Agreement Billing and Payment</title>


  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
{{if .production}}
  <link rel="Shortcut Icon" type="images/ico" href="https://d3kq8dzp7eezz0.cloudfront.net/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="https://d3kq8dzp7eezz0.cloudfront.net/css-{{.CSSversion}}/landing.css" media="all" />
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/analytics.min.js"></script>
  <script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/jquery.js"></script>
{{else}}
  <link rel="Shortcut Icon" type="images/ico" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/landing.css" media="all" />
  <script src="/js/lib/analytics/analytics.min.js"></script>
  <script src="/js/lib/jquery/jquery.js"></script>
{{end}}
  <noscript>
    <style>
      .dim {opacity: .5;}
      #logindiv {display:none}
    </style>
    <div class="noscriptmsg">
      <p>Wurk Happy requires javascript to function properly. <a href="http://www.enable-javascript.com/" target="_blank">Please enable javascript</a> in your web browser.</p>
    </div>
  </noscript>





  <script type="text/javascript">
    analytics.initialize({
      'Google Analytics' : 'UA-24101674-3',
      'Mixpanel'         : '4333aa84dfd94220eef310c77eab7372',
      'Intercom'         : '76f9a1ae4cd19d1eb4555da098e1240d1d10905d',
      'CrazyEgg'		 : '00197985'
    });
  </script>



{{end}}

{{define "body"}}

    <div class="clear navigation navigation_header_padding">
		<div class="container">
			<div class="column-one-half top_padding">
        		<a class="logo" href="/">Wurk Happy</a>
			</div>
			<div class="column-one-half">
				<ul class="admin_nav">
        			<li id="log_in">
        				<a class="landing_navigation_links" id="login" href="#login">Log In</a>
        			</li>
					<li id="log_out" class="hide">
						<a  class="landing_navigation_links" id="cancel" href="">Cancel</a>
					</li>
					<li id="create_account" class="create_account">
						<a class="button action_button" href="#new-account">Signup Free</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

<div class="fade2">
	<div id="intro" class="clear intro_container landing_container fade">
		<div id="benefits_container" class="container hide">
		  	<div class="clear headline_container">
		  		<h1 class="logo_white">Wurk Happy</h1>
		    	<h1 class="headline">Build Seamless Freelance Relationships</h1>
				<ul class="admin_nav signup_button_container">
					<li id="create_account" class="create_account explore_button_container">
						<a class="button action_button" href="/agreement/v/sample">Explore</a>
					</li>
					<li id="create_account" class="create_account">
						<a class="button action_button" href="#new-account">Signup Free</a>
					</li>					
				</ul>
		  	</div>
		  	<div class="benefits_container">
			  	<div id="communication" class="column-one-third">
			    	<h3 class="benefit_title">Organize Communication</h3>
			    	<p class="benefit_description">Create agreements in minutes.<br> Organize your important conversations.</p>
			  	</div>
			  	<div id="billing" class="column-one-third">
			    	<h3 class="benefit_title">Automate Billing</h3>
			    	<p class="benefit_description">Stop Invoicing.<br> We do it for you.</p>
			  	</div>
			  	<div id="payment" class="column-one-third">
			    	<h3 class="benefit_title">Simplify Payment</h3>
						<p class="benefit_description">Securely accept payment online.<br> Your clients will love paying you.</p>
			  	</div>
		  </div>
		</div>
	</div>
</div> <!-- class fade2 -->
<script>
	// non-jquery fade function takes ('in' or 'out' as type), duration in miliseconds, element, and flag to designate if I.E. 8 is supported
	//fading in the benefits section on window load adds a nice effect and makes everything appear at the same time.
	function fade(type, ms, el, IE) {
	    var isIn = type === 'in',
	        opacity = isIn ? 0 : 1,
	        interval = 50,
	        gap = interval / ms;
	        
	    if(isIn) {
	         el.style.display = 'block';
	         el.style.opacity = opacity;
	         if(IE) {
	            el.style.filter = 'alpha(opacity=' + opacity + ')';
	            el.style.filter = 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + opacity + ')';
	        }
	    }
	    
	    function func() {
	        opacity = isIn ? opacity + gap : opacity - gap; 
	        el.style.opacity = opacity;
	        if(IE) {
	            el.style.filter = 'alpha(opacity=' + opacity * 100 + ')';
	            el.style.filter = 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + opacity * 100 + ')';
	        }
	        
	        if(opacity <= 0 || opacity >= 1) window.clearInterval(fading);
	        if(opacity <= 0) el.style.display = 'none';
	    }
	    
	    var fading = window.setInterval(func, interval);
	}

	window.onload = function() {
		var benefits_container = document.getElementById('benefits_container');
		var communication = document.getElementById('communication');
		var billing = document.getElementById('billing');
		var payment = document.getElementById('payment');
		fade('in', 500, benefits_container, true);
		fade('in', 1000, communication, true);
		fade('in', 1000, billing, true);
		fade('in', 1000, payment, true);
	}
</script>

<!-- landing footer-->

    <div id="footer" class="clear landing_footer">
    	<div class="landing_footer_column_container">
	      <div class="landing_footer_column">
	        <h3 class="footer_title"><a href="/about">About</a></h3>
	      </div>
	      <div class="landing_footer_column">
	        <h3 class="footer_title"><a href="http://wurkhappy.tumblr.com/">Blog</a></h3>
	      </div>
	      <div class="landing_footer_column">
	        <h3 class="footer_title"><a href="/legal">Legal</a></h3>
	      </div>
	    </div>
    </div>
<div class="copyright clear">
	<p>Powered by Wurk Happy &mdash; Copyright &#169; 2013 Wurk Happy &mdash; All Rights Reserved</p>
</div>
 </div>  
</div>

{{end}}