{{define "content"}}
  <div id="intro" class="clear intro">
    <div class="column-three-fourth">
      <h1>Simple Pricing</h1>
    </div>
  </div>


  <div id="content" class="clear white_background home_container">

      <h2>Wurk Happy Service Fee</h2>
      <p>Free to sign up. No commitment necessary. Only pay a small fee when you get paid.</p>
      <p>The Wurk Happy Service Fee is 1% up to a cap of $10 per transaction. Below are some examples:</p>
      <div class="price_level_container">
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $100</h2>
        <h2><span class="pay_text">Pay</span> $1</h2>
      </div>
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $500</h2>
        <h2><span class="pay_text">Pay</span> $5</h2>
      </div>
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $5000</h2>
        <h2><span class="pay_text">Pay</span> $10</h2>
      </div>
    </div>
    <div class="processing_container clear">
      <div class="processing_description">
        <h2>Payment Processing Fees</h2>
        <p>Payment processing fees are separate from the Wurk Happy Service Fee. Wurk Happy offers payment processing at cost. We do this so we'll always be able to pass on savings to our customers.</p>
      </div>
      <div class="processing_costs">
        <p><strong>2.9% + 55 cents</strong> for credit cards<br><span class="helper_text"> Funds clear the next business day.</span></p>
        <p><strong>1% + 55 cents, $5 cap</strong> for ach debits<br><span class="helper_text"> Funds clear in 2-4 business days.</span></p>
      </div>
      <div class="signup_button_container">
        <a class="button action_button" href="/#new-account">Signup Free</a>    
      </div>
    </div>

  </div>
{{end}}
