{{define "content"}}
  <div id="intro" class="clear intro">
    <div class="column-three-fourth">
      <h1>Simple Pricing</h1>
    </div>
  </div>


  <div id="content" class="clear white_background home_container">

      <h2>Wurk Happy Service Fee</h2>
      <p class="fees_intro_p">Free to sign up. No commitment necessary. Only pay a small fee when you get paid.</p>
      <div class="price_level_container">
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $100,000 - $1,000</h2>
        <h2><span class="pay_text">Pay</span> $50</h2>
      </div>
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $999 - $500</h2>
        <h2><span class="pay_text">Pay</span> $25</h2>
      </div>
      <div class="price_level">
        <h2><span class="receive_text">Earn</span> $499 - $100</h2>
        <h2><span class="pay_text">Pay</span> $15</h2>
      </div>
    </div>
    <div class="processing_container clear">
      <div class="processing_description">
        <h2>Payment Processing Fees</h2>
        <p>Payment processing fees are separate from the Wurk Happy Service Fee. Wurk Happy offers payment processing at cost. We do this so we'll always be able to pass on savings to our customers.</p>
      </div>
      <div class="processing_costs">
        <p><strong>2.9% + 30 cents</strong> for credit cards</p>
        <p><strong>$5</strong> for ach debits</p>
      </div>
      <div class="signup_button_container">
        <a class="button action_button" href="/#new-account">Signup Free</a>    
      </div>
    </div>

  </div>
{{end}}
