{{define "content"}}

<div id="navigation" class="clear">

  <div class="column-one-half">

    <ul class="clear">
      <li><a href="../clients/index.html"><strong>Client Agreements</strong></a></li>
      <li class="current"><a href="../vendors/index.html"><strong>Vendor Agreements</strong></a></li>
      <li><a href="../people/index.html"><strong>People</strong></a></li>
    </ul>

  </div>

  <div class="column-one-half">

    <ul id="admin" class="clear">
      <li><a href="#">Log Out</a></li>
      <li><a href="../admin/account.html">Account</a></li>
      <li><a href="../admin/preferences.html">Preferences</a></li>
    </ul>

  </div>

</div>


<div id="intro" class="intro clear">

  <div class="column-three-fourth">

    <h1>Request Vendor Agreement</h1>

  </div>

  <div class="column-one-fourth">

    <ul class="action-button">
      <li><a href="../vendors/index.html" class="single cancel">Cancel Request</a></li>
    </ul>

  </div>

</div>


<div id="content" class="clear content">

  <h2>Recipient</h2>

  <form action="#" method="get" accept-charset="utf-8">
    <fieldset>
      <label for="">Email Address</label>
      <input type="text" name="" value="" id="" size="50">
      <label for="">Personal Message in Notification Email (optional)</label>
      <textarea name="name" rows="5" cols="100"></textarea>
    </fieldset>
    <fieldset class="submit-buttons">
      <a href="" class="single">Request Vendor Agreement</a>
    </fieldset>
  </form>

</div>
  {{end}}