{{define "content"}}

<script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/intro.js/intro.js"></script>
<script src="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/ckeditor/ckeditor.js"></script>
<link href="https://d3kq8dzp7eezz0.cloudfront.net/js/lib/intro.js/introjs.css" rel="stylesheet">

<div id="content" class="clear content">  <div id="header-section"><div><div id="intro" class="clear intro">
	<div class="column-three-fourth">
		<h1>Social Media App</h1>
	</div>
	<div class="column-one-fourth">
    <ul class="action_button_container">
      <li data-intro="When it's time for payment, click a button." data-step="5" data-position="bottom"><a id="action-button1" class="button action_button" onclick="Message()">Request Payment</a></li>
      <li data-intro="Requirements change. Amend your agreement at any time." data-step="6" data-position="bottom"><a id="action-button1" class="button action_button" onclick="Message()">Edit Agreement</a></li>
      <!--<li><a id="action-button2" class="button action_button">Edit Agreement</a></li>-->
    </ul>
	</div>
</div>
<div id="popup_container"></div></div></div>

  <div id="agreement-profile" class="data-table agreement_profile_container"><div><table border="0" cellspacing="0" cellpadding="0">
	
  <div data-intro="Manage freelance workflow through smart agreements" data-step="1"></div>
  <tbody><tr>
    <td class="meta">
      <span><img src="https://d3kq8dzp7eezz0.cloudfront.net/img/default_photo.jpg"></span>
    </td>
    <td>
      <h3> </h3>
      <p>matt@wurkhappy.com </p>
    </td>
  </tr>
  
</tbody></table></div></div>
  <div class="divider"></div>
  <div id="agreement-progress-bar" data-intro="See the status of your project at a glance" data-step="2"><div><div class="progress-large">
	<div class="icon_container">
		<i class="fa fa-circle progress_icon" style="opacity: 0; margin-left: -15px; margin-right: 60px;"></i><i class="fa fa circle progress_icon green_progress" data-paymentid="d044efa6-e755-44f3-5129-95e3e552aec0" style="margin-left: 60px; margin-right: 60px;"></i><i class="fa fa circle progress_icon yellow_progress" data-paymentid="2c91dc2a-5a2f-4a21-6dd5-d5e4bd8bb05e" style="margin-left: 60px; margin-right: 60px;"></i><i class="fa fa-circle progress_icon" style="opacity: 0; margin-left: 60px; margin-right: 60px;"></i><i class="fa fa circle progress_icon grey_progress" data-paymentid="36d548f2-a7fd-45a2-61aa-b68844e84c38" style="margin-left: 60px; margin-right: 60px;"></i><i class="fa fa circle progress_icon grey_progress" data-paymentid="cbe60c7e-39af-4577-403b-bfdf98a63eeb" style="margin-left: 60px; margin-right: 60px;"></i><i class="fa fa-circle progress_icon" style="opacity: 0; margin-left: 60px; margin-right: 0px;"></i>
	</div>
	<progress class="agreement_progress yellow_progress" max="100" value="35" data-skill="html5">
		<!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
		<p style="width:0%" data-value="0">HTML5</p>
		<div class="agreement_progress_bar">
			<span style="width: 0%">0%</span>
		</div>
	</progress>
</div></div></div>
  <div id="payment-methods"><div><div class="payment_method_review_container">
	<h2 class="agreement_title">Payment Methods</h2>
	<div class="payment_methods_agreement_container">
		
			<i class="fa fa-check-circle">  <span>Credit Card</span></i>
		
			<i class="fa fa-check-circle bank_account_method_review">  <span>Bank Account</span></i>
		
	</div>
</div></div></div>
  <div id="payment-schedule" class="clear" data-intro="Keep everyone on the same page with payment milestones and work items" data-step="3"><div><h2 class="agreement_title">Payment Schedule <span id="payments-total">$5000</span></h2>

<ul class="payment_milestone_container">

  <div><li class="payment_milestone">
  <strong>$1000</strong> — Deposit

  
  <div class="paymentStatus payment_status"><span class="payment_status">Payment Made</span></div>
</li>
  
<ul class="scope_items_container"></ul>
</div>

  <div><li class="payment_milestone">
	<strong>$1000</strong> — Wireframes

	
	 on Feb 9, 2014
	
	<div class="paymentStatus payment_status"><span class="payment_status">Payment Pending</span></div>
</li>
	
<ul class="scope_items_container"><div><li class="scope_item">Mock up each screen in the wireframes</li></div></ul>
</div>
<div><li class="payment_milestone">
	<strong>$2000</strong> — Complete functionality

	
	 on Feb 16, 2014
	
	<div class="paymentStatus payment_status"></div>
</li>
	
<ul class="scope_items_container" ><div><li class="scope_item">Add functionality to mock ups</li></div></ul>
</div><div><li class="payment_milestone">
	<strong>$1000</strong> — Add Design

	
	 on Feb 24, 2014
	
	<div class="paymentStatus payment_status"></div>
</li>
	
<ul class="scope_items_container"><div><li class="scope_item">Implement design on all screens</li></div><div><li class="scope_item">Finish any outstanding bugs</li></div></ul>
</div></ul></div>
</div>
  <div class="divider"></div>

  <div id="proposed-services" class="column-full">
  	<h2 class="agreement_title">Agreement Overview</h2>
  	<p> This agreement outlines the general services to be performed by Matt Parker in building a social media application. The application will utilize Facebook, Twitter, and Linkedin API's. Users on the platform will automate their social media interaction by having their status automatically generated by articles browsed, calender events, and timed geo-location. During the course of development, additional information will be needed to ensure that style and site experience conforms to client expectations.</p>

    <p>The client can expect daily progress updates through Wurk Happy.  Instruction and light technical support is included within the quoted price. Additional functionality outside of what has been stated in the December 25th version of the agreement will be extra, quoted individually, and amended through Wurk Happy with the approval of the client.</p>
  </div>

  <div class="divider"></div>

  
  <div id="discussion" class="clear messages_container" data-intro="All your important client communication is organized and accessible." data-step="4"><div><div id="messages-section"><div><h2 class="message_title">Communication</h2>
<div id="tags-section"><div class="tags_container float_left"><h3 class="tags_title">Filter by Tag</h3><div class="tag_filter_container"><div class="tag_filter">
	<i class="fa fa-tag"></i>Wireframes
</div></div><div class="tag_filter_container"><div class="tag_filter">
	<i class="fa fa-tag"></i>Deposit
</div></div><div class="tag_filter_container"><div class="tag_filter">
	<i class="fa fa-tag"></i>Complete functionality
</div></div><div class="tag_filter_container"><div class="tag_filter">
	<i class="fa fa-tag"></i>Add Design
</div></div></div></div>
<div id="messagesBox-section"><ul class="discussion_container float_left">	<h3 class="tags_title">Messages</h3><div class="hide comment_container" style="display: block;">
<div class="message_box float_right">
	<div class="comment_post_info">
		<div class="comment_name">mdparker89@gmail.com</div>
	</div>
	<div class="tag_container">
		<div class="comment_date">December 22nd 2013, 10:58 am</div>
		
	</div>
	<div class="comment_body">Please take a moment to look over the details of the services provided and payment schedule to confirm that's what you want to do and you're comfortable with the agreement.</div>
</div>
</div></ul></div></div></div>

<div id="newMessages-section"><div><div class="add_comment_container">
  <h3 class="tags_title">New Message</h3>
  <h4 class="helper_text message_title">We send out an email everytime you send a message.</h4>
  <div class="enter_comment_input inline" style="position:relative;">
    <textarea id="message_editor" class="enter_comment_input inline message" placeholder="Click here to enter a message." style="position:relative;"></textarea>
  </div>
  <div id="comment-tags"><div class="enter_tags_container float_left">    <h3 class="tags_title float_left">Tags:</h3>
    <div class="enter_tags_sub_container float_left">
    </div>
    <div class="new_tag_container float_left">
      <input type="text" name="tag" size="1" class="new_tag hide">
      <i tabindex="0" class="fa fa-plus inline add_tag"></i>
    </div></div></div>
  <a onclick="Message()" class="send_comment">Send Message</a>
</div></div></div>

</div>

  <script type="text/javascript">
  var CKEDITOR_BASEPATH = 'https://d3kq8dzp7eezz0.cloudfront.net/css/ckeditor/';
  CKEDITOR.basePath = 'https://d3kq8dzp7eezz0.cloudfront.net/css/ckeditor/';
        CKEDITOR.replace('message_editor', {
          toolbar: [
          {items: ['Bold','-', 'Italic', '-', 'Underline']}
          ],
          disableNativeSpellChecker: false,
          language: 'https://d3kq8dzp7eezz0.cloudfront.net/css-1/en.js',
          skin: 'wurkhappy,https://d3kq8dzp7eezz0.cloudfront.net/css-1/wurkhappy/',
          customConfig : 'https://d3kq8dzp7eezz0.cloudfront.net/css-1/config.js'
        });
        CKEDITOR.config.contentsCss = 'https://d3kq8dzp7eezz0.cloudfront.net/css-1/contents.css' ;
        CKEDITOR.config.stylesSet = 'my_styles:https://d3kq8dzp7eezz0.cloudfront.net/css-1/styles.js';
</script>

  <div id="popup_container"></div>
      
      <div class="payment"></div>
    

  
  
  <div class="clear agreement_history">
   <div id="agreement-history"></div>
 </div>
 <div class="clear">
  <p class="void_agreement">
    If, for whatever reason, you feel this agreement is no longer valid, you can <a onclick="Message()" id="voidAgreement">void the agreement</a>.
  </p>
</div>
</div>
</div>
<script>
function Message (){
  alert("Sorry, this is just a sample agreement. Go back to our home page and you can get started!");
}

introJs().onchange(function(targetElement) {
  var elem = targetElement;
  setTimeout( function(){
    var offsetTop = 0;
    do {
      if ( !isNaN( elem.offsetTop ) )
      {
          offsetTop += elem.offsetTop;
      }
    } while( elem = elem.offsetParent );
    console.log(offsetTop);
    if (offsetTop < 600) offsetTop = 200;
    window.scrollTo(0, offsetTop - 200)}, 1 );
}).setOptions({tooltipPosition: "top", showStepNumbers: false}).start().oncomplete(function() {
  window.location = '/home';
});;

</script>
{{end}}