{{define "content"}}
<script>
var agreements = {{.agreements}};
var currentUser = {{.thisUser}};
var otherUsers = {{.otherUsers}};
var numberOfTimesVisited = {{.numberOfTimesVisited}};
</script>
  
  <!-- Sample Home Page -->
  <div id="intro" class="clear header home_header">
    <div class="col-1-2">
      <h1>{{.agreementCount}} Agreement(s)</h1>
    </div>
    <div class="col-1-2">
      <ul class="action_button_container">
        <li><a style="margin-top:5px;" id="create_agreement" href="/agreements/new" class="button action_button clickable">Create Agreement</a></li>
      </ul>
    </div>
  </div>


  <div id="introduction_progress_container"></div>


  <div id="content" class="clear white_background layout_container">

    <div class="clear">
      <div id="waitingSection"></div>
      <div id="progressSection"></div>
      <div id="draftSection"></div>
    </div>

  </div>
{{end}}

