{{define "content"}}
<div id="mainContainer"> <!-- div for main container -->
  <div class="clear intro">
    <div class="column-three-fourth">
      <h1>Signup</h1>
    </div>
  </div>

  <div id="contentWrapper"> <!-- div for content -->
    <div id="content" class="clear">
      <h2 class="steps">
        Personal Information <span>Step 1 of 3 &mdash; Next: Bank Account</span>
      </h2>
      <h2>Profile Preview</h2>
      <div class="data-table">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="meta">
              <span><img src="../img/people/obama-face.png"></span>
            </td>
            <td>
              <h3><a href="detail.html">Joe Smith</a></h3>
              <p>email@domain.com &mdash; (480) 329-7537</p>
            </td>
          </tr>
        </table>
      </div>
      <h2>Personal Details</h2>
      <form action="#" method="get" accept-charset="utf-8">
        <fieldset>
          <label for="">Name</label>
          <input type="text" name="" placeholder="Joe Smith" id="" size="50">
          <label for="">Photo</label>
          <input type="file" class="upload">
          <label for="">Email</label>
          <input type="text" name="" placeholder="email@domain.com" id="" size="50">
          <label for="">Phone Number</label>
          <input type="text" name="" placeholder="(480) 329-7537" id="" size="50">
        </fieldset>
        <fieldset class="submit-buttons">
          <a href="personal" class="single">Save and Continue</a>
        </fieldset>
      </form>
    </div>
  </div> <!-- end div for main content -->
</div> <!-- end main container -->
{{end}}
