<div class="progress-large progress_bar">
	{{#each deliverables}}
	<div style="width:{{segment_width}}px;text-align:center;position:absolute;top: -70px;left: {{title_left}}px">
		<h2 style="font-size:14px;text-transform:uppercase;font-weight:400;color:hsl(200, 80%, 43%);font-family:museo_sans;font-style:italic;">{{title}}</h2>
	</div>
	{{/each}}

</div>
<div class="icon_container">
	<div class="progress_icon green_progress" data-paymentid="{{this.id}}"></div>
	{{#each deliverables}}
	<div class="progress_icon {{this.color}}_progress" data-paymentid="{{this.id}}" style="left:{{this.margin_left}}px; margin-right:0;"></div>
	{{/each}}
	</div>


	{{#each deliverables}}
	<div style="width:{{segment_width}}px;height:4px;background:none;position:absolute;top:0;left:{{placement_left}}px">
		{{#each scopeItems}}
			<span class="{{this.color}}_progress_tick agreement_progress_tick" data-paymentid="{{this.id}}" style="height:18px;width:4px;position:absolute;left:{{task_margin_left}}px;top:-7px;"></span>
		{{/each}}
	</div>
	{{/each}}


	