<h2 class="message_title">Communication</h2>
<div class="tags_container float_left">
	<h3 class="tags_title">Filter by Tag</h3>
	<div class="tag_filter"><i class="fa fa-tag"></i>writing</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>wireframes</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>2nd payment</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>update</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>product page</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>footer</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>header</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>waffle</div>
	<div class="tag_filter"><i class="fa fa-tag"></i>candy</div>
</div>
<ul class="discussion_container float_left">
	<h3 class="tags_title">Messages</h3>
	{{#if this.comments}}
		<h2 class="discussion_placeholder">Have something important to say? Leave a message in the box below.</h2>
	{{/if}}
</ul>
<div class="add_comment_container">
	<h3 class="tags_title">New Message</h3>
	<h4 class="helper_text message_title">We send out an email everytime you send a message.</h4>

	<textarea class="enter_comment_input inline" placeholder="Click here to enter a message."></textarea>
	<div class="enter_tags_container float_left">
		<h3 class="tags_title float_left">Tags:</h3>
		<div class="enter_tags_sub_container float_left">
			<div class="inline added_tag">1st Payment</div>
			<div class="inline added_tag">shopping cart</div>
			<div class="inline added_tag">writing</div>
		</div>
		<div class="new_tag_container float_left">
			<input type="text" name="tag" size="1" class="new_tag hide">
			<i class="fa fa-plus inline add_tag"></i>
		</div>
	</div>
	<a class="send_comment">Send Message</a>
</div>