<h2 class="message_title">Messages</h2>
<h3 class="helper_text message_title">We send out an email everytime you post a message.</h3>
<div class="tags_container float_left">
	<h3 class="tags_title">Filter by Tag</h3>
	<div><i class="fa fa-tag"></i>writing</div>
	<div><i class="fa fa-tag"></i>wireframes</div>
	<div><i class="fa fa-tag"></i>2nd payment</div>
	<div><i class="fa fa-tag"></i>update</div>
	<div><i class="fa fa-tag"></i>product page</div>
	<div><i class="fa fa-tag"></i>footer</div>
	<div><i class="fa fa-tag"></i>header</div>
	<div><i class="fa fa-tag"></i>waffle</div>
	<div><i class="fa fa-tag"></i>candy</div>
</div>
<ul class="discussion_container float_left">
	<h3 class="tags_title">Conversation</h3>
	{{#if this.comments}}
		<h2 class="discussion_placeholder">Have something important to say? Leave a message in the box below.</h2>
	{{/if}}
</ul>
<div class="add_comment_container">
	<h3 class="tags_title">New Message</h3>
	<textarea class="enter_comment_input inline" placeholder="Click here to leave a message."></textarea>
	<div class="enter_tags_container">
		<h3 class="tags_title inline">Tags:</h3>
		<div class="inline added_tag">writing</div>
		<div class="inline added_tag">writing</div>
		<div class="inline added_tag">writing</div>
		<i class="fa fa-plus inline add_tag"></i>
	</div>
	<div class="comment_action_container">
		<div id="select" class="selectdiv">  
			<select class="inline comment_select_padding selectboxdiv" id="milestoneSelect">
				<option value="General" disabled selected>Choose Milestone...</option>
				{{#each this.payments}}
				<option value="{{id}}">{{title}}</option>
				{{/each}}
			</select>
			<div class="out">Choose Milestone...</div>
		</div>
		<div id="action-select-wrapper" class="inline comment_select_padding"></div>
		<a class="send_comment">Send</a>
	</div>
</div>