 {{#if independent_status}}
    <div id="independent-status" class="column-one-half">
    <h2 class="agreement_title">Independent Relationship</h2>
    <p>{{firstName}} {{lastName}} is an independent contractor, not an employee. {{thisUser.firstName}} is solely responsible for all taxes, withholdings, insurance, and any other obligations that may apply to an independent contractor.</p>
    </div>

  {{else}}
    <div id="independent-status" class="column-one-half">
      <h2 class="agreement_title">Independent Relationship</h2>
      <p>{{firstName}} {{lastName}} is an employee. </p>
    </div>
  {{/if}}