
        <td style="height:100%; padding:0; line-height:34px; position:relative;color: hsl(198, 100%, 35%);"><a style="position:absolute; right: -425px;top:16px; color:hsl(38, 100%, 50%);">Remove</a>{{title}}</td>
        <td><input style="border: 1px dashed hsl(0, 0%, 70%); background-color:inherit;" name="hours" value="{{hours}}"></td>
        <td ><input style="border: 1px dashed hsl(0, 0%, 70%); background-color:inherit;" name="rate" value="{{rate}}"></td>
        <td class="row_amountDue">{{amountDue}}</td>