<table border="0" cellspacing="0" cellpadding="0" style="width:100%">
    <tr style="background-color:#168dc7; color:white;">
        <th style="width:70%; text-align:center;border: 1px solid black;">Item</th>
                {{#if hourly}}
        <th style="text-align:center;border: 1px solid black;">Hours</th>
        <th style="text-align:center;border: 1px solid black;">Rate</th>
        {{/if}}
        <th style="text-align:center;border: 1px solid black; width:30%;">Cost</th>
    </tr>
</table>