  <div id="header-section"></div>
  <div id="agreement-profile" class="data-table">
  </div>
  <div id="payment-schedule" class="clear payment_schedule"></div>

  <div id="proposed-services" class="column-one-half">
  	<h2 class="agreement_title">Proposed Services</h2>
  	<p>{{proposedServices}}</p>
  </div>

  <div id="clauses" class="column-one-half">
  </div>
  
  <div id="discussion" class="clear">
    <h2>Discuss</h2>
  </div>

  <div id="popup_container"></div>
      
      <div class="payment"></div>
    </div>

  </div>
  
  <div class="clear agreement_history">
   <h2 class="agreement_title">Agreement History</h2>
   <div id="agreement-history"></div>
 </div>
 <div class="clear">
  <p class="void_agreement">
    If, for whatever reason, you feel this agreement is no longer valid, you can <a href="void.html">void the agreement</a>.
  </p>
</div>
