  <div id="header-section"></div>
  <div id="agreement-profile" class="data-table agreement_profile_container"></div>
  <div class="divider"></div>
  <div id="notification_container" class="notification_container agreement_notification hide"><p class="notification_text bank_account_saved"><i class="fa fa-check"></i><p></div>
  <div id="notifications"></div>
  <div id="agreement-progress-bar"></div>
  <div id="payment-schedule" class="clear"></div>
  <div class="divider"></div>

  <div id="proposed-services" class="column-full">
  	<h2 class="agreement_title">Agreement Overview</h2>
  	<p>{{proposedServices}}</p>
  </div>

  <div class="divider"></div>

  
  <div id="discussion" class="clear">
    <h2>Discuss</h2>
  </div>

  <div id="popup_container"></div>
      
      <div class="payment"></div>
    </div>

  </div>
  
  <div class="clear agreement_history">
   <h2 class="agreement_title">Agreement History</h2>
   <div id="agreement-history"></div>
 </div>
 <div class="clear">
  <p class="void_agreement">
    If, for whatever reason, you feel this agreement is no longer valid, you can <a href="void.html">void the agreement</a>.
  </p>
</div>
