
<div class="close"><i class=" fa fa-times"></i></div>
<h1 style="background: hsl(198, 100%, 39%);color: hsl(0, 100%, 100%);text-align:center">Payment Request</h1>
{{#if bankAccounts}}
<h4 style="margin-top: 20px;margin-bottom: 10px;">Select bank account to deposit funds</h4>
<ul class="payment_select_container">
  <li>
    {{#each bankAccounts}}
    <input type="radio" class="select_bank_account" name="select_bank_account" value="{{id}}">
    <p class="payment_select_info"><span>Routing:</span> {{routing_number}}</p>
    <p class="account_select_info"><span>Account:</span> *********{{last_four_digits account_number}}</p>
    {{/each}}
    <h2> 
  </li>
</ul>
{{else}}
<h3>Please add a bank account in the <a href="/account#bankaccount">account</a> page to receive payment.</h3>
{{/if}}