
      <header class="bottom_divider pay_header_container">
        <h2 class="pay_header">Where should we send your funds?</h2>
        {{#if bankAccounts}}
        <h3>Select bank account</h3>
          <ul class="payment_select_container">
            <li>
                {{#each bankAccounts}}
                <input type="radio" class="select_bank_account" name="select_bank_account" value="{{uri}}">
                <p class="payment_select_info first_select_info"><span>Account NickName:</span> {{nick_name}}</p>
                <p class="payment_select_info"><span>Routing:</span> **** **** **** {{last_four_routing}}</p>
                <p class="payment_select_info"><span>Account:</span> **** **** **** {{last_four_account}}</p>
                {{/each}}
                <h2> 
            </li>
          </ul>
         {{else}}
          <h3>Please add a bank account in the <a href="/account#bankaccount">account</a> page to receive payment.</h3>
         {{/if}}
      </header>
      <article>
        <div class="line"></div>
        <h2 class="pay_header pay_milestone">Get Paid for Milestone 
          <select id="milestoneToPay" value="{{this.model.id}}">{{#each payments}}
            <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
            </select></h2>
        <div id="paymentBreakout">
          <ul class="line_item_container">
            <li class="line_item"><span class="line_item_title line_item_title_small">Milestone Amount:</span> ${{milestonePayment}}</li>
            <li class="line_item"><span class="line_item_title line_item_title_small">Fees (<a id="show_fee_detail" href="#show_fees">detail</a>):</span> ${{feeTotal}}</li>
            <div class="fee_detail_container hide">
              <ul>
              <li class="fee_line_item">Wurk Happy Fee: <span class="fee_amount">${{wurkHappyFee}}</span></li>
              {{#if allPaymentMethods}}
                  <li class="fee_line_item">Payment Processing Fee*: <span class="fee_amount">${{processingFee}}</span></li>
                  <span class="helper_text">*Depends on client payment method.</span>
              {{else}}
                {{#if acceptsCreditCard}}
                   <li class="fee_line_item">Credit Card Fee: <span class="fee_amount">${{creditCardFee}}</span></li>
                {{/if}}
                {{#if acceptsBankTransfer}}
                   <li class="fee_line_item">Bank Transfer Fee: <span class="fee_amount">${{bankTransferFee}}</span></li>
                {{/if}}
              {{/if}}
              </ul>
            </div>
            <li class="line_item line_item_total"><span class="line_item_title">You Will Receive:</span> ${{amountTotal}}</li>
          </ul>
        </div>
        <a id="pay-button" class="button action_button pay_button">Request Payment</a>
      </article>