
      <header class="bottom_divider pay_header_container">
      </header>
              <div class="divider"></div>
              <br>
      <article>
<div id="invoice_section">
  <div id="invoice_table"></div>
</div>
        <div class="line"></div>
        <h2 class="pay_header pay_milestone">Get Paid for 
          <select id="milestoneToPay" value="{{this.payment.id}}">{{#each payments}}
            <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
            </select></h2>
        <div id="paymentBreakout">

        </div>
        <a id="pay-button" class="button action_button pay_button">Request Payment</a>
      </article>