<div id="overlay" class="overlay hide">
    <div class="cover"></div>
    <div id="panel" class="panel">
      <header class="bottom_divider pay_header_container">
        <div class="close">X</div>
        <h2 class="pay_header">Please provide a reason you're rejecting this request.</h2>
        <form action="#" method="get" accept-charset="utf-8">
            <fieldset>
              <label for="reject">TO:</label> 
              <textarea name="proposedServices" rows="3" cols="40" placeholder="Please let your freelancer know why you're not approving this."></textarea>
              <a id="reject-button" class="button cancel reject_button">Reject {{status}}</a>
      </form>
        
      </article>
    </div>
  </div>