<header class="bottom_divider pay_header_container">
  <h2 class="pay_header">Please provide a reason you're rejecting this {{status}} request.</h2>
  <form action="#" method="get" accept-charset="utf-8">
    <fieldset>
      <label for="reject">Dear {{otherUser.firstName}},</label> 
      <textarea name="proposedServices" rows="3" cols="40" placeholder="Please let your freelancer know why you're not approving this."></textarea>
      <a href="reject" id="reject-button" class="button cancel reject_button">Reject {{status}}</a>
    </fieldset>
  </form>
</header>