<h2 class="work_item_title">{{title}}</h2>
  <div class="work_item_description_container">
  	<textarea class="work_item_description js_show_description_input"
  	{{#if description}}
  	 placeholder="{{description}}"
  	 {{/if}} 
  	 placeholder="Edit description">{{#if description}}{{description}}{{/if}}</textarea>
  	<div class="add_controls">
	    <input class="button action_button save_description_button js_save_description" type="submit" value="Save">
	    <a href="#" class="save_description_close js_close_description_input">X</a>
	</div>
  </div>