<header id="work_item_header" class="bottom_divider"></header>
<article>
	<div id="tasks_container"></div>
	<div class="divider"></div>
	<div class="line"></div>
<!-- 	<div class="activity_container">
		<h2 class="pay_header pay_milestone">Communication</h2>
		<p style="margin-left:20px;" class="add-more">
			<a id="add_workitem_comment" href="">Add A Message</a>
		</p>
		<div id="new_comment_text" style="display:none;">
			<div class="enter_comment_input inline">
				<textarea id="workitem_message_editor" class="enter_comment_input inline message" placeholder="Click here to enter a message."></textarea>
			</div>
		</div>
		<div id="work-item-messages"></div>
		<div style="clear:both;"></div>
	</div> -->
</article>