<header class="bottom_divider pay_header_container">
  <h2 class="pay_header">{{title}}</h2>
  <span class="helper_text pay_header_helper">Manage stored payment methods in the <a href="/account">account</a> section.</span>
  <p>
    Here is a nice description of the work item
  </p>
</header>
<article>
  <div >
    <h2 class="pay_header pay_milestone">To Do List</h2>
    <div class="scope_items_container">

      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="scope_item">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>

      <div class="check_item">
        <div class="checkbox checkbox_complete enabled">✓</div>
        <div class="scope_item complete">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>

    </div>
  </div>
  <div class="line"></div>
  <h2 class="pay_header pay_milestone">Activity</h2>
  <div class="activity_container">
    <ul>
      <li> Here is some fantastic activity</li>
      <li> More fantastic activity</li>
    </ul>
  </div>
</article>