<li class="payment_milestone">
	<div class="grid deliverable_header">
	<div class="deliverable_title">{{title}}</div>
<div class="helper_text col-1-2">{{#if dateExpected}} Due on {{dateFormat dateExpected}}{{/if}}
</div>
	<div class="deliverable_info col-1-2 {{color}}"><div class="tasks_meta">{{tasksCompleted}} out of {{numberOfTasks}} tasks complete&nbsp;<span style="color:hsl(0, 0%, 50%);">/</span>&nbsp;</div><div class="show_details_button"> Hide Details</div></div>
</div>
	<ul class="tasks_container"></ul>

</li>

