<header class="bottom_divider pay_header_container">
  <h2 class="pay_header">{{title}}</h2>
  <p class="work_item_description">
    Here is a nice description of the work item
  </p>
</header>
<article>
  <div >
    <h2 class="pay_header pay_milestone">To Do List</h2>
    <div class="tasks_container">

      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
      <div class="check_item">
        <div class="checkbox enabled">✓</div>
        <div class="task">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>

      <div class="check_item">
        <div class="checkbox checkbox_complete enabled">✓</div>
        <div class="task task_complete">Here is a pretty long todo item. Here I'm asking for some things to be done right now that need to be done. There's also a few other things I'd like done that I didn't mention before. Once these things are done let me know.</div>
      </div>
    </div>
    <div class="new_task_container">
      <textarea class="new_task" placeholder="Add task"></textarea>
      <div class="add_controls">
        <input class="button action_button add_task_button js_add_task" type="submit" value="Add">
        <a href="#" class="add_task_close">X</a>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <h2 class="pay_header pay_milestone">Activity</h2>
  <div class="activity_container">
    <ul>
      <li> Here is some fantastic activity</li>
      <li> More fantastic activity</li>
    </ul>
  </div>
</article>