.icon-add-16x16 { background-image: url(png/add-16x16.png); background-repeat: no-repeat; }

.icon-add-32x32 { background-image: url(png/add-32x32.png); background-repeat: no-repeat; }

.icon-calendar-256x256 { background-image: url(png/calendar-256x256.png); background-repeat: no-repeat; }

.icon-cross-16x16 { background-image: url(png/cross-16x16.png); background-repeat: no-repeat; }

.icon-cross-32x32 { background-image: url(png/cross-32x32.png); background-repeat: no-repeat; }

.icon-lock-16x16 { background-image: url(png/lock-16x16.png); background-repeat: no-repeat; }

.icon-note-32x32 { background-image: url(png/note-32x32.png); background-repeat: no-repeat; }