.check_image {
	background: url(/img/check_image.png) no-repeat 470px 184px;
}

.secure_card:after {
  background-image: url();
  padding: 5px;
  content: "";
  background-size: 382px;
  width: 200px;
  padding: 188px;
  padding-top: 17px;
  padding-bottom: 66px;
  padding-left: 190px;
  margin-left: 14px;
}

.account_secure {
	padding-left:20px;
}