.check_image {
	background: url(https://d3kq8dzp7eezz0.cloudfront.net/img/check_image.png) no-repeat 470px 184px;
}

.account_secure {
	//padding-left:20px;
  //width: 150px;
}

.stored_payment_methods {
  float: right;
}

.credit_card_images {
  padding-left:20px;
  width: 200px;
}

.account_personal_form {
  width:100%;
  padding-right:0;
  display:inline-block;
  vertical-align: top;

}
.account_personal_form h2 {
  margin:0px;
  margin-top:10px;
  padding:0px;
}

.account_verification_form {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  border-left: 1px solid hsl(188, 35%, 84%);
  margin-left: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
  .helper_text {
    margin: 0;
  }
}

.account_verification_form h2 {
  margin:0px;
  margin-top:10px;
  padding:0px;
}

.account_save{
  //border-top: 1px solid hsl(188, 35%, 84%);
  //padding-top: 20px;
  //margin-top: 20px;
  a {
    width: 250px;
  }

}