.check_image {
	background: url(https://d3kq8dzp7eezz0.cloudfront.net/img/check_image.png) no-repeat 470px 184px;
}

.account_secure {
	padding-left:20px;
  width: 150px;
}

.stored_payment_methods {
  float: right;
  margin-right: 230px;
}

.credit_card_images {
  padding-left:20px;
  position: absolute;
  top: 16px;
  right: 55px;
  width: 200px;
}

.account_personal_form{
  width:50%;
  padding-right:0;
  display:inline-block;
  vertical-align: top;
}
.account_personal_form h2{
  margin:0px;
  margin-top:10px;
  padding:0px;
}

.account_verification_form{
  width:47%;
  display:inline-block;
  vertical-align: top;
  padding-left:0;
}

.account_verification_form h2{
  margin:0px;
  margin-top:10px;
  padding:0px;
}

.account_save{
  padding: 20px;
}

