
.meta {
  border-bottom: 1px solid rgb(240,240,240);
  padding-bottom: 20px;
}

.payment_schedule {

}

.agreement_profile_container {
  padding: 15px 20px 15px 20px;
  float: left;
}

.agreement_title {
  padding: 0;
  margin: 20px 20px 10px 20px;
}

.payment_milestone_container {
  margin: 0 20px 10px 20px;
  padding: 0;
}

.payment_milestone {
  border-top: 1px solid rgb(245,245,245);
  padding: 10px 0;
  list-style: none;
}

.payment_status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: .875em;
  display: block;
  float: right;
  padding: 0 10px;
  text-decoration: none;
  background-color: rgb(238,240,242);
  color: rgb(100,100,100);
}

.make_payment,
.make_payment {
  background-color: rgb(136,204,85);
  color: rgb(255,255,255);
}

.make_payment:hover,
.make_payment:active {
  background-color: rgb(122,183,76);
  color: rgb(255,255,255);
}

.scope_items_container {
  list-style-type: none;
  margin: 0;
}

.scope_item {
  padding: 0;
}

.void_agreement {
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: rgb(238,240,242);
  text-align: center;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.edit_work_item {
  margin-top: 20px;
  width: 394px;
}

.waiting {
  color:white;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.home_container {
  min-height:150px;
}