.agreement_history {
  background-color: rgb(249,250,251);
  border-top: 1px solid rgb(225,225,225);
}

.agreement_history_items_container {
  margin: 0 20px;
  padding: 0;
}

.agreement_history_items {
  border-bottom: 1px solid rgb(225,225,225);
  padding: 10px 0;
  list-style: none;
}

.agreement_history_title {
	padding:0;
}