
.meta {
  padding-bottom: 20px;
}
.ag_section{
  padding: 20px;
  padding-bottom: 0px;
}
.ag_subsection{
  padding-left: 20px;
  margin-top: 10px;
}

.agreement_profile_container {
  padding: 15px 20px 15px 20px;
  float: left;
}

.agreement_title {
  color: $blue_light;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.agreement_subtitle{
  color: $blue_light;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.payment_milestone_container {
  margin-left: 20px;
  padding: 0;
}

.payment_milestone {
  border-top: 2px dotted hsl(188, 35%, 84%);
  padding: 10px 5;
  margin-top: 15px;
  list-style: none;
  cursor: pointer;
  margin-top:5px;
  overflow: hidden;
  .task_icon {
    margin-left:30px;
  }
  &:hover {
    background: hsl(210, 20%, 98%);
    .work_item_detail_link {
      color:hsl(198, 100%, 43%);
    }
  }
}

.payment_status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: .875em;
  display: block;
  float: right;
  padding: 0 10px;
  text-decoration: none;
  background-color: rgb(238,240,242);
  color: rgb(100,100,100);
}

.make_payment,
.make_payment {
  background-color: rgb(136,204,85);
  color: rgb(255,255,255);
}

.make_payment:hover,
.make_payment:active {
  background-color: rgb(122,183,76);
  color: rgb(255,255,255);
}

.scope_items_container {
  list-style-type: none;
  margin: 0;
}

.scope_item {
  text-align: left;
  line-height: 16px;
  position: relative;
  top: -2px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.tasks_container {
  list-style-type: none;
  margin: 0;
  margin-bottom:10px;
}

.task {
  text-align: left;
  line-height: 16px;
  position: relative;
  top: -2px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.work_item_title {
  padding:0;
  margin:0;
  text-align:left;
}

.work_item_header {
  padding: 0;
  margin-top:10px;
  margin-bottom: 0;
  text-align: left;
}

.work_item_description_container {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: left;
  .work_item_description {
    background: hsla(0, 0%, 0%, 0);
    border-color: hsla(0, 0%, 0%, 0);
    clear: both;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: hsl(0, 0%, 36%);
    display: block;
    height: 100px;
    margin-bottom: 4px;
    text-decoration: none;
    width: 496px;
    resize: none;
    font-size: 16px;
    line-height: 20px;
  }
}

.work_item_description {
  color: hsl(0, 0%, 36%);
}

.work_item_description_container_focus {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
  text-align: left;
  padding-bottom: 10px;
  .work_item_description {
    width: 496px;
    resize: vertical;
    height: 100px;
    border-color: hsl(202, 60%, 42%);
    cursor:text;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  .save_description_button {
    display: inline-block;
  }
  .save_description_close {
    display: inline-block;
  }
}

.save_description_button {
  display: inline-block;
  margin-right:10px;
  line-height: 30px;
  width: 75px;
  display: none;
}

.save_description_close {
  display: none;
  &:visited {
    color: $grey;
  }
  &:hover {
    color: hsl(345, 56%, 38%);
    text-decoration:none;
  }
}

.new_task_container {
  text-align: left;
  margin-left: 40px;
  .new_task {
    background: hsla(0, 0%, 0%, 0);
    border-color: hsla(0, 0%, 0%, 0);
    clear: both;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: hsl(0, 0%, 58%);
    display: block;
    height: 32px;
    margin-bottom: 4px;
    text-decoration: none;
    width: 100%;
    resize: none;
    font-size: 16px;
    line-height: 20px;
  }
}

.new_task_container_focus {
  text-align: left;
  margin-left: 40px;
  .new_task {
    width: 460px;
    resize: vertical;
    height: 68px;
    border-color: hsl(202, 60%, 42%);
    cursor:text;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  .add_task_button {
    display: inline-block;
  }
  .add_task_close {
    display: inline-block;
  }
}

.add_task_button {
  display: inline-block;
  margin-right:10px;
  line-height: 30px;
  width: 75px;
  display: none;
}

.add_task_close {
  display: none;
  &:visited {
    color: $grey;
  }
  &:hover {
    color: hsl(345, 56%, 38%);
    text-decoration:none;
  }
}

.check_item {
  position: relative;
  clear: both;
  margin: 0 0 4px 4px;
  padding: 0 0 4px 36px;
}

.checkbox {
  background: hsl(0, 100%, 100%);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.1);
  border: 1px solid hsl(0, 0%, 73%);
  border-bottom-color: hsl(0, 0%, 60%);
  border-top-color: hsl(0, 0%, 80%);
  font-weight: bold;
  position: absolute;
  left: 6px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  text-indent: 100%;
  top: 0;
  height: 16px;
  width: 16px;
  white-space: nowrap;
}

.check_item .checkbox:hover {
  background-color: hsl(0, 0%, 87%);
  -webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
  color: hsl(0, 0%, 58%);
  cursor: pointer;
  text-indent: 0;
  font-size: 13px;
  line-height: 5px;
}

.checkbox_complete {
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 73%);
  border-bottom-color: hsl(0, 0%, 80%);
  border-top-color: hsl(0, 0%, 60%);
  -webkit-box-shadow: 0 1px 0 hsl(0, 100%, 100%);
  box-shadow: 0 1px 0 hsl(0, 100%, 100%);
  text-indent: 0;
  font-size: 13px;
  line-height: 5px;
}

.task_complete {
  color: hsl(0, 0%, 58%);
  font-style: italic;
  text-decoration: line-through;
}

.void_agreement {
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: rgb(238,240,242);
  text-align: center;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.work_item_container {
  margin: 0;
}

.edit_work_item {
  margin-top: 20px;
  width: 394px;
}

.waiting {
  color:white;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.home_container {
  min-height:150px;
}

.fee_detail_container {
  padding-left:10px;
  ul {
    padding: 0;
  }
}

.fee_line_item {
  font-size: 12px;
  list-style-type: none;
}

.fee_amount {
  color: hsl(0, 0%, 0%);
  font-size: 20px;
  font-weight: bold;
}

.payment_methods_agreement_container {
  padding-left: 20px;
}

.proposed_services_container {
  max-height: 300px;
  border: 1px solid hsl(210, 20%, 98%);
  overflow-y: scroll;
  border-radius: 5px;
  background: hsl(0, 100%, 100%);
  p {
    margin:0;
    font-size: 16px;
  }
}

.agreement_header_helper {
  min-width: 250px;
}
.deliverable_info{
  font-size: 14px;
  text-align: right;
  color: $grey;
}
.tasks_meta{
  display: inline-block;
}
.tasks_meta.current{
  color: $green_light;
}
.show_details_button{
  display: inline-block;
}
.deliverable_title{
  color: $blue_light;
}

