/* LANDING INTRO
================================================================================ */


.intro_container {
  background: rgb(0,122,177) url(../img/shade-intro.png) repeat-x top;
  color: rgb(191,229,246);
  border-bottom: 1px solid rgb(0,122,177);
  padding: 20px 0 20px 0;
  color: rgb(205,230,240);
}

.benefit {
  border: 5px solid white;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 20px #555;
  display: block;
  margin: 20px 0 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.headline,
.subline,
.benefit_title {
  text-align: center;
  color: rgb(255,255,255);
}

.headline {
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  margin-bottom: 0;
}

.subline {
  font-family: "Museo-Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 0 18px 0;
}

.benefit_description {
  text-align: center;
}

.benefit_title {
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  margin: 20px 0 8px 0;
}