/* LANDING INTRO
================================================================================ */


.intro_container {
  background: $blue;
  border-bottom: 1px solid rgb(0,122,177);
  padding: 20px 0 20px 0;
  color: rgb(205,230,240);
}

.benefit {
  border: 5px solid white;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  display: block;
  margin: 20px 0 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  font-weight: 100;
}

.headline, .subline,
.benefit_title {
  text-align: center;
  color: rgb(255,255,255);
}

.subline {
  font-family: museo_sans;
  font-weight: 100;
  margin: 0 0 18px 0;
  font-size: 20px;
}

.benefit_container {
  width: 33%;
  float:left;
}

.benefit_description {
  text-align: center;
  font-weight: 300;
}

.benefit_title {
  font-size: 22px;
  font-weight: 100;
  margin: 20px 0 8px 0;
  font-family: museo_sans;
}

.benefits_container {
  width: 100%;
  overflow: hidden;
}

.signup_button_container {
  width: 300px;
  margin:0 auto;
  list-style-type: none;
  li {
    display: inline;
  }
  margin-top: 50px;
}

.landing_container {
  padding-top: 140px;
  height: 680px;
}

.explore_button_container {
  margin-left: 20px;
  width: 120px;
}

.landing_logo_container {
  padding-top: 20px;
  float:left;
  width: 42%;
  margin-left:40px;
}

.landing_admin_container {
  width: 50%;
  float: left;
}

.logo_white {
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 100%, 100%);
  background: hsla(0, 0%, 0%, 0) url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo-large.png) no-repeat left;
  padding-left: 90px;
  padding-top:10px;
  width: 300px;
  margin: 0 auto;
}

.headline_container {
  margin-bottom: 40px;
}