.action_button_container {
  margin: 10px 20px 10px 20px;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 0 0 0;
    margin: 0;
  }    
}

.button, .button:visited {
  display: block;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  color: $white;
  text-decoration: none;
  line-height: 38px;
  text-transform:uppercase;
  //background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  /*background-repeat: repeat-x;
  background-position: center;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; */

}

.button:hover {
  text-decoration:none;
  cursor: pointer;
  color: $white;
}

.action_button {
  background-color: $green_light;
  &:hover {
        background-color: $green_dark;
      }
}

.cancel {
  background-color: rgb(190,53,87);
  &:hover {
    background-color: rgb(151,42,69);
  }
}

.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: rgb(255,255,255);
  background-color: rgb(0,122,177);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: rgb(0,145,210);
}

.login_button {
  margin-top: 0;
  width: 200px;
  left: 50%;
  margin-left: -150px;
}


.submit-buttons {
  padding: 20px 0 0 0;
}

.submit-buttons a {
  display: block;
  float: left;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  color: rgb(255,255,255);
  text-decoration: none;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px 0 rgb(113,31,52);
  -webkit-box-shadow: 0 1px 2px rgb(100,100,100);
  -moz-box-shadow: 0 1px 2px rgb(100,100,100);
  box-shadow: 0 1px 2px rgb(100,100,100);
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
}

.submit-buttons a,
.submit-buttons a:visited {
  background-color: rgb(190,53,87);
}

.submit-buttons a:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

.submit-buttons a:hover, .submit-buttons a:active {
  background-color: rgb(151,42,69);
}

.button_container {
  width: 200px;
}

.send_button_container {
  width: 250px;
}

.request_payment_button_container {
  width: 350px;
}

.delete_method_button {
  width: 229px;
  margin-left: 20px;
  margin-top: 45px;
}