.action_button_container {
  margin: 10px 20px 10px 20px;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 0 0 0;
    margin: 0;
  }    
}

.button, .button:visited {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  color: rgb(255,255,255);
  text-decoration: none;
  line-height: 40px;
  background-image: url(../img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.button:hover {
  text-decoration:none;
  cursor: pointer;
}

.action_button {
  background-color: rgb(136,204,85);
  &:hover {
        background-color: rgb(122,183,76);
      }
}

.cancel {
  background-color: rgb(190,53,87);
  &:hover {
    background-color: rgb(151,42,69);
  }
}