

/* COPYRIGHT
================================================================================ */


#copyright p {
  margin: 0;
  padding: 20px;
  font-size: .75em;
  color: rgb(84,90,96);
  text-align: center;
}