

/* COPYRIGHT
================================================================================ */


.copyright {
  margin: 0;
  padding: 20px;
  font-size: 13px;
  color: rgb(84,90,96);
  text-align: center;
}

.copyright_login {
  bottom: 0;
}