.steps {
  background-color: rgb(238,240,242);
  color: rgb(100,100,100);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  float: right;
  padding: 0 10px;
}

.role_type {
	margin-left: 20px;
}

.create_milestone_container {
  padding-bottom:0;
}

.edit_helper {
  position: absolute;
  top: -47px;
  left: 19px;
}

.send_email {
  text-align: left;
}

.send_header {
  text-align: left;
}

.recipient_input {
  width: 338px;
}

.message_panel {
  left:30%;
}

.send_email_recipient {
  padding-top: 10px;
}

.personal_message_container {
  padding: 10px 0;
}

.review_container {
  padding: 20px;
}

.deposit_container {
  margin-bottom:20px;
}