.create_scope_item_container {
	margin-left: 40px;
	margin-top: 20px;
	list-style-type: none;
	width: 375px;
	padding-left: 0;
}

.create_scope_item {
	position: relative;
	border: 1px solid hsl(0,0,87%);
	padding: 5px;
	margin-bottom: 15px;
}

.create_scope_label {
	//padding: 5px;
	display: inline;
}

.create_scope_item_delete {
	color: $red;
	cursor: pointer;
	position:absolute;
	top: 5px;
	right: 10px;
	font-weight:bold;
	text-decoration:none;
	&:hover {
		color: $red;
		text-decoration:none;
	}
}

.add_work_item_error {
	color: $red;
	margin-left:40px;
}