.steps {
  background-color: rgb(238,240,242);
  color: rgb(100,100,100);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  float: right;
  padding: 0 10px;
}

.role_type {
	margin-left: 20px;
}

.create_milestone_container {
  padding-bottom:0;
}

.new_deliverable_container{
  display: inline-block;
}
.preview_container{
  display: inline-block;
  vertical-align: top;
}
.deliverable_preview_item{
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    border: 1px solid rgb(225,225,225);
    min-height: 50px;
    width: 400px;
    margin-left: 20px;
}
.deliverable_preview_item > ul{
  list-style: none;
}

.edit_helper {
  position: absolute;
  top: -47px;
  left: 19px;
}

.send_email {
  text-align: left;
}

.send_header {
  text-align: left;
}

.recipient_input {
  width: 338px;
}

.message_panel {
  left:30%;
}

.send_email_recipient {
  padding-top: 10px;
}

.personal_message_container {
  padding: 10px 0;
}

.review_container {
  padding: 20px;
}

.deposit_container {
  margin-bottom:20px;
}

.require_deposit_text {
  display:inline;
}

.progress_section {
  overflow:hidden;
  min-height: 100px;
}

.message_editor_container {
  width: 620px;
}

.progress_area {
  position: relative;
  float:right;
  width: 600px;
  margin-top:40px;

}