.steps {
  background-color: rgb(238,240,242);
  color: rgb(100,100,100);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  float: right;
  padding: 0 10px;
}

.role_type {
	margin-left: 20px;
}