.addMoreButton {
  width: 290px;
}

.add-more {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  background: url(/img/icons/add-16x16.png) no-repeat left;
}

.remove_icon {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  background: url(/img/icons/cross-16x16.png) no-repeat left;
}

.bottom_divider {
  border-bottom: 1px solid hsl(0, 0, 87%);
}