.discussion_container {
	border-radius: 5px;
	padding: 15px;
	height:	370px;
	margin: 0;
	margin-bottom: 10px;
	background: hsl(213, 18%, 98%);
	overflow: hidden;
	overflow-y: scroll;
	width: 745px;
	border:1px solid hsl(213, 18%, 88%);
}

.add_comment_container {
	clear: both;
	border: 1px solid hsl(213, 18%, 88%);
	padding: 15px;
	background: hsl(213, 18%, 98%);
	position:relative;
	padding-bottom:65px;
}

.inline {
	display: inline-block;
}

.enter_comment_input {
	width: 100%;
	height: 75px;
	border-radius: 5px;
	height: 90px;
}

.comment_action_container {
	float: right;
	height: 80px;
}

.comment_container {
	padding: 10px 0;
	min-height: 140px;
	margin-bottom: 20px;
}

.discussion_placeholder {
	text-align:center;
	color: hsl(0, 0%, 70%);
	text-align: center;
	line-height: 27px;
	color: hsl(0, 0%, 70%);
	font-size: 22px;
	margin-top: 90px;
}

.comment_date {
	font-size: 12px;
	color: hsl(0, 0%, 59%);
	line-height: 14px;
	text-align: right;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom: 1px solid hsl(0,0, 90%);
}

.comment_name {
	font-size: 12px;
	color: hsl(0, 0%, 11%);
	font-weight: 900;
	display: inline-block;
	line-height: 14px;
	margin-top: 10px;
}

.milestone_tag, .status_tag {
	padding: 0 5px;
	margin-left: 5px;
	margin-bottom:5px;
	border: 1px solid hsl(213, 65%, 88%);
	border-radius: 10px;
	background: hsl(210, 100%, 91%);
	font-weight: 100;
	font-family: museo;
	font-size: 14px;
	float:left;
}

.tag_container {
	position:relative;
	bottom:0;
}

.comment_body {
	font-weight: 100;
	padding: 0;
	padding-left:5px;
	margin:0;
	clear:both;
}

.send_comment {
	color: hsl(0, 100%, 100%);
	background: hsl(198, 100%, 43%);
	border-radius: 5px;
	padding: 10px 21px;
	position:absolute;
	right:15px;
	&:hover {
		color: white;
		text-decoration: none;
		background: $blue_text_dark;
	}
}

.comment_select_padding {
	margin-left: 10px;
}

.selectdiv{
	display: inline-block;
	width:175px;
	border: 1px solid hsl(0, 0%, 59%);
	height: 40px;
	background:url(http://i48.tinypic.com/2u7rpec.png) no-repeat right center;	
	border-radius:3px;
	cursor:pointer;
	position: relative;
	line-height: 40px;
	top: 15px;
	}

.selectdiv:hover, .selectdiv:focus {
	width: 175px;
	border: 1px solid hsl(198, 100%, 43%);
	height: 40px;
	background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
	border-radius:3px;
	cursor:pointer;
	}	

.out {
	z-index:-1;
	border:0px solid #000;
	height: 40px;
	overflow:hidden;
	padding: 1px 0px 0px 5px;
	cursor:pointer;
	}	

.selectboxdiv {
 	height: 40px;
    left: -10px;
    margin-top: 0;
    position: absolute;
    width: 175px;
    z-index: 2;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	cursor:pointer;
	margin-top: 10px;
	}

.active_select {
	border: 1px solid hsl(198, 100%, 43%);
}

.message_photo_container {
	text-align: center;
	border-radius:15px;
	width: 75px;
	margin: 0 auto;
}

.message_photo {
	width: 70px;
	border-radius: 20px;
}

.comment_post_info {
	position: relative;
	text-align: center;
	margin-top: -11px;
}

.personal_box {
	border-radius: 15px;
	/*border: 1px solid hsl(0, 0, 87%);*/
	padding: 0 10px;
	/*background: white;
	-webkit-box-shadow: 2px 1px 1px hsl(0, 0%, 83%);
	-moz-box-shadow: 2px 1px 1px hsl(0, 0%, 83%);
	box-shadow: 2px 1px 1px hsl(0, 0%, 83%);*/
}

.message_box {
	border-radius: 5px;
	border: 1px solid hsl(0, 0, 87%);
	padding: 10px 15px;
	width: 589px;
	min-height: 66px;
	margin: 0 auto;
	background: white;
	position: relative;
	-webkit-box-shadow: 2px 1px 1px hsl(0, 0%, 83%);
	-moz-box-shadow: 2px 1px 1px hsl(0, 0%, 83%);
	box-shadow: 2px 1px 1px hsl(0, 0%, 83%);
	p {
		margin: 0;
		padding: 0;
		padding-left:5px;
		font-weight: 100;
	}
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.messages_container {
	padding: 20px;
}

.tags_container {
	padding:15px;
	border: 1px solid hsl(213, 18%, 88%);
	background: hsl(213, 18%, 98%);
	height: 370px;
	font-weight:100;
}

.tags_title {
	margin-top:5px;
	margin-bottom:0;
	margin-right:5px;
	padding: 0;
}

.message_title {
	padding-left:0;
}

.enter_tags_container {
	position:absolute;
	margin-top: 10px;
}

.fa-tag {
	margin-right: 10px;
}

.add_tag {
	margin-left: 20px;
	&:hover{
		cursor:pointer;
	}
}


.added_tag {
	padding: 0 5px;
	border: 1px solid hsl(213, 65%, 88%);
	border-radius: 10px;
	background: hsl(210, 100%, 91%);
	font-weight: 100;
	font-family: museo;
	font-size: 14px;
	&:hover {
		cursor:pointer;
	}
}

.tag_filter {
	border-radius: 5px;
	padding: 2px 5px;
	margin: 2px 0;
	font-size:16px;
}

.tag_filter:hover {
	background: hsl(0, 0%, 60%);
	color: hsl(0, 100%, 100%);
	cursor: pointer;
}

.tag_filter_active {
	background: hsl(0, 0%, 60%);
	color: hsl(0, 100%, 100%);
}

.tag_active {
	color:white;
	background: hsl(210, 100%, 75%);
}

.new_tag_container {
	margin-left:15px;
}

.new_tag {
	font-weight:100;
	font-family: museo;
	font-size:16px;
	border:none;
	background:hsl(210, 20%, 90%);
	overflow:hidden;
	padding: 6px;
	border-radius:10px;
	&:focus {
		outline:none;
	}
	line-height: 16px
}

.new_added_tag {
	margin-left: 5px;
}




















