.discussion_container {
	border-radius: 5px;
	border: 1px solid hsl(0, 0%, 87%);
	width: 915px;
	padding: 20px;
	min-height:	150px;
	margin-left: 15px;
}

.add_comment_container {
	height: 300px;
	margin: 5px;
	padding: 10px
}

.inline {
	display: inline-block
}

.enter_comment_input {
	width: 100%;
	height: 230px;
	border-radius: 5px;
}

.comment_action_container {
	float: right;
}

.comment_container {
	padding:5px;
}

.comment_date {
	font-size: 12px;
	color: hsl(0, 0%, 59%);
}

.milestone_tag, .status_tag {
	font-family: Museo;
	font-weight: 100;
	font-size: 16px;
}

.milestone_tag {
	color: $green_dark;
}
.status_tag {
	color: $blue_text_dark;
}

.comment_body {
	font-weight: 300;
	margin-left: 90px;
}

.send_comment {
	color: hsl(0, 100%, 100%);
	background: hsl(198, 100%, 43%);
	border-radius: 5px;
	padding: 10px 21px;
	&:hover {
		color: white;
		text-decoration: none;
		background: $blue_text_dark;
	}
}

.comment_select_padding {
	margin-left: 10px;
}

.selectdiv{
	display: inline-block;
	width:175px;
	border: 1px solid hsl(0, 0%, 59%);
	height: 40px;
	background:url(http://i48.tinypic.com/2u7rpec.png) no-repeat right center;	
	border-radius:3px;
	cursor:pointer;
	position: relative;
	line-height: 40px;
	top: 15px;
	}

.selectdiv:hover, .selectdiv:focus {
	width: 175px;
	border: 1px solid hsl(198, 100%, 43%);
	height: 40px;
	background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
	border-radius:3px;
	cursor:pointer;
	}	

.out {
	z-index:-1;
	border:0px solid #000;
	height: 40px;
	overflow:hidden;
	padding: 1px 0px 0px 5px;
	cursor:pointer;
	}	

.selectboxdiv {
 	height: 40px;
    left: -10px;
    margin-top: 0;
    position: absolute;
    width: 175px;
    z-index: 2;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	cursor:pointer;
	}

.active_select {
	border: 1px solid hsl(198, 100%, 43%);
}

.discussion_photo {
	float: left;
	margin-right: 20px;
}

.comment_post_info {
	position: relative;
}
