/* FOOTER
================================================================================ */

.footer {
  background: hsl(0, 0%, 25%);
  border-top: 1px solid $grey_light;
  padding-bottom: 0;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  .footer_title {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-family: museo;
    padding:10px;
    border-right: 1px solid hsl(0, 0%, 30%);
    a {
      text-decoration: none;
      color: hsl(218, 13%, 88%);
      padding: 0;
      letter-spacing: 1px;
      border: none;
    }
  }
}

.landing_page_footer {
  background:hsl(0, 0%, 25%);
  width:100%;
}

.footer_title {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  font-family: museo;
  padding:30px;
  a {
    text-decoration: none;
    color: hsl(218, 13%, 88%);
    padding: 15px;
    padding-right: 45%;
    border-right: 1px solid hsl(0, 0%, 30%);
    letter-spacing: 1px;
  }
}

.footer_link {
  color: rgb(255,255,255);
  &:visited, &:active {
    color: rgb(255,255,255);
  }
}

.footer_link_container {
  margin-left: 0;
  list-style-type: none;
}

.landing_footer {
  background:hsl(0, 0%, 25%);
  width:100%;
  float:left;
}

.landing_footer_login {
  position:absolute;
  bottom: 60px;
}

.landing_footer_column_container {
  width: 960px;
  margin: 0 auto;
}

.landing_footer_column {
  width:25%;
  float:left;
}