/* MAIN Intro Header/ main action
================================================================================ */


.header {
  background-color: $blue_light;
  //color: rgb(191,229,246);
  border-bottom: 1px solid rgb(0,122,177);
  padding: 35px 50px 25px;
  h1 {
    color: white;
    margin:0;
    padding:0
  }
}

.empty_home {
  margin:60px 0;
  text-align: center;
  float:left;
  width:100%;
}

.home_header {
  padding: 35px 35px 20px 35px;
}