/* MAIN Intro Header/ main action
================================================================================ */


.intro {
  background-color: $blue_light;
  //color: rgb(191,229,246);
  border-bottom: 1px solid rgb(0,122,177);
  padding: 35px 50px 25px;
}

.intro h1 {
  color: rgb(255,255,255);
}

.intro p {
  line-height: 40px;
  margin-bottom: 10px;
}

.intro p span {
  color: rgb(255,255,255);
}

.empty_home {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}