/* INTERNAL   (Main)
================================================================================ */


.internal {
  background-color: rgb(223,245,255);
}

.internal ul {
  padding: 0;
  margin: 0;
}

.internal li {
  list-style: none;
  display: block;
  float: left;
}

.internal a {
  display: block;
  float: left;
  padding: 20px;
}

.internal .current a {
  background-color: rgb(255,255,255);
}

.current {
  color: hsl(210, 7%, 35%);
}