/* MAIN Intro Header/ main action
================================================================================ */


.intro {
  background-color: $blue_light;
  //color: rgb(191,229,246);
  border-bottom: 1px solid rgb(0,122,177);
  padding: 35px 50px 25px;
}

.header_title {
  color: white;
  margin:0;
  padding:0
}

.intro p {
  line-height: 40px;
  margin-bottom: 10px;
}

.intro p span {
  color: rgb(255,255,255);
}

.empty_home {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.home_header {
  background-color: hsl(200, 80%, 43%);
  border-bottom: 1px solid hsl(199, 100%, 35%);
  padding: 30px;
}