@media all and (max-width: 590px) {
  .landing_admin_container {
    width: 100%;
    float:none;
    margin: 0 auto;
    width: 200px;
    margin-top:20px;
  }

  .landing_footer_column {
    width:100%;
    float:none;
  }

  .footer_title a {
    border-right:none;
    border-bottom: 1px solid hsl(0, 0%, 30%);
    padding: 30px 10%;

  }

  .landing_logo_container {
    width: 219px;
    float:none;
    margin:0 auto;
  }

  .signup_button {
    width: 200px;
    padding: 8px 15px;
    margin-right:0;
    margin-top: 20px;
  }

  .landing_signup_button_container {
    clear:both;
    width: 200px;
    margin: 0;
  }

  .landing_footer {
    bottom: -356px;
  }
  .copyright {
    bottom: -480px;
  }

  .admin_nav {
    margin:0 auto;
    width: 192px;
    float:none;
  }

  .case_study_description {
    font-size: 14px;
  }

 /* .case_study_description_container {
    margin-top:-100px;
    top:200px;
  }

  #last_case_study {
    top: 275px;
    margin-top: -180px;
  } */

}

@media all and (min-width: 591px) and (max-width: 958px) {
  .signup_button {
    margin-top:20px;
    margin-right: 20px;
  }
  .landing_signup_button_container {
    clear:both;
    width: 200px;
    margin: 0;
  }
}

@media all and (max-width: 970px) {
    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 20px;
    }
}

@media all and (max-width: 775px) {
    .feature {
      width: 100%;
    }

    .small_workflow {
      width: 290px;
    }
}

@media all and (min-width: 591px) and (max-width: 775px) {
  .case_study_description_container {
      top:275px;
    }

  #last_case_study {
    top: 320px;
  }
}

@media all and (max-width: 837px) {
  .benefit {
    width: 90%;
    float: none;
    margin: 0 auto;
  }

  #right_benefit {
    margin: 0 auto;
    float:none;
  }

  .benefit_image_container img {
    width: 70%;
  }
  

}

@media all and (max-width: 1000px) {
  #agreement-progress-bar {
    display:none;
  }

  #workflow_description {
    display: none;
  }

  .small_workflow_container {
    display:block;
  }

  #how_to_headline {
    margin-bottom:40px;
  }

  #simple_workflow_title {
    clear: none;
    position:inherit;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    font-family:museo;
  }

  .features_container {
    width:80%;
  }

  .case_study img {
    width: 100%;
  }

  .workflow_hover_heading {
    color: hsl(38, 100%, 50%);
  }

}

// Pricing Page

@media all and (max-width: 515px) {
  .pricing_navigation {
    padding:15px;
  }
}

@media all and (max-width: 900px) {

  .pricing_landing_container {
    height: 900px;
  }

  #pricing_info_container {
    min-height: 783px;
  }

  .pricing_box_inside {
    margin-left: 0;
  }

  #pricing_toggle_container {
    max-width: 426px;
  }

  .pricing_box {
    margin:0 auto;
    float:none;
    width:377px;
    padding:0;
  }

  .pricing_benefits_box {
    margin:0 auto;
    float:none;
    width: 550px;
  }

  .pricing_landing_container {
    height:835px;
  }

  .pricing_start {
    margin-top: 40px;
    padding: 0;
  }

  .pricing_copyright {
    bottom: -100px;
  }

  .processing_description {
    width:100%;
    margin-bottom:40px;
    p {
      margin:0 auto;
    }
    h2 {
      text-align:center;
    }
  }

  .processing_costs {
    margin:0 auto;
    width: 310px;
    float:none;
    .helper_text {
      text-align:center;
    }
    p {
      text-align:center;
    }
  }
}

@media all and (min-width: 901px) and (max-width: 1290px)  {

  .pricing_box {
    width: 901px;
  }

  .pricing_box_inside {
    width:270px;
    h2 {
      text-align:center;
      font-size: 44px;
    }
  }

  .price_level {
    width:264px;
  }

  #pricing_toggle_container {
    max-width:900px;
  }

  .pricing_start {
    margin-top:50px;
  }
}

// about page

@media all and (max-width: 930px) {
  .about_half {
    width: 100%;
    margin: 20px auto;
    float: none;
  }
}
