/* CONTENT
================================================================================ */

#content {
  background-color: rgb(255,255,255);
  padding: 20px 0;
}

.features {
  margin: 0 0 15px 0;
}

.features li {
  background: transparent url(../img/thumb_up-16x16.png) no-repeat left;
  padding: 10px 10px 10px 25px;
  list-style: none;
  border-top: 1px solid rgb(245,245,245);
}

.create_account_form {
  position: relative;
  border: 1px solid #ddd;
  background-color: rgb(253,253,253);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 20px 10px;
}

.create_account_legend {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  color: rgb(0,0,0);
}

.secure {
  padding: 0 0 0 26px;
  background-image: url(../img/lock-16x16.png);
  background-repeat: no-repeat;
  background-position: left center;
}

fieldset {
  margin: 0;
  padding: 10px 0 0 0;
}

label {
  display: block;
  padding: 10px 0 5px 0;
  color: rgb(0,0,0);
  font-weight: bold;
}

.input-box {
  margin: 0;
  padding: 0;
}

.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgb(200,200,200);
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.text-field:focus {
  outline: none;
  border: 1px solid rgb(100,100,100);
}

.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: rgb(255,255,255);
  background-color: rgb(0,122,177);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-image: url(../img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: rgb(0,145,210);
}

.validation {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  color: red;
  text-align: right;
  font-weight: normal;
}

.border {
  border: 1px solid red !important;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.line {
  border-bottom: 1px solid rgb(184, 190, 196);
}

#what {
  display: block;
}

#introduction {
  display: block;
}

.box {
  border:1px solid black;
  margin:15px;
  padding:5px;
  width: 525px;
}

.title {
  color: black;
  background: #ddd;
  opacity: .5;
}

.title a:hover {
  color: black;
}

#log_out {
  display: none;
}

#server_error {
  color: red;
}

.invalid {
  padding-bottom: 25px;
}