/* LANDING INTRO
================================================================================ */


.intro_container {
  background: $blue_background;
  padding: 20px 0 20px 0;
  color: white;
}

.about_container {
  max-width: 900px;
  overflow: hidden;
  margin: 0 auto;
}

.landing_fixed_container {
  position:fixed;
  width:100%
}

.headline {
  font-weight: 100;
}

.headline, .subline,
.benefit_title {
  text-align: center;
  color: white;
}

.subline {
  font-family: museo_sans;
  font-weight: 100;
  margin: 0 0 18px 0;
  font-size: 20px;
}

.benefit_description {
  text-align: center;
  font-weight: 300;
}

.signup_button_container {
  width: 300px;
  margin:0 auto;
  list-style-type: none;
  li {
    display: inline;
  }
  margin-top: 50px;
}

.login_button {
  padding: 8px 60px;
  border: 3px solid $blue;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  text-transform: capitalize;
  &:hover {
    border: 3px solid $orange;
  }
}

.landing_container {
  padding-top: 66px;
  /*height: 980px;*/
  min-height:980px;
}

.explore_button_container {
  margin-left: 20px;
  width: 120px;
}

.landing_logo_container {
  float:left;
  width: 42%;
  margin-left:40px;
  padding: 5px 0;
}

.landing_admin_container {
  width: 50%;
  float: left;
}

.logo_white {
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 100%, 100%);
  background: hsla(0, 0%, 0%, 0) url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo-large.png) no-repeat left;
  padding-left: 90px;
  padding-top:10px;
  width: 300px;
  margin: 0 auto;
}

.headline_container {
  margin-bottom: 40px;
}

.left_background {
  background: hsla(0, 0%, 0%, 0);
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  width: 970px;
  margin-top: 60px;
}

.right_background {
  //position:absolute;
  width:50%;
  //height:100%;
  //top:0;
  //right:0;
  background: hsl(199, 78%, 46%);
}

/* Landing Images */

.fr_scene_01 {
  width: 550px;
  position: absolute;
  top: 209px;
  right: 50px;
}

.fr_01_agreement {
  width: 147px;
  position: absolute;
  top: 391px;
  right: 211px;
  z-index: 2;
}

.fr_2_track {
  width: 236px;
  position: absolute;
  top: 427px;
  right: 163px;
  z-index: 2;
}

.fr_3_invoice {
  width: 236px;
  position: absolute;
  top: 431px;
  right: 169px;
  z-index: 2;
}


.invoice_connect {
  width: 398px;
  position: absolute;
  top: 449px;
  right: -225px;
  z-index: 1;
}

.cl_1_agreement {
  width: 250px;
  position: absolute;
  top: 373px;
  left: 242px;
}

.cl_2_track {
  width: 110px;
  position: absolute;
  top: 373px;
  left: 242px;
}

.cl_3_invoice {
  width: 250px;
  position: absolute;
  top: 394px;
  left: 242px;
}

.feature1 {
  font-size: 40px;
  font-family: museo;
  color: hsl(0, 100%, 100%);
  line-height: 64px;
  width: 900px;
  position: absolute;
  bottom: 30px;
  opacity: 1;
  margin-left: -372px;
  margin-bottom: 63px;
}

.feature2 {
  font-size: 40px;
  font-family: museo;
  color: hsl(0, 100%, 100%);
  line-height: 64px;
  width: 900px;
  position: absolute;
  bottom: 30px;
  opacity: 1;
  margin-left: -241px;
  margin-bottom: 63px;
}

.feature3 {
  font-size: 40px;
  font-family: museo;
  color: hsl(0, 100%, 100%);
  line-height: 64px;
  width: 900px;
  position: absolute;
  bottom: 30px;
  opacity: 1;
  margin-left: -319px;
  margin-bottom: 63px;
}

.learn_more {
  font-size: 40px;
  font-family: museo;
  color: hsl(0, 100%, 100%);
  line-height: 64px;
  width: 900px;
  position: absolute;
  bottom: 30px;
  opacity: 1;
  margin-left: -450px;opacity: 1;
  margin-bottom: 30px;
}

.navigation{
  padding: 60px;
}

.pricing_navigation {
  padding: 60px;
}

/* Legal Page */

.faqcontent {
  padding: 23px 40px;
  width: 630px;
  float: right;
  p {
    color:black;
  }
  ul li {
    color:black;
  }
}

.legal_tab {
  width: 250px;
}

.legal_menu {
  float:left;
}

.legal_menu:first-child {
  margin-right:20px;
}

.legal_page_title {
  text-align:center;
  margin-bottom: 20px;
}

.faqnav {
  background: hsl(0, 0%, 96%);
  padding: 20px;
  width: 283px;
}

.title {
  font-size:24px;
  font-family:museo;
  font-weight:300;
  line-height:30px;
  color:$orange;
}

.column-one-fourth{
  clear: left;
  margin-top: 30px;
}

/* New Landing 4/14/14 */

#create, #update, #invoice, #process, #receive {
  display:none;
  border: 2px solid hsl(0, 100%, 100%);
  padding: 30px;
  max-width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  background: hsl(198, 100%, 39%);
  padding-bottom:10px;
  margin-top: -640px;
}

.on {
  border-bottom-color: hsl(95, 56%, 57%) !important;
  &:after {
    border-top-color: hsl(95, 56%, 57%) !important;
  }
  h2 {
    color:$orange;
  }
}

.workflow_hover_heading {
  color:white;
  margin-bottom:10px;
  text-align:center;
  font-family:museo_sans;
}

.timeline_label {
  color: hsl(0, 100%, 100%);
  font-family: museo;
  position: absolute;
  font-size: 25px;
  width: 310px;
  text-transform: capitalize;
}

.workflow_step {
  background: hsl(0, 100%, 100%);
  float: left;
  width: 180px;
  padding: 2px;
  position: relative;
  left: -48px;
  top: -193px;
}

.case_study img {
  opacity: .7;
  max-width:900px;
  border: 2px solid hsl(199, 96%, 35%);
}

.case_study_description_container {
  position: relative;
  margin-top: -195px;
  top: 390px;
  z-index: 1;
}

.case_study_description {
  max-width: 500px;
  margin: 0 auto;
  font-style:italic;
}

.case_study_name {
  color:$orange;
  font-size:18px;
  font-weight: 100;
  margin-top: 20px;
}

.case_study_title {
  font-size: 14px;
}

.benefit_image_container {
  width: 100%;
  text-align: center;
  margin:0;
  img {
    width: 500px;
    border: 2px solid hsl(199, 96%, 35%);
  }
}

.benefit {
  width:35%;
  float:left;
  margin-top:100px;
}

.benefit_container {
  max-width:900px;
  margin:40px auto;
  float:none;
}

.section_headline {
  text-align:center;
  background:hsl(0,0%,0%);
  color:hsl(0,0%,60%);
  padding:20px;
  margin: 80px 0;
  float: left;
  width: 100%;
}

.benefit_title {
  font-weight: 100;
  margin: 20px 0 30px 0;
  font-family: museo_sans;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size:24px;
  line-height: 32px;
}

.benefit_divider {
  width:100%;
  height:4px;
  background:hsl(199, 96%, 35%);
  margin:20px 0;
}

.features_container {
  max-width:900px;
  margin:0 auto;
  overflow:hidden;
}

.feature {
  width:30%;
  float:left;
  margin:10px;
}

.feature_type {
  font-weight:900;
  text-align:center;
  letter-spacing:1px;
}

.feature_title {
  margin-bottom:10px;
  text-align: center;
  color: hsl(38, 100%, 50%);
  margin-top: 20px;
  font-family: museo_sans;
}

.feature_description {
  text-align:center;
  color: $blue;
}