/* LANDING INTERNAL
================================================================================ */


.sub_navigation {
  background: #CEEAF3;
  border-top: 1px solid white;
  background: rgb(220,224,228) url(../img/bg.png);
  border-bottom: 1px solid rgb(184,190,196);
}

.sub_navigation ul {
  padding: 0;
  margin: 0;
}

.sub_navigation li {
  list-style: none;
  display: block;
  float: left;
  /*outline: 1px solid white;*/
}

.sub_navigation a {
  display: block;
  float: left;
  padding: 20px;
  font-weight: bold;
}

.sub_navigation ul li.current a {
  outline: 1px solid white;
  background: rgb(255,255,255);
  outline: 1px solid white;
}