.faqnav {
  font-size: 14px;
  font-family: museo;
  list-style-type: none;
  padding: 0px;
  background: white;
  margin: 20px 0px 0px 20px;
  position: fixed;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #ddd;
}

.faqnav li {
  padding: 5px 10px;
  width:285px;
  overflow: hidden;
}

.faqnav a {
  width: 100%;
  padding: 10px 235px;
  margin:0px -235px;
  &:hover {
    text-decoration: none;
    color: #0072a3;
  }
}

.faqcontent {
  width: 600px;
  min-height: 700px;
  margin-left: 350px;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.faqcontent li {
  width: 500px;
}

.faqnav .current {
  background: rgb(0,153,221);
  color: white;
}

.faqnav .current a {
  color: white;
  background: hsl(198, 100%, 43%);
}

div.faqcontent h2 {
  font-family: museo;
  width: 550px;
}

.box {
  border:1px solid black;
  margin:15px;
  padding:5px;
  width: 525px;
}


.section {
  display: none;
  &:first-child {
    display:block;
  }
}

.fixed {
  position: fixed;
  bottom: 0;
}

.title {
  color: black;
  background: #ddd;
  opacity: .5;
  a:hover {
    color: black;
  }
}

.legal_tab {
  margin-top: 10px;
  ul {
    margin:0;
  }
  li {
    display: inline;
    margin-right:20px;
  }
}

.legal_active, .legal_active:visited {
  color: hsl(198, 100%, 26%);
}

.fixed_bottom{
    position:absolute;
    bottom:27px;
}