.form_holder {
  border: 1px solid #ddd;
  background-color: rgb(253,253,253);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin: 0;
  margin-left: -160px;
  padding: 20px 10px;
  position: relative;
  text-align: left;
}

.form_holder_layout {
  float: left;
  width: 360px;
}

.login_form_container {
  padding-left:50%;
}

.forgot_password {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

.login_screen_title {
  margin: 0;
  padding: 0;
}

.forgot_password_button {
  margin-top: 5px;
}

.forgot_password_form {
  height: 260px;
  width: 350px;
}

.login_helper {
  line-height: 16px;
  margin-bottom: 0px;
}

.other_login {
  margin-bottom: 20px;
}

.email_screen_title {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.email_button {
  margin: 0 auto;
  margin-top: 20px;
  float: none;
}

#mce-EMAIL{
  border-radius: 3px;
  width: 200px;
  margin: 0 auto;
}

#mc_embed_signup {
  text-align:center;
}

.email_helper {
  text-align:center;
}

.email_confirm {
  text-align:center;
}