
.cover {
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    	z-index: 10;
}

.cover > * {
    -webkit-transform: translateZ(0px);
}

.cover {
    background: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
    zoom: 1;
}



.panel {
	width: 550px;
	margin: 16% auto;
	background: hsl(0, 0%, 87%);
	padding: 35px;
	background: hsl(0, 0%, 98%);
	background-image: -webkit-linear-gradient(hsl(0, 100%, 100%), hsl(0, 0%, 98%));
	background-image: -moz-linear-gradient(white, #fafafa);
	background-image: -ms-linear-gradient(white, #fafafa);
	background-image: -o-linear-gradient(white, #fafafa);
	background-image: linear-gradient(hsl(0, 100%, 100%), hsl(0, 0%, 98%));
	z-index: 10;
	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 1px 1px hsla(0, 0%, 0%, 0.2), 0 10px 27px hsla(0, 0%, 0%, 0.7);
	box-shadow: 0 0 1px 1px hsla(0, 0%, 0%, 0.2), 0 10px 27px hsla(0, 0%, 0%, 0.7);
	overflow:hidden;
}

.overlay {
	top: 0;
	left:0;
	height:100%;
	width:100%;
	z-index: 10;
}

.line_item_container {
	list-style: none;
	text-align: right;
}

.line_item_title {
	display: inline-block;
	margin-right: 10px;
}

.line_item_title_small {
	font-size: 12px;
	font-weight: normal;
}

.line_item {
	color:black;
	font-size: 20px;
	font-weight: bold;
}

.line_item_total {
	font-size:20px;
}

.pay_header_container {
	padding-bottom: 40px;
	text-align:left;
	overflow: hidden;
}

.pay_header {
	padding: 0;
	margin-bottom:0;
	text-align:center;
}

.pay_header_helper {
	text-align:left;
}

.pay_milestone {
	margin-bottom: 10px;
	text-align:left;
}

.pay_button {
  width: 340px;
}

.reject_button {
	margin-top: 20px;
	width: 308px;
}

.payment_select_container {
	list-style: none;
	font-size: 14px;
	text-align:left;
	li {
		margin-bottom: 10px;
		padding-top: 15px;
	}
	background: hsl(213, 18%, 88%);
	max-height: 187px;
	overflow-y: scroll;
	-moz-box-shadow: inset 0 0 5px hsl(213, 18%, 68%);
	-webkit-box-shadow: inset 0 0 5px hsl(213, 18%, 68%);
	box-shadow: inset 0 0px 5px hsl(213, 18%, 68%);
	margin-left: 0;
}

.first_select_info {
	display: inline-block;
}

.payment_select_info {
	margin: 0;
	padding: 0;
	display:inline-block;
}

.account_select_info {
	margin-left: 22px;
	margin-bottom: 0;
	padding: 0;
	display: block;
}

.close {
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 5px;
	cursor: pointer;
	font-family: Museo;
	text-transform: uppercase;
	font-size: 20px;
	color: $orange;
}