.noscriptmsg p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: rgb(220,224,228) url(https://d3kq8dzp7eezz0.cloudfront.net/img/bg.png);
  padding:20px;
  top:25%;
  z-index: 5;
}

.hidden {
  display: none;
}