// Notifications

.notification_container {
	position: absolute;
	width:880px;
	margin-top: -8px;
	margin-left:40px;
}

.account_notification_container {
	width: 266px;
	bottom: 3px;
	margin-left: 300px;
	margin-left: 460px;

}

.message_notification_container {
	width: 266px;
	margin-top: 8px;
	margin-left: 140px;
}

.notification_text {
	color: hsla(0, 0, 100%, .7);
	background: hsla(94, 43%, 51%, 0.8);
	text-align: center;
	border-radius: 5px;
	padding: 2px 0px;
}

.password_saved {
	margin-top: -2px;
}

.personal_saved {
	margin-top: -2px;
}

.credit_card_saved {
	margin-top: 36px;
}

.bank_account_saved {
	margin-top: 36px;
}

.agreement_notification {
	margin-top: -52px;
}
