#popup_container {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display:none;
	z-index:10;
}


.panel {
	width: 400px;
	position: relative;
	background: hsl(0, 0%, 87%);
	border-radius: 5px;
	padding: 20px;
	top: 50px;
	left: 50%;
	margin-left: -200px;
	height: auto;
	background: hsl(0, 0%, 98%);
	background-image: -webkit-linear-gradient(hsl(0, 100%, 100%), hsl(0, 0%, 98%));
	background-image: -moz-linear-gradient(white, #fafafa);
	background-image: -ms-linear-gradient(white, #fafafa);
	background-image: -o-linear-gradient(white, #fafafa);
	background-image: linear-gradient(hsl(0, 100%, 100%), hsl(0, 0%, 98%));
	z-index: 10;
	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 1px 1px hsla(0, 0%, 0%, 0.2), 0 10px 27px hsla(0, 0%, 0%, 0.7);
	box-shadow: 0 0 1px 1px hsla(0, 0%, 0%, 0.2), 0 10px 27px hsla(0, 0%, 0%, 0.7);
}

.cover {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: hsl(0, 0%, 0%);
	background: hsla(0, 0%, 0%, 0.6);
	background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, hsla(0, 0%, 0%, 0.45) 1%, hsla(0, 0%, 0%, 0.8) 100%);
	background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
	background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
	background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
}

.overlay {
	top: 0;
	left:0;
	height:100%;
	width:100%;
	z-index: 10;
}

.line_item_container {
	list-style: none;
	text-align: right;
}

.line_item_title {
	display: inline-block;
	margin-right: 10px;
}

.line_item_title_small {
	font-size: 12px;
	font-weight: normal;
}

.line_item {
	color:black;
	font-size: 20px;
	font-weight: bold;
}

.line_item_total {
	font-size:20px;
}

.pay_header_container {
	padding-bottom: 40px;
	text-align:left;
}

.pay_header {
	padding: 0;
	margin-bottom:0;
	text-align:left;
}

.pay_header_helper {
	text-align:left;
}

.pay_milestone {
	margin-bottom: 10px;
}

.pay_button {
  width: 340px;
}

.reject_button {
	margin-top: 20px;
	width: 308px;
}

.payment_select_container {
	list-style: none;
	font-size: 14px;
	text-align:left;
	li {
		margin-bottom: 10px;
	}
	background: hsl(213, 18%, 88%);
	max-height: 130px;
	overflow-y: scroll;
	-moz-box-shadow: inset 0 0 5px hsl(213, 18%, 68%);
	-webkit-box-shadow: inset 0 0 5px hsl(213, 18%, 68%);
	box-shadow: inset 0 0px 5px hsl(213, 18%, 68%);
	margin-left: 20px;
}

.first_select_info {
	display: inline-block;
}

.payment_select_info {
	margin: 0;
	padding: 0;
	display:inline-block;
}

.account_select_info {
	margin-left: 22px;
	margin-bottom: 0;
	padding: 0;
	display: block;
}

.close {
	position:absolute;
	right:10px;
	top: 10px;
	padding:5px;
	border: 1px solid hsl(0, 0, 87%);
	cursor: pointer;
}
