.price_level_container {
	clear:both;
	p {
		margin-bottom: 10px;
		font-weight:300;
		max-width: 430px;
	}
	width: 930px;
	margin: 0 auto;
}

.price_level {
	//border: 1px solid black;
	h2 {
		font-weight: 400;
		margin-top:10px;
		font-family: museo_sans;
	}
	background: $grey_blue;
	border: 1px solid hsl(213, 18%, 80%);
	border-radius: 3px;
	width: 300px;
	float:left;
	margin: 5px;
}

.fees_intro_p {
	font-weight: 300;
}
.receive_text {
	font-size: 16px;
	color:$grey;
	font-weight: normal;
	color: hsl(0, 0%, 39%);
}

.pay_text {
	font-size: 16px;
	color: $grey;
	font-weight: normal;
	color: hsl(0, 0%, 39%);
}

.processing_container {
	p {
		margin-bottom: 10px;
		font-weight:300;
		max-width: 430px;
	}
}

.processing_description, .processing_costs {
	float:left;
	width: 480px;
}

.processing_costs {
	margin-top: 60px;
}

.signup_button_container {
	float: left;
	margin: 20px;
	clear: both;
}