/* Sub- Navigation 
================================================================================ */


.sub_navigation {
  background-color: rgb(223,245,255);
}

.sub_navigation_container {
  padding: 0;
  margin: 0;
}

.sub_navigation_tab {
  list-style: none;
  display: block;
  float: left;
}

.sub_navigation_link {
  display: block;
  float: left;
  padding: 20px;
  color: hsl(198, 100%, 43%);
}

.current a {
  background: rgb(255,255,255);
  color: hsl(198, 100%, 43%);
}