<div>
	<input class="amount" contenteditable ${{amount}} value="${{amount}}" style="display:inline-block;width:214px;">
	<input contenteditable style="display:inline-block;" value="{{title}}" class="title">
	{{#if dateExpected}} on {{dateFormat dateExpected}}{{/if}}
</div>
<input class="edit_work_item" type="text" name="" value="" placeholder="Add work item" id="" size="50">
<ul class="scope_items_container create_scope_item_container"></ul>
<fieldset class="removeButton">
	<p class="remove_icon">
		<a>Remove milestone</a>
	</p>
</fieldset>