/* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* RESET
================================================================================ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../scss/bases/_common.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 27, ../scss/bases/_common.scss */
body {
  line-height: 1.5em;
  background: white;
}

/* line 32, ../scss/bases/_common.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../scss/bases/_common.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/bases/_common.scss */
table {
  border-spacing: 0;
}

/* Typography
================================================================================ */
/* line 51, ../scss/bases/_common.scss */
body {
  text-align: left;
  font-family: museo_sans;
  background: #dce0e4 url(/img/bg.png) fixed;
  color: #636363;
  font-size: 16px;
  font-weight: 300;
}

/* line 61, ../scss/bases/_common.scss */
a,
a:visited {
  text-decoration: none;
  color: #008bc7;
  text-transform: uppercase;
}

/* line 68, ../scss/bases/_common.scss */
a:hover,
a:active {
  text-decoration: underline;
  color: #ffa200;
  cursor: pointer;
  text-decoration: none;
}

/* line 75, ../scss/bases/_common.scss */
p {
  padding: 0;
  margin-bottom: 20px;
  font-family: museo_sans;
  font-size: 16px;
}

/* line 82, ../scss/bases/_common.scss */
ul {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  list-style: none;
}

/* line 90, ../scss/bases/_common.scss */
strong {
  font-weight: bold;
}

/* line 94, ../scss/bases/_common.scss */
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: museo;
}

/* line 100, ../scss/bases/_common.scss */
h2, h3 {
  color: #008bc7;
}

/* line 104, ../scss/bases/_common.scss */
h1 strong, h2 strong {
  font-weight: 500;
}

/* line 108, ../scss/bases/_common.scss */
h1 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
}

/* line 114, ../scss/bases/_common.scss */
h2 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}

/* line 120, ../scss/bases/_common.scss */
h3 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 127, ../scss/bases/_common.scss */
h4 {
  color: #4a9bc9;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  font-family: museo_sans;
}

/* Forms
================================================================================ */
/* line 139, ../scss/bases/_common.scss */
form {
  padding: 0;
}

/* line 143, ../scss/bases/_common.scss */
label {
  display: block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #4a9bc9;
}

/* line 151, ../scss/bases/_common.scss */
input {
  max-width: 350px;
}

/* line 155, ../scss/bases/_common.scss */
input, textarea {
  border: 1px solid #969696;
  padding: 3px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 100%;
  font: inherit;
  color: #636363;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 10px;
}

/* line 168, ../scss/bases/_common.scss */
input[disabled] {
  color: #646464;
  border: 1px solid #c8c8c8;
  background-color: whitesmoke;
}

/* line 175, ../scss/bases/_common.scss */
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin-right: 5px;
}

/* line 180, ../scss/bases/_common.scss */
select {
  margin: 0 10px 0 0;
  width: 140px;
}

/* line 185, ../scss/bases/_common.scss */
fieldset {
  padding: 0 0 20px 0;
  width: 100%;
}

/* line 190, ../scss/bases/_common.scss */
td {
  border-top: 1px solid whitesmoke;
  padding: 15px 0 0 0;
}

/* COMMON UI classes
================================================================================ */
/* line 198, ../scss/bases/_common.scss */
.green {
  color: #87cf54;
}

/* line 202, ../scss/bases/_common.scss */
.orange {
  color: #ffa200 !important;
}

/* line 206, ../scss/bases/_common.scss */
.white {
  color: white;
}

/* line 210, ../scss/bases/_common.scss */
.white_background {
  background: white;
  position: relative;
}

/* line 215, ../scss/bases/_common.scss */
.bold_text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  color: #636363;
}

/* line 222, ../scss/bases/_common.scss */
.italic_text {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}

/* line 228, ../scss/bases/_common.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 232, ../scss/bases/_common.scss */
.sub_text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  font-family: museo_sans;
  font-style: normal;
}

/* line 240, ../scss/bases/_common.scss */
.layout_container {
  min-height: 150px;
  padding: 30px;
}

/* line 245, ../scss/bases/_common.scss */
.main_content_container {
  -moz-box-shadow: 0px 3px 5px 3px #CDCED3;
  -webkit-box-shadow: 0px 3px 5px 3px #CDCED3;
  box-shadow: 0px 3px 5px 3px #CDCED3;
  background-color: white;
}

/* line 252, ../scss/bases/_common.scss */
.hide {
  display: none;
}

/* line 255, ../scss/bases/_common.scss */
.inline_block {
  display: inline-block;
}

/* line 258, ../scss/bases/_common.scss */
.no_bullet {
  list-style: none;
}

/* line 262, ../scss/bases/_common.scss */
.checkmark {
  background-image: url("/img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0px 4px;
}

/* line 270, ../scss/bases/_common.scss */
.helper_text {
  display: block;
  font-size: 12px;
  color: gray;
  margin: 0 0 10px 0;
  text-align: left;
  font-weight: 500;
}

/* line 279, ../scss/bases/_common.scss */
.secure:before {
  content: url(/img/lock-16x16.png);
  padding: 5px;
}

/* line 284, ../scss/bases/_common.scss */
.divider {
  border-bottom: 1px solid #c7e0e4;
  margin: 0 auto;
  width: 100%;
}

/* line 289, ../scss/bases/_common.scss */
.divider_left {
  border-left: 1px solid #c7e0e4;
}

/* line 292, ../scss/bases/_common.scss */
.divider_right {
  border-right: 1px solid #c7e0e4;
}

/* line 296, ../scss/bases/_common.scss */
.center_text {
  text-align: center;
}

/* line 301, ../scss/bases/_common.scss */
.required {
  color: #ffa200;
  display: inline;
}

/* line 306, ../scss/bases/_common.scss */
.hide_overflow {
  overflow: hidden;
}

/* line 310, ../scss/bases/_common.scss */
.gutter {
  margin-left: 40px;
}

/* line 313, ../scss/bases/_common.scss */
.right_align {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 318, ../scss/bases/_common.scss */
.fa.fa-check-circle {
  color: #87cf54;
  margin-left: -1.1em;
}

/* line 323, ../scss/bases/_common.scss */
.fa-check {
  color: #87cf54;
  margin-left: -1.1em;
}

/* line 328, ../scss/bases/_common.scss */
.fa-check.task_check {
  color: inherit;
  margin-left: 0;
  position: relative;
  top: -2px;
  left: -1px;
  font-size: 16px;
}

/* line 337, ../scss/bases/_common.scss */
.checkmark_holder {
  position: relative;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo100-italic-webfont.eot");
  src: url("/css/fonts/museo100-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo100-italic-webfont.woff") format("woff"), url("/css/fonts/museo100-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo100-italic-webfont.svg#museo100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo100-regular-webfont.eot");
  src: url("/css/fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo100-regular-webfont.woff") format("woff"), url("/css/fonts/museo100-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo300-italic-webfont.eot");
  src: url("/css/fonts/museo300-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo300-italic-webfont.woff") format("woff"), url("/css/fonts/museo300-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo300-italic-webfont.svg#museo300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo300-regular-webfont.eot");
  src: url("/css/fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo300-regular-webfont.woff") format("woff"), url("/css/fonts/museo300-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo500-italic-webfont.eot");
  src: url("/css/fonts/museo500-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo500-italic-webfont.woff") format("woff"), url("/css/fonts/museo500-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo500-italic-webfont.svg#museo500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo500-regular-webfont.eot");
  src: url("/css/fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo500-regular-webfont.woff") format("woff"), url("/css/fonts/museo500-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo700-italic-webfont.eot");
  src: url("/css/fonts/museo700-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo700-italic-webfont.woff") format("woff"), url("/css/fonts/museo700-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo700-italic-webfont.svg#museo700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo700-regular-webfont.eot");
  src: url("/css/fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo700-regular-webfont.woff") format("woff"), url("/css/fonts/museo700-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo900-italic-webfont.eot");
  src: url("/css/fonts/museo900-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo900-italic-webfont.woff") format("woff"), url("/css/fonts/museo900-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo900-italic-webfont.svg#museo900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo900-regular-webfont.eot");
  src: url("/css/fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo900-regular-webfont.woff") format("woff"), url("/css/fonts/museo900-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_100_italic-webfont.eot");
  src: url("/css/fonts/museosans_100_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_100_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_100_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_100_italic-webfont.svg#museo_sans100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_100-webfont.eot");
  src: url("/css/fonts/museosans_100-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_100-webfont.woff") format("woff"), url("/css/fonts/museosans_100-webfont.ttf") format("truetype"), url("/css/fonts/museosans_100-webfont.svg#museo_sans100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_300_italic-webfont.eot");
  src: url("/css/fonts/museosans_300_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_300_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_300_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_300_italic-webfont.svg#museo_sans300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_300-webfont.eot");
  src: url("/css/fonts/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_300-webfont.woff") format("woff"), url("/css/fonts/museosans_300-webfont.ttf") format("truetype"), url("/css/fonts/museosans_300-webfont.svg#museo_sans300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_500_italic-webfont.eot");
  src: url("/css/fonts/museosans_500_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_500_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_500_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_500_italic-webfont.svg#museo_sans500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_500-webfont.eot");
  src: url("/css/fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_500-webfont.woff") format("woff"), url("/css/fonts/museosans_500-webfont.ttf") format("truetype"), url("/css/fonts/museosans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_700_italic-webfont.eot");
  src: url("/css/fonts/museosans_700_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_700_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_700_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_700_italic-webfont.svg#museo_sans700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_700-webfont.eot");
  src: url("/css/fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_700-webfont.woff") format("woff"), url("/css/fonts/museosans_700-webfont.ttf") format("truetype"), url("/css/fonts/museosans_700-webfont.svg#museo_sans700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_900_italic-webfont.eot");
  src: url("/css/fonts/museosans_900_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_900_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_900_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_900_italic-webfont.svg#museo_sans900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_900-webfont.eot");
  src: url("/css/fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_900-webfont.woff") format("woff"), url("/css/fonts/museosans_900-webfont.ttf") format("truetype"), url("/css/fonts/museosans_900-webfont.svg#museo_sans900") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* FORMS
================================================================================ */
/* line 4, ../scss/components/_forms.scss */
.action {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: .75em;
}

/* line 12, ../scss/components/_forms.scss */
.security-detail {
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 30px;
  font-size: .875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke url(https://d3kq8dzp7eezz0.cloudfront.net/img/lock.png) no-repeat 1% 50%;
}

/*.checkbox {
  border: none;
  margin: 0;
  padding: 5px 0;
}*/
/* line 30, ../scss/components/_forms.scss */
.upload {
  border: none;
}

/* line 1, ../scss/components/_form_feedback.scss */
.server_error {
  color: red;
}

/* line 5, ../scss/components/_form_feedback.scss */
.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

/* line 12, ../scss/components/_form_feedback.scss */
.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

/* line 18, ../scss/components/_form_feedback.scss */
.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type: none;
}

/* line 25, ../scss/components/_form_feedback.scss */
.parsley-error-list li {
  line-height: 11px;
}

/* line 29, ../scss/components/_form_feedback.scss */
.error {
  color: #B94A48;
  text-align: center;
  margin-bottom: -20px;
}

/* line 35, ../scss/components/_form_feedback.scss */
.valid {
  color: #468847;
  text-align: center;
  margin-bottom: -20px;
}

/* line 1, ../scss/components/_flying_focus.scss */
#flying-focus {
  position: absolute;
  margin: 0;
  background: transparent;
  -webkit-transition-property: left, top, width, height;
  transition-property: left, top, width, height;
  -webkit-transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
  transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 2px;
}

/* line 13, ../scss/components/_flying_focus.scss */
#flying-focus.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}

/* line 17, ../scss/components/_flying_focus.scss */
.flying-focus_target {
  outline: none !important;
  /* Doesn't work in Firefox :( */
}

/* http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319 */
/* line 21, ../scss/components/_flying_focus.scss */
.flying-focus_target::-moz-focus-inner {
  border: 0 !important;
}

/* Replace it with @supports rule when browsers catch up */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 26, ../scss/components/_flying_focus.scss */
  #flying-focus {
    box-shadow: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -3px;
  }
}
/* Top Navigation - Common
================================================================================ */
/* line 3, ../scss/components/_navigation.scss */
.navigation {
  min-height: 67px;
}

/* line 7, ../scss/components/_navigation.scss */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/components/_navigation.scss */
.navigation li {
  float: left;
}

/* line 17, ../scss/components/_navigation.scss */
.admin_nav li {
  float: right;
}

/* line 21, ../scss/components/_navigation.scss */
.logo {
  font-family: museo;
  font-size: 24px;
  font-weight: 100;
  line-height: 38px;
  height: 35px;
  padding: 0;
  margin: 0;
  background: transparent url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo.png) no-repeat left;
  color: black;
  display: block;
  padding-left: 70px;
  text-decoration: none;
  width: 210px;
  text-transform: capitalize;
}

/* line 38, ../scss/components/_navigation.scss */
.logo:visited {
  color: black;
}

/* line 42, ../scss/components/_navigation.scss */
.logo:hover, .logo:active {
  text-decoration: none;
  color: #646464;
}

/* Header - Main App
================================================================================ */
/* line 50, ../scss/components/_navigation.scss */
.main_top_padding {
  padding-top: 13px;
}

/* line 54, ../scss/components/_navigation.scss */
.navigation_links a {
  display: block;
  float: left;
  padding: 20px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

/* Header - Landing
================================================================================ */
/* line 65, ../scss/components/_navigation.scss */
.landing_navigation_links {
  padding-left: 50px;
  line-height: 38px;
  float: left;
  padding-top: 23px;
}

/* line 72, ../scss/components/_navigation.scss */
.top_padding {
  padding-top: 20px;
}

/* line 76, ../scss/components/_navigation.scss */
.create_account {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 1, ../scss/components/_buttons.scss */
.action_button_container {
  width: 200px;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 8, ../scss/components/_buttons.scss */
.action_button_container li {
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/components/_buttons.scss */
.button, .button:visited {
  display: block;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 38px;
  text-transform: uppercase;
  /*background-repeat: repeat-x;
  background-position: center;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; */
}

/* line 36, ../scss/components/_buttons.scss */
.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* line 42, ../scss/components/_buttons.scss */
.action_button {
  background-color: #87cf54;
}
/* line 44, ../scss/components/_buttons.scss */
.action_button:hover {
  background-color: #5ca032;
}

/* line 49, ../scss/components/_buttons.scss */
.cancel {
  background-color: #be3557;
}
/* line 51, ../scss/components/_buttons.scss */
.cancel:hover {
  background-color: #972a45;
}

/* line 56, ../scss/components/_buttons.scss */
.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  background-color: #007ab1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

/* line 77, ../scss/components/_buttons.scss */
.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: #0091d2;
}

/* line 82, ../scss/components/_buttons.scss */
.login_button {
  margin-top: 0;
  width: 200px;
  left: 50%;
  margin-left: -150px;
}

/* line 90, ../scss/components/_buttons.scss */
.submit-buttons {
  padding: 20px 0 0 0;
}

/* line 94, ../scss/components/_buttons.scss */
.submit-buttons a {
  display: block;
  float: left;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px 0 #711f34;
  -webkit-box-shadow: 0 1px 2px #646464;
  -moz-box-shadow: 0 1px 2px #646464;
  box-shadow: 0 1px 2px #646464;
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
}

/* line 116, ../scss/components/_buttons.scss */
.submit-buttons a,
.submit-buttons a:visited {
  background-color: #be3557;
}

/* line 120, ../scss/components/_buttons.scss */
.submit-buttons a:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

/* line 125, ../scss/components/_buttons.scss */
.submit-buttons a:hover, .submit-buttons a:active {
  background-color: #972a45;
}

/* line 129, ../scss/components/_buttons.scss */
.button_container {
  width: 200px;
}

/* line 133, ../scss/components/_buttons.scss */
.send_button_container {
  width: 250px;
}

/* line 137, ../scss/components/_buttons.scss */
.request_payment_button_container {
  width: 350px;
}

/* line 141, ../scss/components/_buttons.scss */
.delete_method_button {
  width: 229px;
  margin-left: 20px;
  margin-top: 45px;
}

/* line 147, ../scss/components/_buttons.scss */
.orange_button {
  background: #ffa200;
}

/* line 151, ../scss/components/_buttons.scss */
.green_button {
  background: #87cf54;
}

/* LANDING INTRO
================================================================================ */
/* line 5, ../scss/components/_benefits.scss */
.intro_container {
  background: #008bc7;
  border-bottom: 1px solid #007ab1;
  padding: 20px 0 20px 0;
  color: #cde6f0;
}

/* line 12, ../scss/components/_benefits.scss */
.benefit {
  border: 5px solid white;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  display: block;
  margin: 20px 0 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* line 24, ../scss/components/_benefits.scss */
.headline {
  font-weight: 100;
}

/* line 29, ../scss/components/_benefits.scss */
.headline, .subline,
.benefit_title {
  text-align: center;
  color: white;
}

/* line 34, ../scss/components/_benefits.scss */
.subline {
  font-family: museo_sans;
  font-weight: 100;
  margin: 0 0 18px 0;
  font-size: 20px;
}

/* line 41, ../scss/components/_benefits.scss */
.benefit_container {
  width: 33%;
  float: left;
}

/* line 46, ../scss/components/_benefits.scss */
.benefit_description {
  text-align: center;
  font-weight: 300;
}

/* line 51, ../scss/components/_benefits.scss */
.benefit_title {
  font-size: 22px;
  font-weight: 100;
  margin: 20px 0 8px 0;
  font-family: museo_sans;
}

/* line 58, ../scss/components/_benefits.scss */
.benefits_container {
  width: 100%;
  overflow: hidden;
}

/* line 63, ../scss/components/_benefits.scss */
.signup_button_container {
  width: 300px;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 50px;
}
/* line 67, ../scss/components/_benefits.scss */
.signup_button_container li {
  display: inline;
}

/* line 73, ../scss/components/_benefits.scss */
.landing_container {
  padding-top: 140px;
  height: 680px;
}

/* line 78, ../scss/components/_benefits.scss */
.explore_button_container {
  margin-left: 20px;
  width: 120px;
}

/* line 83, ../scss/components/_benefits.scss */
.landing_logo_container {
  padding-top: 20px;
  float: left;
  width: 42%;
  margin-left: 40px;
}

/* line 90, ../scss/components/_benefits.scss */
.landing_admin_container {
  width: 50%;
  float: left;
}

/* line 95, ../scss/components/_benefits.scss */
.logo_white {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  background: rgba(0, 0, 0, 0) url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo-large.png) no-repeat left;
  padding-left: 90px;
  padding-top: 10px;
  width: 300px;
  margin: 0 auto;
}

/* line 105, ../scss/components/_benefits.scss */
.headline_container {
  margin-bottom: 40px;
}

/* Sub- Navigation 
================================================================================ */
/* line 5, ../scss/components/_sub_navigation.scss */
.sub_navigation {
  background-color: #dff5ff;
}

/* line 9, ../scss/components/_sub_navigation.scss */
.sub_navigation_container {
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/components/_sub_navigation.scss */
.sub_navigation_tab {
  list-style: none;
  display: block;
  float: left;
}

/* line 20, ../scss/components/_sub_navigation.scss */
.sub_navigation_link {
  display: block;
  float: left;
  padding: 20px;
  color: #009adb;
}

/* line 27, ../scss/components/_sub_navigation.scss */
.current a {
  background: white;
  color: #009adb;
}

/* line 1, ../scss/components/_get_started.scss */
.get_started_container {
  padding: 20px 0;
  background: white;
}

/* line 6, ../scss/components/_get_started.scss */
.features li {
  background: transparent url(https://d3kq8dzp7eezz0.cloudfront.net/img/thumb_up-16x16.png) no-repeat left;
  padding: 10px 10px 10px 25px;
  list-style: none;
  border-top: 1px solid whitesmoke;
}

/* line 13, ../scss/components/_get_started.scss */
.create_account_legend {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: museo;
  color: black;
}

/* line 23, ../scss/components/_get_started.scss */
.features {
  margin: 0 0 15px 0;
}

/* line 27, ../scss/components/_get_started.scss */
label {
  padding: 10px 0 5px 0;
}

/* line 31, ../scss/components/_get_started.scss */
.input-box {
  margin: 0;
  padding: 0;
}

/* line 36, ../scss/components/_get_started.scss */
.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #c8c8c8;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 48, ../scss/components/_get_started.scss */
.text-field:focus {
  outline: none;
  border: 1px solid #646464;
}

/* line 53, ../scss/components/_get_started.scss */
.validation {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  color: red;
  text-align: right;
  font-weight: normal;
}

/* line 62, ../scss/components/_get_started.scss */
.border {
  border: 1px solid red !important;
}

/* line 1, ../scss/components/_login.scss */
.form_holder {
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  margin: 0;
  margin-left: -160px;
  position: relative;
  text-align: left;
}

/* line 10, ../scss/components/_login.scss */
.form_holder_layout {
  float: left;
  width: 360px;
}

/* line 15, ../scss/components/_login.scss */
.login_form_container {
  padding-left: 50%;
}

/* line 19, ../scss/components/_login.scss */
.forgot_password {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

/* line 25, ../scss/components/_login.scss */
.forgot_password_button {
  margin-top: 5px;
}

/* line 29, ../scss/components/_login.scss */
.other_login {
  margin-bottom: 20px;
}

/* line 33, ../scss/components/_login.scss */
.email_screen_title {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

/* line 40, ../scss/components/_login.scss */
.email_button {
  margin: 0 auto;
  margin-top: 20px;
  float: none;
}

/* line 46, ../scss/components/_login.scss */
#mce-EMAIL {
  border-radius: 3px;
  width: 200px;
  margin: 0 auto;
}

/* line 52, ../scss/components/_login.scss */
#mc_embed_signup {
  text-align: center;
}

/* line 56, ../scss/components/_login.scss */
.email_helper {
  text-align: center;
}

/* line 60, ../scss/components/_login.scss */
.email_confirm {
  text-align: center;
}

/* FOOTER
================================================================================ */
/* line 4, ../scss/components/_footer.scss */
.footer {
  background: gray;
  border-top: 1px solid #bababa;
  padding-bottom: 10px;
  padding: 15px;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
}

/* line 14, ../scss/components/_footer.scss */
.footer_title {
  color: #dce1e6;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  font-family: museo_sans;
}

/* line 23, ../scss/components/_footer.scss */
.footer_link {
  color: white;
}
/* line 25, ../scss/components/_footer.scss */
.footer_link:visited, .footer_link:active {
  color: white;
}

/* line 30, ../scss/components/_footer.scss */
.footer_link_container {
  margin-left: 0;
  list-style-type: none;
}

/* line 35, ../scss/components/_footer.scss */
.footer_title > a {
  color: inherit;
  text-decoration: none;
}

/* line 40, ../scss/components/_footer.scss */
.landing_footer {
  background: gray;
  border-top: 1px solid #7d7d7d;
  padding: 10px;
}

/* line 46, ../scss/components/_footer.scss */
.landing_footer_login {
  bottom: 80px;
}

/* line 50, ../scss/components/_footer.scss */
.landing_footer_column_container {
  width: 960px;
  margin: 0 auto;
}

/* line 55, ../scss/components/_footer.scss */
.landing_footer_column {
  width: 25%;
  float: left;
}

/* COPYRIGHT
================================================================================ */
/* line 7, ../scss/components/_copyright.scss */
.copyright {
  margin: 0;
  padding: 20px;
  font-size: 13px;
  color: #545a60;
  text-align: center;
}

/* line 15, ../scss/components/_copyright.scss */
.copyright_login {
  bottom: 0;
}

@media all and (max-width: 515px) {
  /* line 2, ../scss/components/_landing_responsive.scss */
  .landing_admin_container {
    width: 40%;
  }

  /* line 5, ../scss/components/_landing_responsive.scss */
  .create_account {
    display: none;
  }

  /* line 9, ../scss/components/_landing_responsive.scss */
  .benefit_container {
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 960px) {
  /* line 16, ../scss/components/_landing_responsive.scss */
  .benefits_container {
    width: 960px;
    margin: 0 auto;
  }

  /* line 21, ../scss/components/_landing_responsive.scss */
  .benefit_container {
    width: 320px;
    float: left;
  }
}
/* line 8, ../scss/layouts/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

/* line 14, ../scss/layouts/_layout.scss */
.clear {
  float: left;
  width: 100%;
  clear: both;
}

/* line 20, ../scss/layouts/_layout.scss */
.column-full {
  width: 960px;
}

/* line 21, ../scss/layouts/_layout.scss */
.column-three-fourth {
  width: 720px;
}

/* line 22, ../scss/layouts/_layout.scss */
.column-two-third {
  width: 640px;
}

/* line 23, ../scss/layouts/_layout.scss */
.column-one-half {
  width: 480px;
}

/* line 24, ../scss/layouts/_layout.scss */
.column-one-third {
  width: 320px;
}

/* line 25, ../scss/layouts/_layout.scss */
.column-one-fourth {
  width: 240px;
}

/* line 28, ../scss/layouts/_layout.scss */
.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third, .column-three-fourth, .column-full {
  float: left;
}
