/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/toolkit-1.3.7/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../.rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/toolkit-1.3.7/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* RESET
================================================================================ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../scss/bases/_common.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 27, ../scss/bases/_common.scss */
body {
  line-height: 1.5em;
  background: white;
}

/* line 32, ../scss/bases/_common.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../scss/bases/_common.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/bases/_common.scss */
table {
  border-spacing: 0;
}

/* Typography
================================================================================ */
/* line 51, ../scss/bases/_common.scss */
body {
  text-align: left;
  font-family: museo_sans;
  background: #dce0e4 url(/img/bg.png) fixed;
  color: #636363;
  font-size: 18px;
  font-weight: 300;
}

/* line 61, ../scss/bases/_common.scss */
a,
a:visited {
  text-decoration: none;
  color: #0099dd;
}

/* line 67, ../scss/bases/_common.scss */
a:hover,
a:active {
  text-decoration: underline;
  color: #0089c6;
  cursor: pointer;
}

/* line 73, ../scss/bases/_common.scss */
p {
  padding: 0 20px;
  margin-bottom: 20px;
}

/* line 78, ../scss/bases/_common.scss */
ul {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  list-style: none;
}

/* line 86, ../scss/bases/_common.scss */
strong {
  font-weight: bold;
}

/* line 90, ../scss/bases/_common.scss */
h1, h2, h3 {
  color: #333333;
  padding: 0 20px;
  font-family: museo;
}

/* line 96, ../scss/bases/_common.scss */
h1 strong, h2 strong {
  font-weight: 500;
}

/* line 100, ../scss/bases/_common.scss */
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 100;
  margin: 20px 0 10px 0;
}

/* line 107, ../scss/bases/_common.scss */
h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

/* line 114, ../scss/bases/_common.scss */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

/* Forms
================================================================================ */
/* line 125, ../scss/bases/_common.scss */
form {
  padding: 0 20px 20px 20px;
}

/* line 129, ../scss/bases/_common.scss */
label, .faux-label {
  display: block;
  padding: 20px 0 5px 0;
  margin: 0;
}

/* line 135, ../scss/bases/_common.scss */
label span {
  display: block;
  font-size: .75em;
  color: #969696;
}

/* line 141, ../scss/bases/_common.scss */
input {
  max-width: 350px;
}

/* line 145, ../scss/bases/_common.scss */
input, textarea {
  border: 1px solid #969696;
  padding: 3px;
  margin: 0;
  font-size: 100%;
  font: inherit;
  color: #636363;
  border-radius: 3px;
}

/* line 155, ../scss/bases/_common.scss */
input[disabled] {
  color: #646464;
  border: 1px solid #c8c8c8;
  background-color: whitesmoke;
}

/* line 162, ../scss/bases/_common.scss */
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin-right: 5px;
}

/* line 167, ../scss/bases/_common.scss */
select {
  margin: 0 10px 0 0;
  width: 140px;
}

/* line 172, ../scss/bases/_common.scss */
fieldset {
  border-top: 1px solid whitesmoke;
  padding: 0 0 20px 0;
  width: 100%;
}

/* COMMON UI classes
================================================================================ */
/* line 181, ../scss/bases/_common.scss */
.white_background {
  background: white;
  position: relative;
}

/* line 186, ../scss/bases/_common.scss */
.main_content_container {
  -moz-box-shadow: 0px 3px 5px 3px #CDCED3;
  -webkit-box-shadow: 0px 3px 5px 3px #CDCED3;
  box-shadow: 0px 3px 5px 3px #CDCED3;
  background-color: white;
}

/* line 193, ../scss/bases/_common.scss */
.hide {
  display: none;
}

/* line 196, ../scss/bases/_common.scss */
.inline_block {
  display: inline-block;
}

/* line 199, ../scss/bases/_common.scss */
.no_bullet {
  list-style: none;
}

/* line 203, ../scss/bases/_common.scss */
.checkmark {
  background-image: url("/img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0px 4px;
}

/* line 211, ../scss/bases/_common.scss */
.helper_text {
  display: block;
  font-size: 14px;
  color: #969696;
  margin: 0 0 10px 0;
  text-align: left;
}

/* line 219, ../scss/bases/_common.scss */
.secure:before {
  content: url(/img/lock-16x16.png);
  padding: 5px;
}

/* line 224, ../scss/bases/_common.scss */
.divider {
  border-bottom: 1px solid #c7e0e4;
  margin: 0 auto;
  width: 100%;
}

/* line 229, ../scss/bases/_common.scss */
.divider_left {
  border-left: 1px solid #c7e0e4;
}

/* line 232, ../scss/bases/_common.scss */
.divider_right {
  border-right: 1px solid #c7e0e4;
}

/* line 237, ../scss/bases/_common.scss */
.required {
  color: #972b46;
  display: inline;
}

/* line 242, ../scss/bases/_common.scss */
.hide_overflow {
  overflow: hidden;
}

/* line 246, ../scss/bases/_common.scss */
.gutter {
  margin-left: 40px;
}

/* line 249, ../scss/bases/_common.scss */
.right_align {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 254, ../scss/bases/_common.scss */
.fa.fa-check-circle {
  color: #9dd573;
  margin-left: -1.1em;
}

/* line 258, ../scss/bases/_common.scss */
.checkmark_holder {
  position: relative;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo100-italic-webfont.eot");
  src: url("/css/fonts/museo100-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo100-italic-webfont.woff") format("woff"), url("/css/fonts/museo100-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo100-italic-webfont.svg#museo100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo100-regular-webfont.eot");
  src: url("/css/fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo100-regular-webfont.woff") format("woff"), url("/css/fonts/museo100-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo300-italic-webfont.eot");
  src: url("/css/fonts/museo300-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo300-italic-webfont.woff") format("woff"), url("/css/fonts/museo300-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo300-italic-webfont.svg#museo300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo300-regular-webfont.eot");
  src: url("/css/fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo300-regular-webfont.woff") format("woff"), url("/css/fonts/museo300-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo500-italic-webfont.eot");
  src: url("/css/fonts/museo500-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo500-italic-webfont.woff") format("woff"), url("/css/fonts/museo500-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo500-italic-webfont.svg#museo500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo500-regular-webfont.eot");
  src: url("/css/fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo500-regular-webfont.woff") format("woff"), url("/css/fonts/museo500-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo700-italic-webfont.eot");
  src: url("/css/fonts/museo700-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo700-italic-webfont.woff") format("woff"), url("/css/fonts/museo700-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo700-italic-webfont.svg#museo700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo700-regular-webfont.eot");
  src: url("/css/fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo700-regular-webfont.woff") format("woff"), url("/css/fonts/museo700-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo900-italic-webfont.eot");
  src: url("/css/fonts/museo900-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo900-italic-webfont.woff") format("woff"), url("/css/fonts/museo900-italic-webfont.ttf") format("truetype"), url("/css/fonts/museo900-italic-webfont.svg#museo900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("/css/fonts/museo900-regular-webfont.eot");
  src: url("/css/fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museo900-regular-webfont.woff") format("woff"), url("/css/fonts/museo900-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_100_italic-webfont.eot");
  src: url("/css/fonts/museosans_100_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_100_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_100_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_100_italic-webfont.svg#museo_sans100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_100-webfont.eot");
  src: url("/css/fonts/museosans_100-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_100-webfont.woff") format("woff"), url("/css/fonts/museosans_100-webfont.ttf") format("truetype"), url("/css/fonts/museosans_100-webfont.svg#museo_sans100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_300_italic-webfont.eot");
  src: url("/css/fonts/museosans_300_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_300_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_300_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_300_italic-webfont.svg#museo_sans300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_300-webfont.eot");
  src: url("/css/fonts/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_300-webfont.woff") format("woff"), url("/css/fonts/museosans_300-webfont.ttf") format("truetype"), url("/css/fonts/museosans_300-webfont.svg#museo_sans300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_500_italic-webfont.eot");
  src: url("/css/fonts/museosans_500_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_500_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_500_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_500_italic-webfont.svg#museo_sans500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_500-webfont.eot");
  src: url("/css/fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_500-webfont.woff") format("woff"), url("/css/fonts/museosans_500-webfont.ttf") format("truetype"), url("/css/fonts/museosans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_700_italic-webfont.eot");
  src: url("/css/fonts/museosans_700_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_700_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_700_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_700_italic-webfont.svg#museo_sans700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_700-webfont.eot");
  src: url("/css/fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_700-webfont.woff") format("woff"), url("/css/fonts/museosans_700-webfont.ttf") format("truetype"), url("/css/fonts/museosans_700-webfont.svg#museo_sans700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_900_italic-webfont.eot");
  src: url("/css/fonts/museosans_900_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_900_italic-webfont.woff") format("woff"), url("/css/fonts/museosans_900_italic-webfont.ttf") format("truetype"), url("/css/fonts/museosans_900_italic-webfont.svg#museo_sans900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("/css/fonts/museosans_900-webfont.eot");
  src: url("/css/fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/museosans_900-webfont.woff") format("woff"), url("/css/fonts/museosans_900-webfont.ttf") format("truetype"), url("/css/fonts/museosans_900-webfont.svg#museo_sans900") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* FORMS
================================================================================ */
/* line 4, ../scss/components/_forms.scss */
.action {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: .75em;
}

/* line 12, ../scss/components/_forms.scss */
.security-detail {
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 30px;
  font-size: .875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke url(https://d3kq8dzp7eezz0.cloudfront.net/img/lock.png) no-repeat 1% 50%;
}

/* line 23, ../scss/components/_forms.scss */
.checkbox {
  border: none;
  margin: 0;
  padding: 5px 0;
}

/* line 30, ../scss/components/_forms.scss */
.upload {
  border: none;
}

/* line 1, ../scss/components/_form_feedback.scss */
.server_error {
  color: red;
}

/* line 5, ../scss/components/_form_feedback.scss */
.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

/* line 12, ../scss/components/_form_feedback.scss */
.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

/* line 18, ../scss/components/_form_feedback.scss */
.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type: none;
}

/* line 25, ../scss/components/_form_feedback.scss */
.parsley-error-list li {
  line-height: 11px;
}

/* line 29, ../scss/components/_form_feedback.scss */
.error {
  color: #B94A48;
  text-align: center;
  margin-bottom: -20px;
}

/* line 35, ../scss/components/_form_feedback.scss */
.valid {
  color: #468847;
  text-align: center;
  margin-bottom: -20px;
}

/* line 1, ../scss/components/_flying_focus.scss */
#flying-focus {
  position: absolute;
  margin: 0;
  background: transparent;
  -webkit-transition-property: left, top, width, height;
  transition-property: left, top, width, height;
  -webkit-transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
  transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 2px;
}

/* line 13, ../scss/components/_flying_focus.scss */
#flying-focus.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}

/* line 17, ../scss/components/_flying_focus.scss */
.flying-focus_target {
  outline: none !important;
  /* Doesn't work in Firefox :( */
}

/* http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319 */
/* line 21, ../scss/components/_flying_focus.scss */
.flying-focus_target::-moz-focus-inner {
  border: 0 !important;
}

/* Replace it with @supports rule when browsers catch up */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 26, ../scss/components/_flying_focus.scss */
  #flying-focus {
    box-shadow: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -3px;
  }
}
/* Header - Common
================================================================================ */
/* line 5, ../scss/components/_header.scss */
.navigation {
  min-height: 67px;
}

/* line 9, ../scss/components/_header.scss */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/components/_header.scss */
.navigation li {
  float: left;
}

/* line 19, ../scss/components/_header.scss */
.admin_nav li {
  float: right;
}

/* line 23, ../scss/components/_header.scss */
.logo {
  font-family: museo;
  font-size: 24px;
  font-weight: 100;
  line-height: 38px;
  height: 35px;
  padding: 0;
  margin: 0;
  background: transparent url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo.png) no-repeat left;
  color: black;
  display: block;
  padding-left: 70px;
  text-decoration: none;
  width: 210px;
}
/* line 37, ../scss/components/_header.scss */
.logo:visited {
  color: black;
}
/* line 40, ../scss/components/_header.scss */
.logo:hover, .logo:active {
  text-decoration: none;
  color: #646464;
}

/* Header - Main App
================================================================================ */
/* line 49, ../scss/components/_header.scss */
.main_top_padding {
  padding-top: 13px;
}

/* line 53, ../scss/components/_header.scss */
.navigation_links a {
  display: block;
  float: left;
  padding: 20px;
}

/* Header - Landing
================================================================================ */
/* line 62, ../scss/components/_header.scss */
.landing_navigation_links {
  padding-left: 50px;
  line-height: 38px;
  float: left;
  padding-top: 23px;
}

/* line 69, ../scss/components/_header.scss */
.top_padding {
  padding-top: 20px;
}

/* line 73, ../scss/components/_header.scss */
.create_account {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 1, ../scss/components/_buttons.scss */
.action_button_container {
  margin: 10px 20px 10px 20px;
  padding: 0;
  list-style: none;
}
/* line 5, ../scss/components/_buttons.scss */
.action_button_container li {
  padding: 10px 0 0 0;
  margin: 0;
}

/* line 11, ../scss/components/_buttons.scss */
.button, .button:visited {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 40px;
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 32, ../scss/components/_buttons.scss */
.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* line 38, ../scss/components/_buttons.scss */
.action_button {
  background-color: #9dd573;
}
/* line 40, ../scss/components/_buttons.scss */
.action_button:hover {
  background-color: #5ca032;
}

/* line 45, ../scss/components/_buttons.scss */
.cancel {
  background-color: #be3557;
}
/* line 47, ../scss/components/_buttons.scss */
.cancel:hover {
  background-color: #972a45;
}

/* line 52, ../scss/components/_buttons.scss */
.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  background-color: #007ab1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

/* line 73, ../scss/components/_buttons.scss */
.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: #0091d2;
}

/* line 78, ../scss/components/_buttons.scss */
.login_button {
  margin-top: 0;
  width: 200px;
  left: 50%;
  margin-left: -150px;
}

/* line 86, ../scss/components/_buttons.scss */
.submit-buttons {
  padding: 20px 0 0 0;
}

/* line 90, ../scss/components/_buttons.scss */
.submit-buttons a {
  display: block;
  float: left;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px 0 #711f34;
  -webkit-box-shadow: 0 1px 2px #646464;
  -moz-box-shadow: 0 1px 2px #646464;
  box-shadow: 0 1px 2px #646464;
  background-image: url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
}

/* line 112, ../scss/components/_buttons.scss */
.submit-buttons a,
.submit-buttons a:visited {
  background-color: #be3557;
}

/* line 116, ../scss/components/_buttons.scss */
.submit-buttons a:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

/* line 121, ../scss/components/_buttons.scss */
.submit-buttons a:hover, .submit-buttons a:active {
  background-color: #972a45;
}

/* line 125, ../scss/components/_buttons.scss */
.button_container {
  width: 200px;
}

/* line 129, ../scss/components/_buttons.scss */
.send_button_container {
  width: 250px;
}

/* line 133, ../scss/components/_buttons.scss */
.request_payment_button_container {
  width: 350px;
}

/* line 137, ../scss/components/_buttons.scss */
.delete_method_button {
  width: 229px;
  margin-left: 20px;
  margin-top: 45px;
}

/* LANDING INTRO
================================================================================ */
/* line 5, ../scss/components/_benefits.scss */
.intro_container {
  background: #007ab1 url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-intro.png) repeat-x top;
  color: #bfe5f6;
  border-bottom: 1px solid #007ab1;
  padding: 20px 0 20px 0;
  color: #cde6f0;
}

/* line 13, ../scss/components/_benefits.scss */
.benefit {
  border: 5px solid white;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 20px #555;
  display: block;
  margin: 20px 0 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* line 28, ../scss/components/_benefits.scss */
.headline,
.subline,
.benefit_title {
  text-align: center;
  color: white;
}

/* line 33, ../scss/components/_benefits.scss */
.headline {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

/* line 38, ../scss/components/_benefits.scss */
.subline {
  font-family: museo_sans;
  font-weight: 100;
  margin: 0 0 18px 0;
  font-size: 20px;
}

/* line 45, ../scss/components/_benefits.scss */
.benefit_container {
  width: 33%;
  float: left;
}

/* line 50, ../scss/components/_benefits.scss */
.benefit_description {
  text-align: center;
  font-weight: 300;
}

/* line 55, ../scss/components/_benefits.scss */
.benefit_title {
  font-size: 22px;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  margin: 20px 0 8px 0;
}

/* line 62, ../scss/components/_benefits.scss */
.benefits_container {
  width: 100%;
  overflow: hidden;
}

/* line 67, ../scss/components/_benefits.scss */
.signup_button_container {
  width: 300px;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 50px;
}
/* line 71, ../scss/components/_benefits.scss */
.signup_button_container li {
  display: inline;
}

/* line 77, ../scss/components/_benefits.scss */
.landing_container {
  padding-top: 90px;
  height: 540px;
}

/* line 82, ../scss/components/_benefits.scss */
.explore_button_container {
  margin-left: 20px;
  width: 120px;
}

/* line 87, ../scss/components/_benefits.scss */
.landing_logo_container {
  padding-top: 20px;
  float: left;
  width: 42%;
  margin-left: 40px;
}

/* line 94, ../scss/components/_benefits.scss */
.landing_admin_container {
  width: 50%;
  float: left;
}

/* line 99, ../scss/components/_benefits.scss */
.logo_white {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  background: rgba(0, 0, 0, 0) url(https://d3kq8dzp7eezz0.cloudfront.net/img/logo-large.png) no-repeat left;
  padding-left: 90px;
  padding-top: 10px;
  width: 300px;
  margin: 0 auto;
}

/* line 109, ../scss/components/_benefits.scss */
.headline_container {
  margin-bottom: 40px;
}

/* Sub- Navigation 
================================================================================ */
/* line 5, ../scss/components/_sub_navigation.scss */
.sub_navigation {
  background-color: #dff5ff;
}

/* line 9, ../scss/components/_sub_navigation.scss */
.sub_navigation_container {
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/components/_sub_navigation.scss */
.sub_navigation_tab {
  list-style: none;
  display: block;
  float: left;
}

/* line 20, ../scss/components/_sub_navigation.scss */
.sub_navigation_link {
  display: block;
  float: left;
  padding: 20px;
  color: #009adb;
}

/* line 27, ../scss/components/_sub_navigation.scss */
.current a {
  background: white;
  color: #009adb;
}

/* line 1, ../scss/components/_get_started.scss */
.get_started_container {
  padding: 20px 0;
  background: white;
}

/* line 6, ../scss/components/_get_started.scss */
.features li {
  background: transparent url(https://d3kq8dzp7eezz0.cloudfront.net/img/thumb_up-16x16.png) no-repeat left;
  padding: 10px 10px 10px 25px;
  list-style: none;
  border-top: 1px solid whitesmoke;
}

/* line 13, ../scss/components/_get_started.scss */
.create_account_legend {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: museo;
  color: black;
}

/* line 23, ../scss/components/_get_started.scss */
.features {
  margin: 0 0 15px 0;
}

/* line 28, ../scss/components/_get_started.scss */
fieldset {
  margin: 0;
  padding: 10px 0 0 0;
}

/* line 33, ../scss/components/_get_started.scss */
label {
  display: block;
  padding: 10px 0 5px 0;
  color: black;
  font-weight: bold;
}

/* line 40, ../scss/components/_get_started.scss */
.input-box {
  margin: 0;
  padding: 0;
}

/* line 45, ../scss/components/_get_started.scss */
.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #c8c8c8;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 57, ../scss/components/_get_started.scss */
.text-field:focus {
  outline: none;
  border: 1px solid #646464;
}

/* line 62, ../scss/components/_get_started.scss */
.validation {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  color: red;
  text-align: right;
  font-weight: normal;
}

/* line 71, ../scss/components/_get_started.scss */
.border {
  border: 1px solid red !important;
}

/* line 1, ../scss/components/_login.scss */
.form_holder {
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin: 0;
  margin-left: -160px;
  padding: 20px 10px;
  position: relative;
  text-align: left;
}

/* line 14, ../scss/components/_login.scss */
.form_holder_layout {
  float: left;
  width: 360px;
}

/* line 19, ../scss/components/_login.scss */
.login_form_container {
  padding-left: 50%;
}

/* line 23, ../scss/components/_login.scss */
.forgot_password {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

/* line 29, ../scss/components/_login.scss */
.login_screen_title {
  margin: 0;
  padding: 0;
}

/* line 34, ../scss/components/_login.scss */
.forgot_password_button {
  margin-top: 5px;
}

/* line 38, ../scss/components/_login.scss */
.forgot_password_form {
  height: 260px;
  width: 350px;
}

/* line 43, ../scss/components/_login.scss */
.login_helper {
  line-height: 16px;
  margin-bottom: 0px;
}

/* line 48, ../scss/components/_login.scss */
.other_login {
  margin-bottom: 20px;
}

/* line 52, ../scss/components/_login.scss */
.email_screen_title {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

/* line 59, ../scss/components/_login.scss */
.email_button {
  margin: 0 auto;
  margin-top: 20px;
  float: none;
}

/* line 65, ../scss/components/_login.scss */
#mce-EMAIL {
  border-radius: 3px;
  width: 200px;
  margin: 0 auto;
}

/* line 71, ../scss/components/_login.scss */
#mc_embed_signup {
  text-align: center;
}

/* line 75, ../scss/components/_login.scss */
.email_helper {
  text-align: center;
}

/* line 79, ../scss/components/_login.scss */
.email_confirm {
  text-align: center;
}

/* FOOTER
================================================================================ */
/* line 5, ../scss/components/_footer.scss */
.footer {
  background: #8c96a0 url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-footer.png) repeat-x bottom;
  border-top: 1px solid #7d7d7d;
  padding-bottom: 10px;
}

/* line 11, ../scss/components/_footer.scss */
.footer_title {
  color: #dce1e6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* line 17, ../scss/components/_footer.scss */
.footer_link {
  color: white;
}
/* line 19, ../scss/components/_footer.scss */
.footer_link:visited, .footer_link:active {
  color: white;
}

/* line 24, ../scss/components/_footer.scss */
.footer_link_container {
  margin-left: 0;
  list-style-type: none;
}

/* line 29, ../scss/components/_footer.scss */
.footer_title > a {
  color: inherit;
  text-decoration: none;
}

/* line 34, ../scss/components/_footer.scss */
.landing_footer {
  background: #8c96a0 url(https://d3kq8dzp7eezz0.cloudfront.net/img/shade-footer.png) repeat-x bottom;
  border-top: 1px solid #7d7d7d;
  padding-bottom: 10px;
}

/* line 40, ../scss/components/_footer.scss */
.landing_footer_login {
  bottom: 80px;
}

/* line 44, ../scss/components/_footer.scss */
.landing_footer_column_container {
  width: 960px;
  margin: 0 auto;
}

/* line 49, ../scss/components/_footer.scss */
.landing_footer_column {
  width: 25%;
  float: left;
}

/* COPYRIGHT
================================================================================ */
/* line 7, ../scss/components/_copyright.scss */
.copyright {
  margin: 0;
  padding: 20px;
  font-size: 13px;
  color: #545a60;
  text-align: center;
}

/* line 15, ../scss/components/_copyright.scss */
.copyright_login {
  bottom: 0;
}

@media all and (max-width: 515px) {
  /* line 2, ../scss/components/_landing_responsive.scss */
  .landing_admin_container {
    width: 40%;
  }

  /* line 5, ../scss/components/_landing_responsive.scss */
  .create_account {
    display: none;
  }

  /* line 9, ../scss/components/_landing_responsive.scss */
  .benefit_container {
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 960px) {
  /* line 16, ../scss/components/_landing_responsive.scss */
  .benefits_container {
    width: 960px;
    margin: 0 auto;
  }

  /* line 21, ../scss/components/_landing_responsive.scss */
  .benefit_container {
    width: 320px;
    float: left;
  }
}
/* line 8, ../scss/layouts/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

/* line 14, ../scss/layouts/_layout.scss */
.clear {
  float: left;
  width: 100%;
  clear: both;
}

/* line 20, ../scss/layouts/_layout.scss */
.column-full {
  width: 960px;
}

/* line 21, ../scss/layouts/_layout.scss */
.column-three-fourth {
  width: 720px;
}

/* line 22, ../scss/layouts/_layout.scss */
.column-two-third {
  width: 640px;
}

/* line 23, ../scss/layouts/_layout.scss */
.column-one-half {
  width: 480px;
}

/* line 24, ../scss/layouts/_layout.scss */
.column-one-third {
  width: 320px;
}

/* line 25, ../scss/layouts/_layout.scss */
.column-one-fourth {
  width: 240px;
}

/* line 28, ../scss/layouts/_layout.scss */
.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third, .column-three-fourth, .column-full {
  float: left;
}
