/* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* RESET
================================================================================ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, ../scss/bases/_common.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

/* line 27, ../scss/bases/_common.scss */
body {
  line-height: 1.5em;
  background: white;
}

/* line 32, ../scss/bases/_common.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../scss/bases/_common.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/bases/_common.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography
================================================================================ */
/* line 52, ../scss/bases/_common.scss */
body {
  text-align: center;
  font-family: museo_sans;
  background: #c7ced1;
  color: #636363;
  font-size: 18px;
}

/* line 61, ../scss/bases/_common.scss */
a,
a:visited {
  text-decoration: none;
  color: #0099dd;
}

/* line 67, ../scss/bases/_common.scss */
a:hover,
a:active {
  text-decoration: underline;
  color: #0089c6;
  cursor: pointer;
}

/* line 73, ../scss/bases/_common.scss */
p, ul, ol, dl {
  padding: 0 20px;
  margin-bottom: 20px;
}

/* line 78, ../scss/bases/_common.scss */
ul, ol {
  margin-left: 30px;
}

/* line 82, ../scss/bases/_common.scss */
strong {
  font-weight: bold;
}

/* line 86, ../scss/bases/_common.scss */
h1, h2, h3 {
  color: #333333;
  padding: 0 20px;
  font-family: museo;
}

/* line 92, ../scss/bases/_common.scss */
h1 strong, h2 strong {
  font-weight: 500;
}

/* line 96, ../scss/bases/_common.scss */
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 100;
  margin: 20px 0 10px 0;
}

/* line 103, ../scss/bases/_common.scss */
h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

/* line 110, ../scss/bases/_common.scss */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

/* Forms
================================================================================ */
/* line 121, ../scss/bases/_common.scss */
form {
  padding: 0 20px 20px 20px;
}

/* line 125, ../scss/bases/_common.scss */
label, .faux-label {
  display: block;
  padding: 20px 0 5px 0;
  margin: 0;
}

/* line 131, ../scss/bases/_common.scss */
label span {
  display: block;
  font-size: .75em;
  color: #969696;
}

/* line 137, ../scss/bases/_common.scss */
input, textarea {
  border: 1px solid #969696;
  padding: 3px;
  margin: 0;
  font-size: 100%;
  font: inherit;
  color: #636363;
}

/* line 146, ../scss/bases/_common.scss */
input[disabled] {
  color: #646464;
  border: 1px solid #c8c8c8;
  background-color: whitesmoke;
}

/* line 153, ../scss/bases/_common.scss */
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin-right: 5px;
}

/* line 158, ../scss/bases/_common.scss */
select {
  margin: 0 10px 0 0;
  width: 140px;
}

/* line 163, ../scss/bases/_common.scss */
fieldset {
  border-top: 1px solid whitesmoke;
  padding: 0 0 20px 0;
  width: 100%;
}

/* COMMON UI classes
================================================================================ */
/* line 171, ../scss/bases/_common.scss */
.content {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* line 177, ../scss/bases/_common.scss */
.landing_background {
  background: #dce0e4 url(/img/bg.png) fixed;
}

/* line 181, ../scss/bases/_common.scss */
.white_background {
  background: white;
  position: relative;
}

/* line 186, ../scss/bases/_common.scss */
.main_content_container {
  float: left;
  border-radius: 15px;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
}

/* line 194, ../scss/bases/_common.scss */
.hide {
  display: none;
}

/* line 198, ../scss/bases/_common.scss */
.checkmark {
  background-image: url("/img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0px 4px;
}

/* line 206, ../scss/bases/_common.scss */
.helper_text {
  display: block;
  font-size: 12px;
  color: #969696;
  margin: 0 0 10px 0;
}

/* line 213, ../scss/bases/_common.scss */
.secure:before {
  content: url(/img/lock-16x16.png);
  padding: 5px;
}

/* line 218, ../scss/bases/_common.scss */
.divider {
  border-bottom: 1px solid #dbe0e6;
  clear: both;
  margin: 0 auto;
  width: 100%;
}

/* line 225, ../scss/bases/_common.scss */
.required {
  color: #972b46;
  display: inline;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo100-italic-webfont.eot");
  src: url("fonts/museo100-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo100-italic-webfont.woff") format("woff"), url("fonts/museo100-italic-webfont.ttf") format("truetype"), url("fonts/museo100-italic-webfont.svg#museo100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo100-regular-webfont.eot");
  src: url("fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo100-regular-webfont.woff") format("woff"), url("fonts/museo100-regular-webfont.ttf") format("truetype"), url("fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo300-italic-webfont.eot");
  src: url("fonts/museo300-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo300-italic-webfont.woff") format("woff"), url("fonts/museo300-italic-webfont.ttf") format("truetype"), url("fonts/museo300-italic-webfont.svg#museo300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo300-regular-webfont.eot");
  src: url("fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo300-regular-webfont.woff") format("woff"), url("fonts/museo300-regular-webfont.ttf") format("truetype"), url("fonts/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo500-italic-webfont.eot");
  src: url("fonts/museo500-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo500-italic-webfont.woff") format("woff"), url("fonts/museo500-italic-webfont.ttf") format("truetype"), url("fonts/museo500-italic-webfont.svg#museo500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo500-regular-webfont.eot");
  src: url("fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo500-regular-webfont.woff") format("woff"), url("fonts/museo500-regular-webfont.ttf") format("truetype"), url("fonts/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo700-italic-webfont.eot");
  src: url("fonts/museo700-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo700-italic-webfont.woff") format("woff"), url("fonts/museo700-italic-webfont.ttf") format("truetype"), url("fonts/museo700-italic-webfont.svg#museo700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo700-regular-webfont.eot");
  src: url("fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo700-regular-webfont.woff") format("woff"), url("fonts/museo700-regular-webfont.ttf") format("truetype"), url("fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo900-italic-webfont.eot");
  src: url("fonts/museo900-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo900-italic-webfont.woff") format("woff"), url("fonts/museo900-italic-webfont.ttf") format("truetype"), url("fonts/museo900-italic-webfont.svg#museo900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo';
  src: url("fonts/museo900-regular-webfont.eot");
  src: url("fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo900-regular-webfont.woff") format("woff"), url("fonts/museo900-regular-webfont.ttf") format("truetype"), url("fonts/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_100_italic-webfont.eot");
  src: url("fonts/museosans_100_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_100_italic-webfont.woff") format("woff"), url("fonts/museosans_100_italic-webfont.ttf") format("truetype"), url("fonts/museosans_100_italic-webfont.svg#museo_sans100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_100-webfont.eot");
  src: url("fonts/museosans_100-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_100-webfont.woff") format("woff"), url("fonts/museosans_100-webfont.ttf") format("truetype"), url("fonts/museosans_100-webfont.svg#museo_sans100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_300_italic-webfont.eot");
  src: url("fonts/museosans_300_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_300_italic-webfont.woff") format("woff"), url("fonts/museosans_300_italic-webfont.ttf") format("truetype"), url("fonts/museosans_300_italic-webfont.svg#museo_sans300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_300-webfont.eot");
  src: url("fonts/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_300-webfont.woff") format("woff"), url("fonts/museosans_300-webfont.ttf") format("truetype"), url("fonts/museosans_300-webfont.svg#museo_sans300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_500_italic-webfont.eot");
  src: url("fonts/museosans_500_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_500_italic-webfont.woff") format("woff"), url("fonts/museosans_500_italic-webfont.ttf") format("truetype"), url("fonts/museosans_500_italic-webfont.svg#museo_sans500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_500-webfont.eot");
  src: url("fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_500-webfont.woff") format("woff"), url("fonts/museosans_500-webfont.ttf") format("truetype"), url("fonts/museosans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_700_italic-webfont.eot");
  src: url("fonts/museosans_700_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_700_italic-webfont.woff") format("woff"), url("fonts/museosans_700_italic-webfont.ttf") format("truetype"), url("fonts/museosans_700_italic-webfont.svg#museo_sans700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_700-webfont.eot");
  src: url("fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_700-webfont.woff") format("woff"), url("fonts/museosans_700-webfont.ttf") format("truetype"), url("fonts/museosans_700-webfont.svg#museo_sans700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_900_italic-webfont.eot");
  src: url("fonts/museosans_900_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_900_italic-webfont.woff") format("woff"), url("fonts/museosans_900_italic-webfont.ttf") format("truetype"), url("fonts/museosans_900_italic-webfont.svg#museo_sans900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'museo_sans';
  src: url("fonts/museosans_900-webfont.eot");
  src: url("fonts/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosans_900-webfont.woff") format("woff"), url("fonts/museosans_900-webfont.ttf") format("truetype"), url("fonts/museosans_900-webfont.svg#museo_sans900") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* line 3, ../scss/components/_notifications.scss */
.notification_container {
  position: absolute;
  width: 880px;
  margin-top: -8px;
  margin-left: 40px;
}

/* line 10, ../scss/components/_notifications.scss */
.account_notification_container {
  width: 266px;
  bottom: 3px;
  margin-left: 300px;
  margin-left: 460px;
}

/* line 18, ../scss/components/_notifications.scss */
.message_notification_container {
  width: 266px;
  margin-top: 8px;
  margin-left: 140px;
}

/* line 24, ../scss/components/_notifications.scss */
.notification_text {
  color: rgba(255, 255, 255, 0.7);
  background: rgba(123, 184, 76, 0.8);
  text-align: center;
  border-radius: 5px;
  padding: 2px 0px;
}

/* line 32, ../scss/components/_notifications.scss */
.password_saved {
  margin-top: -2px;
}

/* line 36, ../scss/components/_notifications.scss */
.personal_saved {
  margin-top: -2px;
}

/* line 40, ../scss/components/_notifications.scss */
.credit_card_saved {
  margin-top: 36px;
}

/* line 44, ../scss/components/_notifications.scss */
.bank_account_saved {
  margin-top: 36px;
}

/* line 48, ../scss/components/_notifications.scss */
.agreement_notification {
  margin-top: -52px;
}

/* line 52, ../scss/components/_notifications.scss */
.recipient_notification {
  bottom: 4px;
  width: 225px;
  left: 247px;
}

/* FORMS
================================================================================ */
/* line 4, ../scss/components/_forms.scss */
.action {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: .75em;
}

/* line 12, ../scss/components/_forms.scss */
.security-detail {
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 30px;
  font-size: .875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke url(/img/lock.png) no-repeat 1% 50%;
}

/* line 23, ../scss/components/_forms.scss */
.checkbox {
  border: none;
  margin: 0;
  padding: 5px 0;
}

/* line 30, ../scss/components/_forms.scss */
.upload {
  border: none;
}

/* line 1, ../scss/components/_form_feedback.scss */
.server_error {
  color: red;
}

/* line 5, ../scss/components/_form_feedback.scss */
.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

/* line 12, ../scss/components/_form_feedback.scss */
.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

/* line 18, ../scss/components/_form_feedback.scss */
.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type: none;
}

/* line 25, ../scss/components/_form_feedback.scss */
.parsley-error-list li {
  line-height: 11px;
}

/* Header - Common
================================================================================ */
/* line 5, ../scss/components/_header.scss */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/components/_header.scss */
.navigation li {
  float: left;
}

/* line 15, ../scss/components/_header.scss */
.admin_nav li {
  float: right;
}

/* line 19, ../scss/components/_header.scss */
.logo {
  font-family: museo;
  font-size: 24px;
  font-weight: 100;
  line-height: 38px;
  height: 35px;
  padding: 0;
  margin: 0;
  background: transparent url(/img/logo.png) no-repeat left;
  color: black;
  display: block;
  padding-left: 70px;
  text-decoration: none;
  width: 210px;
}
/* line 33, ../scss/components/_header.scss */
.logo:visited {
  color: black;
}
/* line 36, ../scss/components/_header.scss */
.logo:hover, .logo:active {
  text-decoration: none;
  color: #646464;
}

/* Header - Main App
================================================================================ */
/* line 45, ../scss/components/_header.scss */
.main_top_padding {
  padding-top: 13px;
}

/* line 49, ../scss/components/_header.scss */
.navigation_links a {
  display: block;
  float: left;
  padding: 20px;
}

/* Header - Landing
================================================================================ */
/* line 58, ../scss/components/_header.scss */
.landing_navigation_links {
  padding-left: 85px;
  line-height: 38px;
  float: left;
  padding-top: 23px;
}

/* line 65, ../scss/components/_header.scss */
.top_padding {
  padding-top: 20px;
}

/* line 69, ../scss/components/_header.scss */
.create_account {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* MAIN Intro Header/ main action
================================================================================ */
/* line 5, ../scss/components/_intro.scss */
.intro {
  background: #007ab1 url(/img/shade-intro.png) repeat-x top;
  color: #bfe5f6;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #007ab1;
  padding: 0 0 10px 0;
}

/* line 18, ../scss/components/_intro.scss */
.intro h1 {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 23, ../scss/components/_intro.scss */
.intro p {
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 28, ../scss/components/_intro.scss */
.intro p span {
  color: white;
}

/* line 32, ../scss/components/_intro.scss */
.empty_home {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

/* line 1, ../scss/components/_buttons.scss */
.action_button_container {
  margin: 10px 20px 10px 20px;
  padding: 0;
  list-style: none;
}
/* line 5, ../scss/components/_buttons.scss */
.action_button_container li {
  padding: 10px 0 0 0;
  margin: 0;
}

/* line 11, ../scss/components/_buttons.scss */
.button, .button:visited {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 40px;
  background-image: url(/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 32, ../scss/components/_buttons.scss */
.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* line 38, ../scss/components/_buttons.scss */
.action_button {
  background-color: #86ce50;
}
/* line 40, ../scss/components/_buttons.scss */
.action_button:hover {
  background-color: #7bb84c;
}

/* line 45, ../scss/components/_buttons.scss */
.cancel {
  background-color: #be3557;
}
/* line 47, ../scss/components/_buttons.scss */
.cancel:hover {
  background-color: #972a45;
}

/* line 52, ../scss/components/_buttons.scss */
.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  background-color: #007ab1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

/* line 73, ../scss/components/_buttons.scss */
.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: #0091d2;
}

/* line 78, ../scss/components/_buttons.scss */
.login_button {
  margin-top: -20px;
  width: 200px;
  left: 50%;
  margin-left: -150px;
}

/* line 86, ../scss/components/_buttons.scss */
.submit-buttons {
  padding: 20px 0 0 0;
}

/* line 90, ../scss/components/_buttons.scss */
.submit-buttons a {
  display: block;
  float: left;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px 0 #711f34;
  -webkit-box-shadow: 0 1px 2px #646464;
  -moz-box-shadow: 0 1px 2px #646464;
  box-shadow: 0 1px 2px #646464;
  background-image: url(/img/shade-button.png);
  background-repeat: repeat-x;
  background-position: center;
}

/* line 112, ../scss/components/_buttons.scss */
.submit-buttons a,
.submit-buttons a:visited {
  background-color: #be3557;
}

/* line 116, ../scss/components/_buttons.scss */
.submit-buttons a:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

/* line 121, ../scss/components/_buttons.scss */
.submit-buttons a:hover, .submit-buttons a:active {
  background-color: #972a45;
}

/* Sub- Navigation 
================================================================================ */
/* line 5, ../scss/components/_sub_navigation.scss */
.sub_navigation {
  background-color: #dff5ff;
}

/* line 9, ../scss/components/_sub_navigation.scss */
.sub_navigation_container {
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/components/_sub_navigation.scss */
.sub_navigation_tab {
  list-style: none;
  display: block;
  float: left;
}

/* line 20, ../scss/components/_sub_navigation.scss */
.sub_navigation_link {
  display: block;
  float: left;
  padding: 20px;
  color: #009adb;
}

/* line 27, ../scss/components/_sub_navigation.scss */
.current a {
  background: white;
  color: #009adb;
}

/* Agreement List Style ( used in homepage agreement list, profile, and agreement)
================================================================================ */
/* line 4, ../scss/components/_agreement_list.scss */
.data-table {
  padding: 0 20px 10px 20px;
}

/* line 8, ../scss/components/_agreement_list.scss */
.data-table table {
  width: 100%;
  display: inline-table;
}

/* line 13, ../scss/components/_agreement_list.scss */
.data-table table tr td {
  border-top: 1px solid whitesmoke;
  padding: 10px 20px 10px 0;
  vertical-align: top;
}

/* line 19, ../scss/components/_agreement_list.scss */
.data-table table tr td h3 {
  margin: 10px 0 0 0;
  padding: 0;
}

/* line 24, ../scss/components/_agreement_list.scss */
.data-table table tr td h3.less {
  margin-top: 0;
}

/* line 28, ../scss/components/_agreement_list.scss */
.data-table table tr td p {
  margin: 0;
  padding: 0;
  font-size: .875em;
  color: #969696;
}

/* line 35, ../scss/components/_agreement_list.scss */
.data-table table tr td p.remove {
  background: url(/img/icons/cross-16x16.png) no-repeat left;
  padding-left: 20px;
}

/* line 40, ../scss/components/_agreement_list.scss */
.data-table table tr td.action {
  width: 150px;
  padding: 10px 0;
  text-align: right;
}

/* line 46, ../scss/components/_agreement_list.scss */
.data-table table tr td.meta {
  width: 80px;
  padding: 10px 0;
}

/* line 51, ../scss/components/_agreement_list.scss */
.data-table table tr td.meta span {
  display: block;
  background-color: #f9fafb;
  padding: 4px;
  margin: 0 20px 0 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 61, ../scss/components/_agreement_list.scss */
.data-table table tr td.meta span img {
  display: block;
  width: 50px;
}

/* line 66, ../scss/components/_agreement_list.scss */
.data-table table tr td.progress {
  width: 200px;
  padding: 10px 0;
  text-align: center;
}

/* line 72, ../scss/components/_agreement_list.scss */
.data-table table tr td.progress span {
  display: block;
  margin: 14px 0 13px 0;
  background-color: #dce0e4;
  background-image: url(/img/progress-bar-small.png);
  background-repeat: no-repeat;
}

/* line 80, ../scss/components/_agreement_list.scss */
.data-table table tr td.progress span img {
  display: block;
  width: 200px;
}

/* line 1, ../scss/components/_create_agreement.scss */
.steps {
  background-color: #eef0f2;
  color: #646464;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  float: right;
  padding: 0 10px;
}

/* line 13, ../scss/components/_create_agreement.scss */
.role_type {
  margin-left: 20px;
}

/* line 17, ../scss/components/_create_agreement.scss */
.create_milestone_container {
  padding-bottom: 0;
}

/* line 21, ../scss/components/_create_agreement.scss */
.edit_helper {
  position: absolute;
  top: -47px;
  left: 19px;
}

/* line 27, ../scss/components/_create_agreement.scss */
.send_email {
  text-align: left;
}

/* line 31, ../scss/components/_create_agreement.scss */
.send_header {
  text-align: left;
}

/* line 35, ../scss/components/_create_agreement.scss */
.recipient_input {
  width: 338px;
}

/* line 39, ../scss/components/_create_agreement.scss */
.message_panel {
  left: 30%;
}

/* line 43, ../scss/components/_create_agreement.scss */
.send_email_recipient {
  padding-top: 10px;
}

/* line 47, ../scss/components/_create_agreement.scss */
.personal_message_container {
  padding: 10px 0;
}

/* line 51, ../scss/components/_create_agreement.scss */
.review_container {
  padding: 20px;
}

/* line 55, ../scss/components/_create_agreement.scss */
.deposit_container {
  margin-bottom: 20px;
}

/* line 2, ../scss/components/_agreement.scss */
.meta {
  padding-bottom: 20px;
}

/* line 10, ../scss/components/_agreement.scss */
.agreement_profile_container {
  padding: 15px 20px 15px 20px;
  float: left;
}

/* line 15, ../scss/components/_agreement.scss */
.agreement_title {
  padding: 0;
  margin: 20px 20px 10px 20px;
}

/* line 20, ../scss/components/_agreement.scss */
.payment_milestone_container {
  margin: 0 20px 10px 20px;
  padding: 0;
}

/* line 25, ../scss/components/_agreement.scss */
.payment_milestone {
  border-top: 1px solid whitesmoke;
  padding: 10px 0;
  list-style: none;
}

/* line 31, ../scss/components/_agreement.scss */
.payment_status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: .875em;
  display: block;
  float: right;
  padding: 0 10px;
  text-decoration: none;
  background-color: #eef0f2;
  color: #646464;
}

/* line 45, ../scss/components/_agreement.scss */
.make_payment,
.make_payment {
  background-color: #88cc55;
  color: white;
}

/* line 51, ../scss/components/_agreement.scss */
.make_payment:hover,
.make_payment:active {
  background-color: #7ab74c;
  color: white;
}

/* line 56, ../scss/components/_agreement.scss */
.scope_items_container {
  list-style-type: none;
  margin: 0;
}

/* line 61, ../scss/components/_agreement.scss */
.scope_item {
  padding: 0;
}

/* line 65, ../scss/components/_agreement.scss */
.void_agreement {
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: #eef0f2;
  text-align: center;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 78, ../scss/components/_agreement.scss */
.work_item_container {
  margin: 0;
}

/* line 82, ../scss/components/_agreement.scss */
.edit_work_item {
  margin-top: 20px;
  width: 394px;
}

/* line 87, ../scss/components/_agreement.scss */
.waiting {
  color: white;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

/* line 94, ../scss/components/_agreement.scss */
.home_container {
  min-height: 150px;
}

/* line 1, ../scss/components/_agreement_profile.scss */
.agreement_profile {
  border-bottom: 1px solid #e1e1e1;
}

/* line 5, ../scss/components/_agreement_profile.scss */
.agreement_profile.data-table {
  padding: 10px 20px 0 20px;
}

/* line 9, ../scss/components/_agreement_profile.scss */
.agreement_profile.data-table table tr td {
  border-top: none;
  padding-bottom: 20px;
}

/* line 1, ../scss/components/_popup.scss */
.panel {
  width: 400px;
  position: fixed;
  background: #dedede;
  border-radius: 5px;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  height: auto;
  margin-top: -200px;
  background: #fafafa;
  background-image: -webkit-linear-gradient(white, #fafafa);
  background-image: -moz-linear-gradient(white, #fafafa);
  background-image: -ms-linear-gradient(white, #fafafa);
  background-image: -o-linear-gradient(white, #fafafa);
  background-image: linear-gradient(#ffffff, #fafafa);
  z-index: 10;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 10px 27px rgba(0, 0, 0, 0.7);
}

/* line 24, ../scss/components/_popup.scss */
.cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
}

/* line 38, ../scss/components/_popup.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

/* line 48, ../scss/components/_popup.scss */
.line_item_container {
  list-style: none;
  text-align: right;
}

/* line 53, ../scss/components/_popup.scss */
.line_item_title {
  display: inline-block;
  margin-right: 10px;
}

/* line 58, ../scss/components/_popup.scss */
.line_item_title_small {
  font-size: 12px;
  font-weight: normal;
}

/* line 63, ../scss/components/_popup.scss */
.line_item {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* line 69, ../scss/components/_popup.scss */
.line_item_total {
  font-size: 20px;
}

/* line 73, ../scss/components/_popup.scss */
.pay_header_container {
  padding-bottom: 40px;
}

/* line 77, ../scss/components/_popup.scss */
.pay_header {
  padding: 0;
  margin-bottom: 0;
}

/* line 82, ../scss/components/_popup.scss */
.pay_milestone {
  margin-bottom: 10px;
}

/* line 86, ../scss/components/_popup.scss */
.pay_button {
  width: 340px;
}

/* line 90, ../scss/components/_popup.scss */
.reject_button {
  margin-top: 20px;
  width: 308px;
}

/* line 95, ../scss/components/_popup.scss */
.payment_select_container {
  list-style: none;
  font-size: 14px;
}
/* line 98, ../scss/components/_popup.scss */
.payment_select_container li {
  margin-bottom: 10px;
}

/* line 103, ../scss/components/_popup.scss */
.first_select_info {
  display: inline-block;
}

/* line 107, ../scss/components/_popup.scss */
.payment_select_info {
  margin: 0;
  padding: 0;
}

/* line 112, ../scss/components/_popup.scss */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border: 1px solid #dedede;
  cursor: pointer;
}

/* line 1, ../scss/components/_progress_bars.scss */
.progress-large {
  margin: 20px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f9fafb;
  position: relative;
}

/* line 11, ../scss/components/_progress_bars.scss */
.progress-large span {
  display: block;
  background-color: #dce0e4;
  background-image: url(/img/progress-bar-large.png);
  background-repeat: no-repeat;
}

/* line 18, ../scss/components/_progress_bars.scss */
.progress-large span img {
  display: block;
  width: 900px;
}

/* line 23, ../scss/components/_progress_bars.scss */
progress[value] {
  /* Get rid of the default appearance */
  appearance: none;
  /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
  border: none;
  width: 100%;
  height: 2px;
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
  background-color: #dce0e4;
  /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
  color: royalblue;
  position: relative;
  margin: 15px 0;
  border-radius: 10px;
}

/* line 39, ../scss/components/_progress_bars.scss */
progress[value]::-webkit-progress-bar {
  background-color: #dce0e4;
  border-radius: 10px;
}

/* line 44, ../scss/components/_progress_bars.scss */
progress[value]::-webkit-progress-value {
  position: relative;
  border-radius: 10px;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */
/* line 52, ../scss/components/_progress_bars.scss */
progress[value]::-moz-progress-bar {
  background: #86ce50;
  border-radius: 10px;
}

/* line 57, ../scss/components/_progress_bars.scss */
progress::-webkit-progress-value, progress.yellow_progress {
  background: #86ce50;
  border-radius: 10px;
}

/* Fallback technique styles */
/* line 64, ../scss/components/_progress_bars.scss */
.progress-bar {
  background-color: #86ce50;
  border-radius: 10px;
  /* Dimensions should be similar to the parent progress element. */
  width: 100%;
  height: 2px;
}

/* line 73, ../scss/components/_progress_bars.scss */
.progress-bar span {
  background-color: #dce0e4;
  display: block;
  text-indent: -9999px;
}

/* line 81, ../scss/components/_progress_bars.scss */
.agreement_progress[value] {
  height: 10px;
  border-radius: 10px;
}

/* line 86, ../scss/components/_progress_bars.scss */
.agreement_progress[value]::-webkit-progress-bar {
  height: 10px;
  border-radius: 10px;
}

/* line 92, ../scss/components/_progress_bars.scss */
.agreement_progress[value]::-moz-progress-bar {
  height: 10px;
  border-radius: 10px;
  background: #86ce50;
}

/* line 98, ../scss/components/_progress_bars.scss */
.agreement_progress::-webkit-progress-value, .agreement_progress[value].yellow_progress {
  background: -webkit-linear-gradient(left, #cec150);
  border-radius: 10px;
}

/* line 105, ../scss/components/_progress_bars.scss */
.agreement_progress[value]::-webkit-progress-value {
  position: relative;
  border-radius: 10px;
}

/* line 117, ../scss/components/_progress_bars.scss */
.agreement_progress_bar {
  background-color: #86ce50;
  /* Dimensions should be similar to the parent progress element. */
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

/* line 129, ../scss/components/_progress_bars.scss */
.green_progress {
  background: #86ce50;
}

/* line 133, ../scss/components/_progress_bars.scss */
.yellow_progress {
  background: #cec150;
}

/* line 137, ../scss/components/_progress_bars.scss */
.red_progress {
  background: #ce5058;
}

/* line 141, ../scss/components/_progress_bars.scss */
.grey_progress {
  background: #d4d9de;
}

/* line 145, ../scss/components/_progress_bars.scss */
.icon_container {
  position: absolute;
  top: 14.5px;
  z-index: 5;
}

/* line 151, ../scss/components/_progress_bars.scss */
.create_agreement_navigation_link {
  position: absolute;
  left: 0px;
  text-align: center;
  width: 100px;
}
/* line 156, ../scss/components/_progress_bars.scss */
.create_agreement_navigation_link:hover {
  text-decoration: none;
}

/* line 161, ../scss/components/_progress_bars.scss */
.overview_link {
  left: 0px;
}

/* line 165, ../scss/components/_progress_bars.scss */
.payment_schedule_link {
  left: 150px;
}

/* line 169, ../scss/components/_progress_bars.scss */
.review_link {
  left: 300px;
}

/* line 173, ../scss/components/_progress_bars.scss */
.send_link {
  left: 450px;
}

/* line 177, ../scss/components/_progress_bars.scss */
.create_agreement_icon_container {
  position: absolute;
  top: -22.5px;
  left: -50px;
  z-index: 5;
}

/* line 185, ../scss/components/_progress_bars.scss */
.progress_icon {
  font-size: 26px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* line 192, ../scss/components/_progress_bars.scss */
.create_agreement_progress_icon {
  color: #d4d9de;
  position: relative;
  font-size: 36px;
}

/* line 198, ../scss/components/_progress_bars.scss */
.create_agreement_progress {
  width: 450px;
  float: right;
  margin-right: 60px;
  margin-top: 42px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 207, ../scss/components/_progress_bars.scss */
.create_agreement_navigation {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #dfe3e7;
  color: #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

/* line 222, ../scss/components/_progress_bars.scss */
.create_agreement_navigation_link_hover {
  background: #a9b3bc;
}

/* line 226, ../scss/components/_progress_bars.scss */
.create_agreement_title {
  float: left;
}

/* line 230, ../scss/components/_progress_bars.scss */
.create_agreement_label_first {
  padding-top: 5px;
}

/* line 234, ../scss/components/_progress_bars.scss */
.green_icon {
  color: #86ce50;
}

/** Base container **/
/* line 2, ../scss/components/_kalendae.scss */
.kalendae {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 11px;
  font-family: 'Helvetica Neue', 'Helvetica';
  cursor: default;
  position: relative;
}

/** Popup Container for Kalendae.Input **/
/* line 17, ../scss/components/_kalendae.scss */
.kalendae.k-floating {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 100000;
  margin: 0;
  width: 260px;
  border: 1px solid #dedede;
  margin-top: 10px;
}

/** Kalendae.Input's popup close button **/
/* line 32, ../scss/components/_kalendae.scss */
.kalendae .k-btn-close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #ccc;
  color: #999;
  line-height: 15px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  text-decoration: none;
}

/* line 49, ../scss/components/_kalendae.scss */
.kalendae .k-btn-close:after {
  content: "\2716";
}

/* line 50, ../scss/components/_kalendae.scss */
.kalendae .k-btn-close:hover {
  color: #7EA0E2;
  background: white;
  border-color: #7EA0E2;
}

/** Month Container **/
/* line 57, ../scss/components/_kalendae.scss */
.kalendae .k-calendar {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 240px;
  vertical-align: top;
  font-family: 'Helvetica Neue', 'Helvetica';
}

/** Month Separator **/
/* line 67, ../scss/components/_kalendae.scss */
.kalendae .k-separator {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 2px;
  vertical-align: top;
  background: #ddd;
  height: 155px;
  margin: 0px 10px;
}

/** Month Title Row **/
/* line 70, ../scss/components/_kalendae.scss */
.kalendae .k-title {
  text-align: center;
  white-space: nowrap;
  position: relative;
  color: white;
  background: #008bcc;
  border-radius: 5px;
}

/* line 78, ../scss/components/_kalendae.scss */
.kalendae .k-caption {
  font-size: 18px;
  line-height: 30px;
  font-family: 'museo', 'helvetica-neue', 'sans-serif';
  letter-spacing: 1px;
}

/** Month and Year Buttons **/
/* line 90, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-month,
.kalendae .k-btn-next-month,
.kalendae .k-btn-previous-year,
.kalendae .k-btn-next-year {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  color: white;
  font-size: 26px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'museo', Verdana, Arial, sans-serif;
  text-decoration: none;
}

/* line 104, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-year {
  left: 5px;
}

/* line 107, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-month {
  left: 21px;
}

/* line 110, ../scss/components/_kalendae.scss */
.kalendae .k-btn-next-month {
  right: 21px;
}

/* line 113, ../scss/components/_kalendae.scss */
.kalendae .k-btn-next-year {
  right: 5px;
}

/* line 117, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-month:after {
  content: "\2039";
}

/* line 118, ../scss/components/_kalendae.scss */
.kalendae .k-btn-next-month:after {
  content: "\203A";
}

/* line 120, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-year:after {
  content: "\00AB";
}

/* line 121, ../scss/components/_kalendae.scss */
.kalendae .k-btn-next-year:after {
  content: "\00BB";
}

/* line 124, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-month:hover,
.kalendae .k-btn-next-month:hover {
  color: #7EA0E2;
}

/* line 127, ../scss/components/_kalendae.scss */
.kalendae .k-btn-previous-year:hover,
.kalendae .k-btn-next-year:hover {
  color: #6FDF81;
}

/** Remove extra buttons when calendar shows multiple months **/
/* line 137, ../scss/components/_kalendae.scss */
.kalendae .k-first-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-previous-month,
.kalendae .k-last-month .k-btn-previous-month,
.kalendae .k-first-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-previous-year,
.kalendae .k-last-month .k-btn-previous-year {
  display: none;
}

/** Disable year nav option **/
/* line 141, ../scss/components/_kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-next-year,
.kalendae .k-title.k-disable-year-nav .k-btn-previous-year {
  display: none;
}

/* line 142, ../scss/components/_kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-next-month {
  right: 0;
}

/* line 143, ../scss/components/_kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-previous-month {
  left: 0;
}

/** Force specific width for month container contents **/
/* line 148, ../scss/components/_kalendae.scss */
.kalendae .k-title,
.kalendae .k-header,
.kalendae .k-days {
  width: 240px;
  display: block;
  overflow: hidden;
}

/* line 154, ../scss/components/_kalendae.scss */
.k-days {
  height: 130px;
}

/** Hide unusable buttons **/
/* line 163, ../scss/components/_kalendae.scss */
.kalendae.k-disable-next-month-btn .k-btn-next-month,
.kalendae.k-disable-previous-month-btn .k-btn-previous-month,
.kalendae.k-disable-next-year-btn .k-btn-next-year,
.kalendae.k-disable-previous-year-btn .k-btn-previous-year {
  display: none;
}

/** Week columns and day cells **/
/* line 169, ../scss/components/_kalendae.scss */
.kalendae .k-header span,
.kalendae .k-days span {
  float: left;
  margin: 1px 1px;
}

/* line 174, ../scss/components/_kalendae.scss */
.kalendae .k-header span {
  text-align: center;
  font-weight: bold;
  width: 32px;
  padding: 1px 0;
  font-size: 15px;
  color: #636363;
}

/* line 183, ../scss/components/_kalendae.scss */
.kalendae .k-days span {
  text-align: center;
  width: 32px;
  height: 25px;
  font-size: 15px;
  line-height: 13px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #2e6d9e;
}

/** Today **/
/* line 198, ../scss/components/_kalendae.scss */
.kalendae .k-today {
  text-decoration: underline;
}

/** Days inside of the month view **/
/* line 203, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-in-month.k-active {
  border: none;
  background-color: #fff;
  color: #88b8dd;
}

/** Days outside of the month view (before the first day of the month, after the last day of the month) **/
/* line 209, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-out-of-month {
  color: #cccccc;
}

/** Selectable  **/
/* line 214, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-active {
  cursor: pointer;
}

/** Selected day, when outside the selectable area **/
/* line 219, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-selected {
  color: #1072A5;
}

/** Selected day, when inside the selectable area **/
/* line 224, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-selected.k-active {
  background: #88b8dd;
  color: white;
}

/** Days between the start and end points on a range, outside of the selectable area **/
/* line 230, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-range {
  background: none;
  border-color: #6DD4FE;
}

/** Days between the start and end points on a range, inside of the selectable area **/
/* line 236, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-range.k-in-month {
  background: #C4D4F1;
  border-color: #19AEFE;
  color: #333;
}

/** Selectable day, hovered **/
/* line 243, ../scss/components/_kalendae.scss */
.kalendae .k-days span.k-active:hover {
  border-color: #666;
}

/*-------------------------------------IE8 ONLY CODE BELOW THIS LINE--------------------------------------------*/
/* line 250, ../scss/components/_kalendae.scss */
.kalendae.ie8.k-floating {
  border: 1px solid #ccc;
}

/* line 254, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-close {
  width: 20px;
  height: 20px;
  border: none;
  background: url("close.png") no-repeat top left;
}

/* line 260, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-close:after {
  display: none;
}

/* line 265, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-previous-month,
.kalendae.ie8 .k-btn-next-month,
.kalendae.ie8 .k-btn-previous-year,
.kalendae.ie8 .k-btn-next-year {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: #777777 url("arrows.png") no-repeat center left;
  position: absolute;
  top: 0;
}

/* line 268, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-next-month,
.kalendae.ie8 .k-btn-next-year {
  background-position: center right;
}

/* line 271, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-previous-month:hover,
.kalendae.ie8 .k-btn-next-month:hover {
  background-color: #7EA0E2;
}

/* line 274, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-previous-year,
.kalendae.ie8 .k-btn-next-year {
  background-color: #333;
}

/* line 277, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-previous-year:hover,
.kalendae.ie8 .k-btn-next-year:hover {
  background-color: #6FDF81;
}

/* line 282, ../scss/components/_kalendae.scss */
.kalendae.ie8 .k-btn-previous-month:after,
.kalendae.ie8 .k-btn-next-month:after,
.kalendae.ie8 .k-btn-previous-year:after,
.kalendae.ie8 .k-btn-next-year:after {
  display: none;
}

/* line 1, ../scss/components/_create_estimate.scss */
.addMoreButton {
  width: 100%;
}

/* line 5, ../scss/components/_create_estimate.scss */
.add-more {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  background: url(/img/icons/add-16x16.png) no-repeat left;
}

/* line 11, ../scss/components/_create_estimate.scss */
.remove_icon {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  background: url(/img/icons/cross-16x16.png) no-repeat left;
}

/* line 17, ../scss/components/_create_estimate.scss */
.bottom_divider {
  border-bottom: 1px solid #dedede;
}

/* line 1, ../scss/components/_review_agreement.scss */
.review_title {
  font-family: museo;
  font-weight: 100;
  font-size: 35px;
  text-align: center;
  color: white;
  background: #008fd1;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px 0px #999999;
  margin-top: 10px;
}

/* line 15, ../scss/components/_review_agreement.scss */
.review_agreement_container {
  padding: 15px 20px;
  border: 1px solid #dedede;
  box-shadow: 0 0 1px 0 #dedede;
  width: 660px;
  margin: 0 auto;
}
/* line 22, ../scss/components/_review_agreement.scss */
.review_agreement_container .agreement_title {
  font-family: museo_sans;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}
/* line 27, ../scss/components/_review_agreement.scss */
.review_agreement_container .agreement_title span {
  display: none;
}
/* line 31, ../scss/components/_review_agreement.scss */
.review_agreement_container .payment_milestone_container:nth-child(n+2n) {
  background: #972b46;
}
/* line 34, ../scss/components/_review_agreement.scss */
.review_agreement_container .payment_milestone {
  color: #333333;
}

/* line 39, ../scss/components/_review_agreement.scss */
.review_agreement_total {
  border-top: 2px solid #008fd1;
  padding-top: 10px;
}

/* line 44, ../scss/components/_review_agreement.scss */
.review_continue {
  padding-top: 20px;
  margin-top: 20px;
}

/* line 49, ../scss/components/_review_agreement.scss */
.review_continue_button {
  padding: 0 20px;
}

/* line 53, ../scss/components/_review_agreement.scss */
.edit_summary {
  width: 100%;
}

/* line 57, ../scss/components/_review_agreement.scss */
.edit_title {
  line-height: 40px;
}

/* line 1, ../scss/components/_create_work_item.scss */
.create_scope_item_container {
  margin-left: 40px;
  margin-top: 20px;
  list-style-type: none;
  width: 375px;
  padding-left: 0;
}

/* line 9, ../scss/components/_create_work_item.scss */
.create_scope_item {
  position: relative;
  border: 1px solid #dedede;
  padding: 5px;
  margin-bottom: 15px;
}

/* line 16, ../scss/components/_create_work_item.scss */
.create_scope_label {
  display: inline;
}

/* line 21, ../scss/components/_create_work_item.scss */
.create_scope_item_delete {
  color: #972b46;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bold;
  text-decoration: none;
}
/* line 29, ../scss/components/_create_work_item.scss */
.create_scope_item_delete:hover {
  color: #972b46;
  text-decoration: none;
}

/* line 35, ../scss/components/_create_work_item.scss */
.add_work_item_error {
  color: #972b46;
  margin-left: 40px;
}

/* line 1, ../scss/components/_discussion_container.scss */
.discussion_container {
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 20px;
  min-height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  background: #dbe0e6;
  max-height: 370px;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 15, ../scss/components/_discussion_container.scss */
.add_comment_container {
  height: 75px;
  margin: 5px;
  padding: 10px;
}

/* line 21, ../scss/components/_discussion_container.scss */
.inline {
  display: inline-block;
}

/* line 25, ../scss/components/_discussion_container.scss */
.enter_comment_input {
  width: 100%;
  height: 75px;
  border-radius: 5px;
}

/* line 31, ../scss/components/_discussion_container.scss */
.comment_action_container {
  float: right;
  height: 80px;
}

/* line 36, ../scss/components/_discussion_container.scss */
.comment_container {
  padding: 10px 0;
  min-height: 140px;
  margin-bottom: 20px;
}

/* line 42, ../scss/components/_discussion_container.scss */
.discussion_placeholder {
  text-align: center;
  color: #b3b3b3;
  text-align: center;
  line-height: 27px;
  color: #b3b3b3;
  font-size: 22px;
  margin-top: 90px;
}

/* line 52, ../scss/components/_discussion_container.scss */
.comment_date {
  font-size: 12px;
  color: #969696;
  line-height: 14px;
}

/* line 58, ../scss/components/_discussion_container.scss */
.comment_name {
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 900;
  display: inline-block;
  line-height: 14px;
  margin-top: 10px;
}

/* line 67, ../scss/components/_discussion_container.scss */
.milestone_tag, .status_tag {
  font-family: museo;
  font-weight: 100;
  font-size: 16px;
  position: absolute;
}

/* line 74, ../scss/components/_discussion_container.scss */
.milestone_tag {
  color: #7bb84c;
  bottom: 0;
  right: 20px;
}

/* line 80, ../scss/components/_discussion_container.scss */
.status_tag {
  color: #008bc7;
  bottom: 0;
}

/* line 86, ../scss/components/_discussion_container.scss */
.comment_body {
  font-weight: 300;
  padding: 0;
}

/* line 91, ../scss/components/_discussion_container.scss */
.send_comment {
  color: white;
  background: #009adb;
  border-radius: 5px;
  padding: 10px 21px;
}
/* line 96, ../scss/components/_discussion_container.scss */
.send_comment:hover {
  color: white;
  text-decoration: none;
  background: #008bc7;
}

/* line 103, ../scss/components/_discussion_container.scss */
.comment_select_padding {
  margin-left: 10px;
}

/* line 107, ../scss/components/_discussion_container.scss */
.selectdiv {
  display: inline-block;
  width: 175px;
  border: 1px solid #969696;
  height: 40px;
  background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right center;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  line-height: 40px;
  top: 15px;
}

/* line 120, ../scss/components/_discussion_container.scss */
.selectdiv:hover, .selectdiv:focus {
  width: 175px;
  border: 1px solid #009adb;
  height: 40px;
  background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
  border-radius: 3px;
  cursor: pointer;
}

/* line 129, ../scss/components/_discussion_container.scss */
.out {
  z-index: -1;
  border: 0px solid #000;
  height: 40px;
  overflow: hidden;
  padding: 1px 0px 0px 5px;
  cursor: pointer;
}

/* line 138, ../scss/components/_discussion_container.scss */
.selectboxdiv {
  height: 40px;
  left: -10px;
  margin-top: 0;
  position: absolute;
  width: 175px;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
  margin-top: 10px;
}

/* line 154, ../scss/components/_discussion_container.scss */
.active_select {
  border: 1px solid #009adb;
}

/* line 158, ../scss/components/_discussion_container.scss */
.message_photo_container {
  text-align: center;
  border-radius: 15px;
  width: 75px;
  margin: 0 auto;
}

/* line 165, ../scss/components/_discussion_container.scss */
.message_photo {
  width: 70px;
  border-radius: 20px;
}

/* line 170, ../scss/components/_discussion_container.scss */
.comment_post_info {
  position: relative;
  text-align: center;
  margin-top: -11px;
}

/* line 176, ../scss/components/_discussion_container.scss */
.personal_box {
  border-radius: 40px;
  border: 1px solid #dedede;
  padding: 8px 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 1px #d4d4d4;
  -moz-box-shadow: 2px 1px 1px #d4d4d4;
  box-shadow: 2px 1px 1px #d4d4d4;
}

/* line 186, ../scss/components/_discussion_container.scss */
.message_box {
  border-radius: 30px;
  border: 1px solid #dedede;
  padding: 5px 27px;
  width: 630px;
  min-height: 66px;
  margin: 0 auto;
  background: white;
  position: relative;
  -webkit-box-shadow: 2px 1px 1px #d4d4d4;
  -moz-box-shadow: 2px 1px 1px #d4d4d4;
  box-shadow: 2px 1px 1px #d4d4d4;
}

/* line 200, ../scss/components/_discussion_container.scss */
.float_left {
  float: left;
}

/* line 204, ../scss/components/_discussion_container.scss */
.float_right {
  float: right;
}

/* line 1, ../scss/components/_agreement_history.scss */
.agreement_history {
  background-color: #f9fafb;
  border-top: 1px solid #e1e1e1;
}

/* line 6, ../scss/components/_agreement_history.scss */
.agreement_history_items_container {
  margin: 0 20px;
  padding: 0;
}

/* line 11, ../scss/components/_agreement_history.scss */
.agreement_history_items {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
  list-style: none;
}

/* line 1, ../scss/components/_account.scss */
.check_image {
  background: url(/img/check_image.png) no-repeat 470px 184px;
}

/* line 5, ../scss/components/_account.scss */
.account_secure {
  padding-left: 20px;
  width: 150px;
}

/* line 10, ../scss/components/_account.scss */
.stored_payment_methods {
  float: right;
  margin-right: 230px;
}

/* line 15, ../scss/components/_account.scss */
.credit_card_images {
  padding-left: 20px;
  position: absolute;
  top: 16px;
  right: 55px;
  width: 200px;
}

/* FOOTER
================================================================================ */
/* line 5, ../scss/components/_footer.scss */
.footer {
  background: #8c96a0 url(/img/shade-footer.png) repeat-x bottom;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #7d7d7d;
  padding-bottom: 10px;
}

/* line 17, ../scss/components/_footer.scss */
.footer_title {
  color: #dce1e6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* line 23, ../scss/components/_footer.scss */
.footer_link {
  color: white;
}
/* line 25, ../scss/components/_footer.scss */
.footer_link:visited, .footer_link:active {
  color: white;
}

/* line 30, ../scss/components/_footer.scss */
.footer_link_container {
  margin-left: 0;
  list-style-type: none;
}

/* COPYRIGHT
================================================================================ */
/* line 7, ../scss/components/_copyright.scss */
.copyright {
  margin: 0;
  padding: 20px;
  font-size: 13px;
  color: #545a60;
  text-align: center;
}

/* line 15, ../scss/components/_copyright.scss */
.copyright_login {
  position: absolute;
  bottom: 0;
}

/* line 8, ../scss/layouts/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

/* line 14, ../scss/layouts/_layout.scss */
.clear {
  float: left;
  width: 100%;
  clear: both;
}

/* line 20, ../scss/layouts/_layout.scss */
.column-full {
  width: 960px;
}

/* line 21, ../scss/layouts/_layout.scss */
.column-three-fourth {
  width: 720px;
}

/* line 22, ../scss/layouts/_layout.scss */
.column-two-third {
  width: 640px;
}

/* line 23, ../scss/layouts/_layout.scss */
.column-one-half {
  width: 480px;
}

/* line 24, ../scss/layouts/_layout.scss */
.column-one-third {
  width: 320px;
}

/* line 25, ../scss/layouts/_layout.scss */
.column-one-fourth {
  width: 240px;
}

/* line 28, ../scss/layouts/_layout.scss */
.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third, .column-three-fourth, .column-full {
  float: left;
}
