/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.7/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* RESET
================================================================================ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 26, ../scss/bases/_landing.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

/* line 36, ../scss/bases/_landing.scss */
body {
  line-height: 1.5em;
  background: white;
}

/* line 41, ../scss/bases/_landing.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../scss/bases/_landing.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../scss/bases/_landing.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../scss/bases/_landing.scss */
img, video {
  max-width: 320px;
}

/* COMMON
================================================================================ */
/* line 63, ../scss/bases/_landing.scss */
body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #dce0e4 url(../img/bg.png);
  color: #646464;
}

/* line 71, ../scss/bases/_landing.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #0099dd;
}

/* line 77, ../scss/bases/_landing.scss */
a:hover,
a:active {
  text-decoration: underline;
  color: #0089c6;
}

/* line 82, ../scss/bases/_landing.scss */
p, ul, ol, dl {
  padding: 0 20px;
  margin-bottom: 20px;
}

/* line 87, ../scss/bases/_landing.scss */
ul, ol {
  margin-left: 30px;
}

/* line 91, ../scss/bases/_landing.scss */
strong {
  font-weight: bold;
}

/* line 95, ../scss/bases/_landing.scss */
h1, h2, h3 {
  color: black;
  padding: 0 20px;
  font-family: "Museo", Helvetica, Arial, sans-serif;
}

/* line 101, ../scss/bases/_landing.scss */
h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
}

/* line 108, ../scss/bases/_landing.scss */
h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

/* line 115, ../scss/bases/_landing.scss */
h3 {
  font-weight: 300;
  font-size: 1.4em;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}

/* line 122, ../scss/bases/_landing.scss */
h4 {
  font-weight: bold;
  font-size: 1em;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}

/* line 1, ../scss/components/_noscript.scss */
.noscriptmsg p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: #dce0e4 url(../img/bg.png);
  padding: 20px;
  top: 25%;
  z-index: 5;
}

/* line 12, ../scss/components/_noscript.scss */
.hidden {
  display: none;
}

/* NAVIGATION (landing)
================================================================================ */
/* line 4, ../scss/components/_landingnavigation.scss */
#navigation ul {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 10, ../scss/components/_landingnavigation.scss */
#navigation ul li {
  display: block;
  float: left;
  padding: 15px 0 15px 10px;
}

/* line 17, ../scss/components/_landingnavigation.scss */
#navigation ul li a:link,
#navigation ul li a:visited {
  display: block;
  float: left;
  padding: 4px 14px;
  color: #686e74;
  /*background-color: rgb(220,224,228);*/
  background: #CFD4DD;
  background: linear-gradient(to bottom, #cfd4dd 0%, #b7bfcc 100%);
  background: -moz-linear-gradient(top, #cfd4dd 0%, #b7bfcc 100%);
  background: -webkit-linear-gradient(top, #cfd4dd 0%, #b7bfcc 100%);
  background: -o-linear-gradient(top, #cfd4dd 0%, #b7bfcc 100%);
  background: -ms-linear-gradient(top, #cfd4dd 0%, #b7bfcc 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #e6eaee;
}

/* line 36, ../scss/components/_landingnavigation.scss */
#navigation ul li a:hover,
#navigation ul li a:active {
  background: #e6eaee;
  border: 1px solid #f0f4f8;
}

/* line 42, ../scss/components/_landingnavigation.scss */
#navigation p {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background: transparent url(../img/logo.png) no-repeat left;
  float: left;
}

/* line 54, ../scss/components/_landingnavigation.scss */
#navigation p a:link,
#navigation p a:visited {
  color: black;
  display: block;
  padding: 18px 20px 22px 70px;
  text-decoration: none;
}

/* line 62, ../scss/components/_landingnavigation.scss */
#navigation p a:hover,
#navigation p a:active {
  color: #646464;
}

/* LANDING INTRO
================================================================================ */
/* line 5, ../scss/components/_landingintro.scss */
#intro {
  background: #007ab1 url(../images/shade-intro.png) repeat-x top;
  color: #bfe5f6;
  border-bottom: 1px solid #007ab1;
  padding: 20px 0 20px 0;
  color: #cde6f0;
}

/* line 13, ../scss/components/_landingintro.scss */
#intro .dot {
  border: 5px solid white;
  border-radius: 200px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 20px #555;
  display: block;
  margin: 20px 0 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* line 28, ../scss/components/_landingintro.scss */
#intro h2,
#intro h3,
#intro p {
  text-align: center;
}

/* line 32, ../scss/components/_landingintro.scss */
#intro h1 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin-bottom: 0;
}

/* line 39, ../scss/components/_landingintro.scss */
#intro h2 {
  font-family: "Museo-Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  margin: 0 0 18px 0;
}

/* line 46, ../scss/components/_landingintro.scss */
#intro h3 {
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  margin: 20px 0 8px 0;
}

/* line 53, ../scss/components/_landingintro.scss */
#intro small {
  margin-left: 320px;
  font-style: italic;
  padding: 20px;
}

/* LANDING INTERNAL
================================================================================ */
/* line 5, ../scss/components/_landinginternal.scss */
#internal {
  background: #CEEAF3;
  border-top: 1px solid white;
  background: #dce0e4 url(../images/bg.png);
  border-bottom: 1px solid #b8bec4;
}

/* line 12, ../scss/components/_landinginternal.scss */
#internal ul {
  padding: 0;
  margin: 0;
}

/* line 17, ../scss/components/_landinginternal.scss */
#internal ul li {
  list-style: none;
  display: block;
  float: left;
  /*outline: 1px solid white;*/
}

/* line 24, ../scss/components/_landinginternal.scss */
#internal ul li a {
  display: block;
  float: left;
  padding: 20px;
  font-weight: bold;
}

/* line 31, ../scss/components/_landinginternal.scss */
#internal ul li.current a {
  outline: 1px solid white;
  background: white;
  outline: 1px solid white;
}

/* line 37, ../scss/components/_landinginternal.scss */
#internal ul li.action-button {
  padding: 10px 0;
  margin: 0;
  float: right;
}

/* line 43, ../scss/components/_landinginternal.scss */
#internal ul li.action-button a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(../images/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 62, ../scss/components/_landinginternal.scss */
#internal ul li.action-button a:link,
#internal ul li.action-button a:visited {
  background-color: #88cc55;
}

/* line 67, ../scss/components/_landinginternal.scss */
#internal ul li.action-button a:hover,
#internal ul li.action-button a:active {
  background-color: #7ab74c;
}

/* CONTENT
================================================================================ */
/* line 4, ../scss/components/_landingcontent.scss */
#content p {
  text-align: left;
  width: 500px;
  /*to maximize readability - 66-75 characters per line*/
}

/* line 9, ../scss/components/_landingcontent.scss */
#content h4 {
  width: 520px;
}

/* line 13, ../scss/components/_landingcontent.scss */
#content {
  background-color: white;
  padding: 20px 0;
}

/* line 18, ../scss/components/_landingcontent.scss */
#content ul.features {
  margin: 0 0 15px 0;
}

/* line 22, ../scss/components/_landingcontent.scss */
#content ul.features li {
  background: transparent url(../img/thumb_up-16x16.png) no-repeat left;
  padding: 10px 10px 10px 25px;
  list-style: none;
  border-top: 1px solid whitesmoke;
}

/* line 29, ../scss/components/_landingcontent.scss */
#content form {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 20px 10px;
}

/* line 40, ../scss/components/_landingcontent.scss */
#content form legend {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  color: black;
}

/* line 51, ../scss/components/_landingcontent.scss */
#content form legend.secure {
  padding: 0 0 0 26px;
  background-image: url(../img/lock-16x16.png);
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 58, ../scss/components/_landingcontent.scss */
#content form fieldset {
  margin: 0;
  padding: 10px 0 0 0;
}

/* line 63, ../scss/components/_landingcontent.scss */
#content form label {
  display: block;
  padding: 10px 0 5px 0;
  color: black;
  font-weight: bold;
}

/* line 70, ../scss/components/_landingcontent.scss */
#content form div.input-box {
  margin: 0;
  padding: 0;
}

/* line 75, ../scss/components/_landingcontent.scss */
#content form input.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #c8c8c8;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 86, ../scss/components/_landingcontent.scss */
#content form input.text-field:focus {
  outline: none;
  border: 1px solid #646464;
}

/* line 91, ../scss/components/_landingcontent.scss */
#content form input.submit-button {
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  background-color: #007ab1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(../img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

/* line 112, ../scss/components/_landingcontent.scss */
#content form input.submit-button:hover,
#content form input.submit-button:focus {
  outline: none;
  background-color: #0091d2;
}

/* line 117, ../scss/components/_landingcontent.scss */
#content form label span.validation {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  color: red;
  text-align: right;
  font-weight: normal;
}

/* line 126, ../scss/components/_landingcontent.scss */
#content .border {
  border: 1px solid red !important;
}

/* line 130, ../scss/components/_landingcontent.scss */
.fixed {
  position: fixed;
  bottom: 0;
}

/* line 135, ../scss/components/_landingcontent.scss */
.line {
  border-bottom: 1px solid #b8bec4;
}

/* line 139, ../scss/components/_landingcontent.scss */
#logindiv form {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 151, ../scss/components/_landingcontent.scss */
#logindiv form legend {
  float: left;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  color: black;
}

/* line 163, ../scss/components/_landingcontent.scss */
#logindiv form legend.secure {
  padding: 0 0 0 26px;
  background-image: url(../img/lock-16x16.png);
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 170, ../scss/components/_landingcontent.scss */
#logindiv form fieldset {
  margin: 0;
  /*padding: 10px 0 0 0;*/
}

/* line 175, ../scss/components/_landingcontent.scss */
#logindiv form label {
  display: block;
  padding: 7px 0 5px 0;
  color: black;
  font-weight: bold;
}

/* line 182, ../scss/components/_landingcontent.scss */
#logindiv form div.input-box {
  margin: 0;
  padding: 0;
}

/* line 187, ../scss/components/_landingcontent.scss */
#logindiv form input.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #c8c8c8;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 199, ../scss/components/_landingcontent.scss */
#logindiv form input.text-field:focus {
  outline: none;
  border: 1px solid #646464;
}

/* line 204, ../scss/components/_landingcontent.scss */
#logindiv form input.submit-button {
  float: right;
  font-size: 1em;
  padding: 10px 20px;
  margin-top: -20px;
  font-weight: bold;
  border: none;
  width: 200px;
  color: white;
  background-color: #007ab1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-image: url(../img/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  left: 50%;
  margin-left: -150px;
}

/* line 227, ../scss/components/_landingcontent.scss */
#logindiv form input.submit-button:hover,
#logindiv form input.submit-button:focus {
  outline: none;
  background-color: #0091d2;
}

/* line 232, ../scss/components/_landingcontent.scss */
#logindiv form label span.validation {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  color: red;
  text-align: right;
  font-weight: normal;
}

/* line 241, ../scss/components/_landingcontent.scss */
.login {
  height: 200px;
  width: 220px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -149px;
  margin-top: -119px;
}

/* line 251, ../scss/components/_landingcontent.scss */
#logindiv p.faux-label {
  display: block;
  font-size: .75em;
  color: #969696;
  padding: 0px;
  margin-bottom: 22px;
}

/* line 259, ../scss/components/_landingcontent.scss */
#logindiv.login form {
  height: 205px;
  width: 298px;
  position: fixed;
  top: 35%;
  left: 50%;
  margin-left: -149px;
  margin-top: -119px;
}

/*.faq {
  width: ;
}*/
/* line 274, ../scss/components/_landingcontent.scss */
.faqnav {
  font-size: 14px;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  list-style-type: none;
  padding: 0px;
  margin: 20px 0px 0px 30px;
  position: fixed;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #ddd;
}

/* line 286, ../scss/components/_landingcontent.scss */
.faqnav li {
  padding: 5px 10px;
  width: 285px;
  overflow: hidden;
}

/* line 292, ../scss/components/_landingcontent.scss */
.faqnav a {
  width: 100%;
  padding: 5px 235px;
  margin: 0px -235px;
}

/* line 298, ../scss/components/_landingcontent.scss */
.faqnav a:hover {
  text-decoration: none;
  color: #0072a3;
}

/* line 303, ../scss/components/_landingcontent.scss */
.faqcontent {
  width: 600px;
  min-height: 600px;
  margin-left: 350px;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 313, ../scss/components/_landingcontent.scss */
.faqcontent li {
  width: 500px;
}

/* line 317, ../scss/components/_landingcontent.scss */
.faqnav .current {
  background: #0099dd;
  color: white;
}

/* line 322, ../scss/components/_landingcontent.scss */
.faqnav .current a {
  color: white;
}

/* line 326, ../scss/components/_landingcontent.scss */
div.faqcontent h2 {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  width: 550px;
}

/* line 331, ../scss/components/_landingcontent.scss */
.section {
  display: none;
}

/* line 335, ../scss/components/_landingcontent.scss */
#what {
  display: block;
}

/* line 339, ../scss/components/_landingcontent.scss */
#introduction {
  display: block;
}

/* line 343, ../scss/components/_landingcontent.scss */
.box {
  border: 1px solid black;
  margin: 15px;
  padding: 5px;
  width: 525px;
}

/* line 350, ../scss/components/_landingcontent.scss */
.title {
  color: black;
  background: #ddd;
  opacity: .5;
}

/* line 356, ../scss/components/_landingcontent.scss */
.title a:hover {
  color: black;
}

/* line 360, ../scss/components/_landingcontent.scss */
#log_out {
  display: none;
}

/* line 364, ../scss/components/_landingcontent.scss */
#server_error {
  color: red;
}

/* line 368, ../scss/components/_landingcontent.scss */
.invalid {
  padding-bottom: 25px;
}

/* COPYRIGHT
================================================================================ */
/* line 5, ../scss/components/_landingcopyright.scss */
#copyright {
  border-top: 1px solid #b8bec4;
}

/* line 9, ../scss/components/_landingcopyright.scss */
#copyright p {
  margin: 0;
  padding: 20px;
  font-size: 12px;
  color: #7c8288;
}

/* @import "components/link";
@import "components/heading";
@import "components/form";
@import "components/message";
@import "components/button";
@import "components/pager";*/
/* line 8, ../scss/layouts/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

/* line 14, ../scss/layouts/_layout.scss */
.clear {
  float: left;
  width: 100%;
  clear: both;
}

/* line 20, ../scss/layouts/_layout.scss */
.column-three-fourth {
  width: 720px;
}

/* line 21, ../scss/layouts/_layout.scss */
.column-two-third {
  width: 640px;
}

/* line 22, ../scss/layouts/_layout.scss */
.column-one-half {
  width: 480px;
}

/* line 23, ../scss/layouts/_layout.scss */
.column-one-third {
  width: 320px;
}

/* line 24, ../scss/layouts/_layout.scss */
.column-one-fourth {
  width: 240px;
}

/* line 27, ../scss/layouts/_layout.scss */
.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third, .column-three-fourth {
  float: left;
}
