
<div id="copyright" class="clear">
  <div class="container">
    <p>Copyright &#169; 2013 Wurk Happy. All Rights Reserved &nbsp; &bull; &nbsp;
      <a href="/legal/terms.html">Terms of Service</a> &nbsp; &bull; &nbsp;
      <a href="/legal/privacy.html">Privacy Policy</a>&nbsp; &bull; &nbsp;
      <a href="/help/faq.html">FAQ</a>
    </p>
  </div>
</div>

<!-- Javascript at the bottom for fast page loading -->

<!--<script src="js/lib/jquery/jquery.js"></script>-->

<!-- scripts concatenated and minified via ant build script -->
<!--<script src="js/mainlanding.js"></script>-->
<!-- end concatenated and minified scripts-->


<script data-main="/js/config" src="/js/lib/requirejs/require.js"></script>
<script>
  // Load common code that includes config, then load the app logic for
  // this page. Do the require calls here instead of a separate file
  // so after a build there are only 2 HTTP requests instead of three.
  require(['config'], function(config) {
    // baseUrl is js/ so we can just ask for `app/main` here instead of `js/app/main`.
    require(['app/<!-- @appfile -->']);
  });
</script>
<!--<script type="text/javascript"> TODO: Enable this code?
  $(window).unload(function() {
    _gaq.push(['_trackEvent', 'Unload']);
  });
</script>-->




</body>
</div>
</html>
